/*!
* ----------------------------------------------------------------------------------------------
* _form-input-range.css
* ----------------------------------------------------------------------------------------------
* form > input[type="range"]
*
* Input range CSS generators:
* http://danielstern.ca/range.css/
* http://www.cssportal.com/style-input-range/
*/


input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 37px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);/* remove white-blue background color on tap or on touch in chrome for android. */
}

input[type="range"]:disabled {
    /* this covered beginning part but not for thumb and track at the end. the last part of track will be covered by track selector */
    cursor: not-allowed;
}


/* input range thumb (can't use comma separate for ::-moz-xxx and ::-webkit-xxx) */
input[type="range"]::-moz-range-thumb {
    background-color: var(--rdta-tpf-block-background-color);
    border: 1px solid var(--rdta-tpf-input-range-thumb-border-color);
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 30px;
    width: 15px;
}

input[type="range"]:disabled::-moz-range-thumb {
    background-color: var(--rdta-tpf-block-background-color);
    border-color: hsl(from var(--rdta-tpf-block-background-color) h s calc(l - 15));
    cursor: not-allowed;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--rdta-tpf-block-background-color);
    border: 1px solid var(--rdta-tpf-input-range-thumb-border-color);
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 30px;
    margin-top: -14px;
    width: 15px;
}

input[type="range"]:disabled::-webkit-slider-thumb {
    background-color: var(--rdta-tpf-block-background-color);
    border-color: hsl(from var(--rdta-tpf-block-background-color) h s calc(l - 15));
    cursor: not-allowed;
}
/* end input range thumb */


/* input range track (can't use comma separate for ::-moz-xxx and ::-webkit-xxx) */
input[type="range"]::-moz-range-track {
    background-color: var(--rdta-tpf-input-range-track-color);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 3px;
}

input[type="range"]:disabled::-moz-range-track {
    background-color: var(--rdta-tpf-block-background-color);
    cursor: not-allowed;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--rdta-tpf-input-range-track-color);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 3px;
}

input[type="range"]:disabled::-webkit-slider-runnable-track {
    background-color: var(--rdta-tpf-block-background-color);
    cursor: not-allowed;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background-color: var(--rdta-tpf-input-range-track-color);
}
/* end input range track */


/* input range progress */
input[type="range"]::-moz-range-progress {
    background-color: var(--rdta-tpf-input-range-progress-color);
}

input[type="range"]:disabled::-moz-range-progress {
    background-color: hsl(from var(--rdta-tpf-block-background-color) h s calc(l - 10));
}
/* @todo[rdta] range progress currently is not available for Webkit engine such as Chrome, Edge, etc. */
/* end input range progress */
