/*!
* ----------------------------------------------------------------------------------------------
* _form-input-range.css
* ----------------------------------------------------------------------------------------------
* form > input[type="range"]
*
* Input range CSS generators:
* http://danielstern.ca/range.css/
* http://www.cssportal.com/style-input-range/
*/


input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    height: 37px;
    margin: 10px 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);/* remove white-blue background color on tap or on touch in chrome for android. */
}


/* input range thumb */
input[type=range]::-moz-range-thumb {
    background: var(--rdta-tpf-block-background-color);
    border: 1px solid var(--rdta-tpf-input-range-thumb-border-color);
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 30px;
    width: 15px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--rdta-tpf-block-background-color);
    box-shadow: none;
    border: 1px solid var(--rdta-tpf-input-range-thumb-border-color);
    border-radius: 0px;
    cursor: pointer;
    height: 30px;
    margin-top: -14px;
    width: 15px;
}
/* end input range thumb */


/* input range track */
input[type=range]::-moz-range-track {
    animate: 0.2s;
    background: var(--rdta-tpf-input-range-track-color);
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
    animate: 0.2s;
    background: var(--rdta-tpf-input-range-track-color);
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--rdta-tpf-input-range-track-color);
}
/* end input range track */


/* microsoft edge styles */
input[type=range]::-ms-track {
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: 3px;
    /* track must stay before thumb. */
}

input[type=range]::-ms-thumb {
    background: var(--rdta-tpf-block-background-color);
    border: 1px solid var(--rdta-tpf-input-range-thumb-border-color);
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 30px;
    margin-top: 1px;
    top: 22px;
    width: 15px;
}

input[type=range]::-ms-fill-lower {
    background: var(--rdta-tpf-input-range-track-color);
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: none;
}

input[type=range]::-ms-fill-upper {
    background: var(--rdta-tpf-input-range-track-color);
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: none;
}

input[type=range]:focus::-ms-fill-lower {
    /* fill track on the left. */
    background: var(--rdta-tpf-input-range-track-color);
}

input[type=range]:focus::-ms-fill-upper {
    /* fill track on the right. */
    background: var(--rdta-tpf-input-range-track-color);
}
/* end microsoft edge styles */
