/* Auto generate by Sass. */
:root {
  --rdta-tpf-basic-focus-color: rgba(153, 153, 153, 0.35);
  --rdta-tpf-form-focus-color: rgba(255, 182, 0, 0.35);
  --rdta-tpf-form-invalid-border-color: #bc0000;
  --rdta-tpf-button-3d-height: 2px;
  --rdta-tpf-button-3d-pressed-height: 1px;
  --rdta-tpf-button-3d-edge-color: rgba(0, 0, 0, 0.1);
  --rdta-tpf-input-range-thumb-border-color: #aaa;
  --rdta-tpf-input-range-track-color: #ddd;
  --rdta-tpf-page-background-color: #fff;
  --rdta-tpf-page-text-color: #333;
  --rdta-tpf-block-background-color: #eee;
  --rdta-tpf-block-border-color: #ddd;
  --rdta-tpf-content-block-element-margin-vertical: 0.625rem;
  --rdta-tpf-table-cell-padding: 0.313em;
  --rdta-tpf-text-disabled-color: #999;
  --rdta-tpf-text-link-color: #1280EF;
}