/*
* ----------------------------------------------------------------------------------------------
* rundiz template for admin - layout for styling grid, columns
* ----------------------------------------------------------------------------------------------
* This use CSS `display: flex`, not `display: grid`. It is alternative for *_layout-displaygrid.scss* file.
*/


@import '_variables';


@import '../_css-variables';
@import '_layout-common';
@import '_layout-common-sidebar';


.rd-page-wrapper {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: 100%;
    position: relative;
    &::after {
        clear: both;
        content: '';
        display: table;
    }

    // .rd-page-wrapper > footer
    > footer {
        align-self: flex-end;
        background-color: transparent;
        color: #888;
        display: none;// when visible in the larger screen size, use flex
        flex-basis: 100%;
        font-size: 0.688em;
        min-height: 1.250rem;
        padding: 0.313rem var(--block-element-padding-horizontal);

        // .rd-page-wrapper > footer a
        a {
            color: inherit;
        }

        // .rd-page-wrapper > footer .rd-page-footer-left
        .rd-page-footer-left {
            margin-left: 0;
            margin-right: 0;
            padding-right: var(--block-element-padding-horizontal);
        }

        // .rd-page-wrapper > footer .rd-page-footer-right
        .rd-page-footer-right {
            margin-left: auto;
            margin-right: 0;
            padding-left: var(--block-element-padding-horizontal);
        }
    }

    // .rd-page-wrapper > main
    > main {
        align-self: flex-start;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    // .rd-page-wrapper .rd-sidebar
    @include rd-sidebar;

    // .rd-page-wrapper.mini-screen-sidebar-visible
    @include rd-page-wrapperMini-screen-sidebar-visible;

    // .rd-page-wrapper in @media query
    @media (min-width: $minimum-sidebar-breakpoint) {
        // .rd-page-wrapper > footer
        > footer {
            display: flex;
            flex-basis: calc(100% - var(--sidebar-expanded-width));
            transform: translateX(var(--sidebar-expanded-width));
            transition: flex-basis var(--sidebar-transition-seconds), transform var(--sidebar-transition-seconds);
        }

        // .rd-page-wrapper .rd-sidebar
        .rd-sidebar {
            align-self: self-start;
            background-color: transparent;
            display: block;
            position: relative;
            transition: width var(--sidebar-transition-seconds);
            width: var(--sidebar-expanded-width);

            // .rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list
            ul.rd-sidebar-item-list {
                > li {
                    // .rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list > li > a
                    >a {
                        padding: var(--block-element-padding-vertical) 1.125rem var(--block-element-padding-vertical) var(--block-element-padding-horizontal);
                    }
                }
            }
        }
        // .rd-page-wrapper.is-collapsed
        &.is-collapsed {
            // .rd-page-wrapper.is-collapsed > footer
            > footer {
                flex-basis: calc(100% - var(--sidebar-collapsed-width));
                transform: translateX(var(--sidebar-collapsed-width));
            }

            // .rd-page-wrapper.is-collapsed .rd-sidebar
            @include rd-page-wrapperIs-collapsed_rd-sidebar;
        }

        // .rd-page-wrapper .rd-sidebar-inner
        @include rd-sidebar-inner;
    }
}


@import '_layout-common-sidebar-expand-collapse-controls';