// sidebar expand/collapse controls.

ul.rd-sidebar-expand-collapse-controls,
.rd-sidebar-expand-collapse-controls {
    display: none;
    @media (min-width: $minimum-sidebar-breakpoint) {
        display: block;
        position: relative;

        a {
            background-color: $navbar-sidebar-background-color;
            cursor: pointer;
            margin-top: -2px;
            position: absolute;
            top: -1.250rem;// - hr margin top
            .sidebar-icon,
            .icon {
                color: #aaa;
            }
        }

        hr {
            border-top-color: #444;
        }
        @at-root {
            // .rd-page-wrapper
            .rd-page-wrapper {
                // .rd-page-wrapper.is-collapsed
                &.is-collapsed {
                    // .rd-page-wrapper.is-collapsed ul.rd-sidebar-expand-collapse-controls
                    .rd-sidebar-expand-collapse-controls {
                        // .rd-page-wrapper.is-collapsed ul.rd-sidebar-expand-collapse-controls a
                        a {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}