/*
* ----------------------------------------------------------------------------------------------
* rundiz template for admin - layout that is using display:grid; for styling grid, columns
* ----------------------------------------------------------------------------------------------
*/


@import '_variables';


@import '_layout-common';
@import '_mixins';


.rd-page-wrapper {
    display: grid;
    grid-template-columns: 0px auto;
    grid-template-rows: auto;
    height: auto;
    min-height: 100%;
    position: relative;

    // .rd-page-wrapper > footer
    > footer {
        background-color: transparent;
        color: #888;
        display: none;// when visible in the larger screen size, use flex
        font-size: 0.688em;
        min-height: 1.250rem;
        padding: 0.313rem $block-element-margin-sides;

        // .rd-page-wrapper > footer a
        a {
            color: inherit;
        }

        // .rd-page-wrapper > footer .rd-page-footer-left
        .rd-page-footer-left {
            margin-left: 0;
            margin-right: 0;
            padding-right: $block-element-margin-sides;
        }

        // .rd-page-wrapper > footer .rd-page-footer-right
        .rd-page-footer-right {
            margin-left: auto;
            margin-right: 0;
            padding-left: $block-element-margin-sides;
        }
    }

    // .rd-page-wrapper > main
    > main {
        align-self: start;
        min-width: 0;// fix table push this element over screen width ( https://stackoverflow.com/questions/43311943/prevent-grid-items-from-stretching-in-css-grid-layout )
    }

    // .rd-page-wrapper .rd-sidebar
    @include rd-sidebar;

    // .rd-page-wrapper.mini-screen-sidebar-visible
    @include rd-page-wrapperMini-screen-sidebar-visible;

    // .rd-page-wrapper in @media query
    @media (min-width: $minimum-sidebar-breakpoint) {
        grid-template-columns: $sidebar-expanded-width auto;
        grid-template-rows: auto 1.656rem;

        // .rd-page-wrapper > footer
        > footer {
            display: flex;
            grid-column-start: 2;
            grid-row-end: 3;
            grid-row-start: 2;
        }

        // .rd-page-wrapper > main
        > main {
            grid-column-start: 2;
            grid-row-end: 2;
            grid-row-start: 1;
        }

        // .rd-page-wrapper .rd-sidebar
        .rd-sidebar {
            align-self: self-start;
            background-color: transparent;
            display: block;
            grid-column-end: 2;
            grid-column-start: 1;
            grid-row-end: 3;
            grid-row-start: 1;
            position: relative;
            transition: width $sidebar-transition-seconds;
            width: $sidebar-expanded-width;

            // .rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list
            ul.rd-sidebar-item-list {
                > li {
                    // .rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list > li > a
                    >a {
                        padding: 0.625rem 1.125rem 0.625rem 0.625rem;
                    }
                }
            }
        }
        // .rd-page-wrapper.is-collapsed
        &.is-collapsed {
            grid-template-columns: $sidebar-collapsed-width auto;

            // .rd-page-wrapper.is-collapsed .rd-sidebar
            @include rd-page-wrapperIs-collapsed_rd-sidebar;
        }

        // .rd-page-wrapper .rd-sidebar-inner
        @include rd-sidebar-inner;
    }
}


@import '_layout-common-sidebar-expand-collapse-controls';