// layout that have common use css rules.
@use 'sass:math';

html.rd-template-admin {
    height: 100%;
}


.rd-template-admin {
    body {
        -webkit-text-size-adjust: 100%;// fix ios orientation bug ( https://stackoverflow.com/a/27311443/128761 ).
        @media (min-width: $minimum-sidebar-breakpoint) {
            padding-top: calc(var(--navbar-height_mobilescreen) / 2);
        }
    }
}


.rd-page-content {
    margin-bottom: var(--block-element-margin-vertical);
    margin-left: var(--block-element-margin-horizontal);
    margin-right: var(--block-element-margin-horizontal);
}


@media (min-width: $minimum-sidebar-breakpoint) {
    .rd-sidebar-back {
        background-color: var(--navbarsidebar-background-color);
        bottom: 0;
        display: block;
        position: fixed;
        top: 0;
        transition: width var(--sidebar-transition-seconds);
        width: var(--sidebar-expanded-width);
        z-index: -1;
    }
    .rd-page-wrapper.is-collapsed .rd-sidebar-back {
        transition: width var(--sidebar-transition-seconds);
        width: var(--sidebar-collapsed-width);
    }
}