// Rundiz template for admin variables.


// common use variables in this component.



// sidebar menu
$sidebar-expanded-width: 11.625rem !default;
$sidebar-collapsed-width: 3.750rem !default;
$sidebar-transition-seconds: 0s;
// other setting values
// have none