// Rundiz template for admin variables.


// common use variables in this component.



// sidebar menu
// all variables below can be access from CSS 3 variables in _css-variables.scss file.
$sidebar-expanded-width: 11.625rem !default;
$sidebar-collapsed-width: 3.750rem !default;
$sidebar-transition-seconds: 0s;