# Disable LF normalization for all files
* -text

# Export ignore folders, files.
_builder export-ignore
_original-source-php export-ignore
.gitattributes export-ignore
.gitignore export-ignore
tasks export-ignore
todos export-ignore