/*
* ----------------------------------------------------------------------------------------------
* form, fieldset, and all input controls.
* ----------------------------------------------------------------------------------------------
*/


%button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--block-background-color);
    border: 1px solid var(--block-border-color);
    border-radius: 0;
    box-shadow: 0 $button-3d-height 0 rgba(0, 0, 0, 0.1);
    color: inherit;
    cursor: pointer;
    display: inline-block;
    margin-bottom: $button-3d-height;// must be the same value as box shadow bottom.
    padding: 0.313em 0.625em;
    position: relative;
    top: 0;
    @include crossbrowser-no-select;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);// remove white-blue background color on tap or on touch in chrome for android.
    transition: box-shadow 0.1s, top 0.1s;
    &:active,
    &:focus {
        color: inherit;
    }
    &:active,
    &.active {
        box-shadow: 0 $button-3d-pressed-height 0 rgba(0, 0, 0, 0.1);
        top: ($button-3d-height - $button-3d-pressed-height);
    }
    &:hover {
        color: inherit;
    }
    &[disabled],
    &.disabled {
        background-color: lighten($block-background-color, 2);
        box-shadow: 0 $button-3d-height 0 lighten(rgba(0, 0, 0, 0.1), 15);
        color: lighten($page-text-color, 40);
        cursor: not-allowed;
        opacity: 1;
        &:active {
            top: 0;
        }
    }
}


a.rd-button,
.rd-button,
button {
    @extend %button;
}


fieldset {
    border: 1px solid var(--block-border-color);
    margin: 0 0 var(--content-block-element-margin-vertical) 0;
    padding: 0.625em;
    legend {
        border: 1px solid var(--block-border-color);
        padding: 0.125em 0.313em;
    }
}


input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    @include form-inputbox {
        height: 2.152em;
    }
}


input[type="button"],
input[type="reset"],
input[type="submit"] {
    @extend %button
}


input[type="color"] {
    cursor: pointer;
    border: 1px solid var(--block-border-color);
    height: 2em;
    padding: 0;
    &::-webkit-color-swatch-wrapper {
        // remove space around input type color and its border.
        // https://stackoverflow.com/a/47971607/128761
        padding: 0;
    }
}
input[type="color"],
input[type="file"],
input[type="range"] {
    cursor: pointer;
}


input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid var(--block-border-color);
    color-adjust: exact;
    cursor: pointer;
    height: 1em;
    width: 1em;
    &[disabled],
    &[readonly] {
        background-color: var(--block-background-color);
        cursor: not-allowed;
    }
    &:invalid,
    &.rd-input-invalid {
        border-color: var(--form-invalid-border-color);
    }
}
input[type="checkbox"] {
    &:checked {
        // use checked icon from Bootstrap 5.
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='#{encodecolor($page-text-color)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        &[disabled] {
            opacity: .5;
        }
    }
}
input[type="radio"] {
    border-radius: 50%;
    &:checked {
        // use radio checked icon from Bootstrap 5.
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='#{encodecolor($page-text-color)}'/%3e%3c/svg%3e");
        &[disabled] {
            opacity: .5;
        }
    }
}


input[type="file"] {
    max-width: 240px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);// remove white-blue background color on tap or on touch in chrome for android.

    &::file-selector-button,
    &::-webkit-file-upload-button {
        background-color: var(--block-background-color);
        border: 1px solid var(--block-border-color);
        cursor: pointer;
        font: inherit;
    }

    &[disabled] {
        cursor: not-allowed;

        &::file-selector-button,
        &::-webkit-file-upload-button {
            cursor: not-allowed;
        }
    }
}


input[type="image"] {
    border: none;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    @include crossbrowser-no-select;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);// remove white-blue background color on tap or on touch in chrome for android.
    &:disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.7;
    }
}


select {
    @include form-selectbox;
}
select:not([multiple]) {
    height: 2.152em;
}


textarea {
    @include form-inputbox;
}


@import '_form-input-file';
@import '_form-input-range';