/*
* ----------------------------------------------------------------------------------------------
* form > input[type="file"][class="rd-inputfile"]
*
* Reference:
* http://demo.rundiz.com/nice-form-plugins/
* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
* ----------------------------------------------------------------------------------------------
*/


// .rd-inputfile
.rd-inputfile {
    overflow: hidden;
    position: relative;
    vertical-align: middle;

    &:active,
    &:focus {
        outline: 3px solid var(--form-focus-color);
    }

    &.rd-input-invalid {
        border-color: var(--form-invalid-border-color) !important;
    }

    // .rd-inputfile input[type="file"]
    input[type="file"] {
        display: block;
        filter: alpha(opacity=0);
        height: 100%;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}


// .rd-input-files-queue
.rd-input-files-queue {
    vertical-align: middle;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;

    // .rd-input-files-queue > *
    > * {
        vertical-align: middle;
    }

    // .rd-input-files-queue > button,
    // .rd-input-files-queue > input[type="button"],
    // .rd-input-files-queue > .rd-button
    > button,
    > input[type="button"],
    > .rd-button {
        margin-top: -($button-3d-height);
        position: relative;
    }
}