/*
* ------------------------------------------------------------------------------------------------------------------------
* Reset forms by overriding Sanitize's forms.css.
* ------------------------------------------------------------------------------------------------------------------------
*/


button,
input,
select,
textarea {
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}


input[type="file"],
input[type="range"] {
    border: none;
}