// typography and form variables only.

// common use variables in this component.
// margin bottom for content block level element.
// because this is block level element for content so its margin unit should be rem. 
// if it is em then when browser based font size was changed to bigger and these elements are in parent element that also has bigger font, its result will be too much margin space.
$content-block-element-margin-bottom: 0.625rem !default;

// <button>, <input type="submit|button|reset">
$button-3d-height: 2px !default;
$button-3d-pressed-height: 1px !default;

// focus colors
$form-focus-color: #ffcc33 !default;
$other-focus-color: #999 !default;

// <input type="range">
$inputrange-thumb-border-color: #AAA !default;