@charset "UTF-8";
/*!
 * Rundiz template typography and form
 */
/*
* ----------------------------------------------------------------------------------------------
* focusable elements
*
* What are focusable elements?
* - https://www.deque.com/blog/give-site-focus-tips-designing-usable-focus-indicators/
* - https://stackoverflow.com/questions/1599660/which-html-elements-can-receive-focus
* ----------------------------------------------------------------------------------------------
*/
:focus {
  outline: 2px dotted rgba(153, 153, 153, 0.35);
}

button:focus,
.rd-button:focus,
.rd-pagination a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 3px solid rgba(255, 182, 0, 0.35);
}

input[type=radio]:focus {
  border-radius: 50%;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 2px solid rgba(255, 182, 0, 0.35);
}

input[type=color]::-moz-focus-inner {
  border: none;
}

/*
* ----------------------------------------------------------------------------------------------
* typography
* ----------------------------------------------------------------------------------------------
*/
html {
  background-color: #fff;
  cursor: auto;
  font-size: 107%;
}
@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

body {
  color: #333;
  cursor: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid sans", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5;
  padding: 0;
}

a {
  color: #1280EF;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a:active, a:focus, a:hover {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
a:visited {
  color: #0b5aa9;
}
a:focus, a:hover {
  color: #5aa6f4;
}

abbr {
  cursor: help;
}

blockquote {
  border-left: 5px solid #ddd;
  border-right: 0;
  margin: 0 0 0.625rem 0;
  padding: 0 0 0 0.625em;
}

code, samp, pre, kbd {
  background-color: #f1f1f1;
  color: #555;
  font-family: "Consolas", "Lucida Console", "DejaVu Sans Mono", "Liberation Mono", "Courier New", monospace, sans-serif;
  padding: 0.125em 0.188em;
}

details {
  margin: 0 0 0.625rem 0;
}
details details {
  margin-left: 1.111em;
  margin-right: 0;
}
details summary {
  cursor: pointer;
}

dl {
  margin: 0 0 0.625rem 0;
}
dl dt {
  margin: 0;
}
dl dd {
  margin: 0 0 0 1.111em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.625rem 0;
}

h1 {
  font-size: 2.44em;
  font-weight: 400;
}

h2 {
  font-size: 2.05em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.27em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}

h6 {
  font-size: 0.75em;
  font-weight: 700;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ddd;
  margin: 1.25rem 0;
}

iframe {
  border: 1px solid #ddd;
}

img.fluid {
  height: auto;
  max-width: 100%;
}

kbd {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 2px;
}

label {
  cursor: pointer;
}
label [disabled],
label [readonly] {
  cursor: not-allowed;
}

meter {
  background-color: #eee;
  background-image: none;
  box-shadow: none;
  display: inline-block;
  height: 1em;
  outline: none;
  width: 11.25em;
}
meter:-moz-meter-optimum::-moz-meter-bar {
  background-color: #77AA33;
  background-image: none;
}
meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background-color: #FFB900;
  background-image: none;
}
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background-color: #D13438;
  background-image: none;
}
meter::-webkit-meter-optimum-value {
  background-color: #77AA33;
  background-image: none;
}
meter::-webkit-meter-suboptimum-value {
  background-color: #FFB900;
  background-image: none;
}
meter::-webkit-meter-even-less-good-value {
  background-color: #D13438;
  background-image: none;
}
meter::-webkit-meter-bar {
  background-color: #eee;
  background-image: none;
  border: none;
}

pre {
  margin: 0 0 0.625rem 0;
  overflow: auto;
  padding: 0.625em;
}

@keyframes progressbar-novalue-animations {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #eee;
  border: none;
  height: 1em;
  width: 11.25em;
}
progress:not([value]) {
  animation: progressbar-novalue-animations 1s linear infinite alternate;
  background-color: green;
  box-shadow: 0 1px 1px rgba(50, 250, 50, 0.8);
  color: green;
  opacity: 0.2;
}
progress:not([value])::-moz-progress-bar {
  background-color: green;
}
progress:not([value])::-webkit-progress-bar {
  background-color: green;
}
progress::-moz-progress-bar {
  background-color: green;
}
progress::-ms-fill {
  background-color: green;
}
progress::-webkit-progress-bar {
  background-color: #eee;
}
progress::-webkit-progress-value {
  background-color: green;
}

q::after {
  content: "”";
}
q::before {
  content: "“";
}

samp {
  background-color: #eee;
  border-bottom: 0;
  border-left: 3px solid #ddd;
  border-right: 0;
  border-top: 0;
}

table {
  border: 1px solid #ddd;
  margin-bottom: 0.625rem;
}
table thead th,
table thead td,
table tfoot th,
table tfoot td {
  background-color: #eee;
  font-weight: 600;
  text-align: left;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 0.313em;
}

ul, ol {
  line-height: 1.6;
  margin: 0 0 0.625rem 1.111em;
  padding: 0;
}
ul li, ol li {
  margin: 0;
  padding: 0;
}

ul li ul,
ul li ol,
ol li ol,
ol li ul {
  margin-bottom: 0;
  margin-top: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

var {
  border: 1px solid #ddd;
  padding: 0.063em 0.375em 0.063em 0.188em;
}

/*
* ------------------------------------------------------------------------------------------------------------------------
* Reset forms by overriding Sanitize's forms.css.
* ------------------------------------------------------------------------------------------------------------------------
*/
button,
input,
select,
textarea {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

input[type=file],
input[type=range] {
  border: none;
}

/*
* ----------------------------------------------------------------------------------------------
* form, fieldset, and all input controls.
* ----------------------------------------------------------------------------------------------
*/
input[type=button],
input[type=reset],
input[type=submit], a.rd-button,
.rd-button,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 2px;
  padding: 0.313em 0.625em;
  position: relative;
  top: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  transition: box-shadow 0.1s, top 0.1s;
}
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active,
.rd-button:active,
button:active, input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
.rd-button:focus,
button:focus {
  color: inherit;
}
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active,
.rd-button:active,
button:active, input.active[type=button],
input.active[type=reset],
input.active[type=submit],
.active.rd-button,
button.active {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  top: 1px;
}
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.rd-button:hover,
button:hover {
  color: inherit;
}
input[disabled][type=button],
input[disabled][type=reset],
input[disabled][type=submit],
[disabled].rd-button,
button[disabled], input.disabled[type=button],
input.disabled[type=reset],
input.disabled[type=submit],
.disabled.rd-button,
button.disabled {
  background-color: #f3f3f3;
  box-shadow: 0 2px 0 rgba(38, 38, 38, 0.1);
  color: #999999;
  cursor: not-allowed;
  opacity: 1;
}
input[disabled][type=button]:active,
input[disabled][type=reset]:active,
input[disabled][type=submit]:active,
[disabled].rd-button:active,
button[disabled]:active, input.disabled[type=button]:active,
input.disabled[type=reset]:active,
input.disabled[type=submit]:active,
.disabled.rd-button:active,
button.disabled:active {
  top: 0;
}

fieldset {
  border: 1px solid #ddd;
  margin: 0 0 0.625rem 0;
  padding: 0.625em;
}
fieldset legend {
  border: 1px solid #ddd;
  padding: 0.125em 0.313em;
}

input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 0.99em;
  line-height: 1.4;
  padding: 0.313em 0.188em;
  height: 2.152em;
}
input[type=date]:active, input[type=date]:focus,
input[type=datetime-local]:active,
input[type=datetime-local]:focus,
input[type=email]:active,
input[type=email]:focus,
input[type=month]:active,
input[type=month]:focus,
input[type=number]:active,
input[type=number]:focus,
input[type=password]:active,
input[type=password]:focus,
input[type=search]:active,
input[type=search]:focus,
input[type=tel]:active,
input[type=tel]:focus,
input[type=text]:active,
input[type=text]:focus,
input[type=time]:active,
input[type=time]:focus,
input[type=url]:active,
input[type=url]:focus,
input[type=week]:active,
input[type=week]:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
input[type=date][disabled], input[type=date][readonly],
input[type=datetime-local][disabled],
input[type=datetime-local][readonly],
input[type=email][disabled],
input[type=email][readonly],
input[type=month][disabled],
input[type=month][readonly],
input[type=number][disabled],
input[type=number][readonly],
input[type=password][disabled],
input[type=password][readonly],
input[type=search][disabled],
input[type=search][readonly],
input[type=tel][disabled],
input[type=tel][readonly],
input[type=text][disabled],
input[type=text][readonly],
input[type=time][disabled],
input[type=time][readonly],
input[type=url][disabled],
input[type=url][readonly],
input[type=week][disabled],
input[type=week][readonly] {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

input[type=color] {
  cursor: pointer;
  border: 1px solid #ddd;
  height: 2em;
  padding: 0;
}
input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type=color],
input[type=file],
input[type=range] {
  cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}
input[type=checkbox][disabled], input[type=checkbox][readonly],
input[type=radio][disabled],
input[type=radio][readonly] {
  cursor: not-allowed;
}

input[type=file] {
  max-width: 240px;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input[type=file]::-webkit-file-upload-button {
  background-color: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
}
input[type=file][disabled] {
  cursor: not-allowed;
}
input[type=file][disabled]::-webkit-file-upload-button {
  cursor: not-allowed;
}

input[type=image] {
  border: none;
  border-radius: 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input[type=image]:disabled, input[type=image][disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #ddd;
  border-radius: 0;
  font-family: inherit;
  font-size: 0.99em;
  line-height: 1.4;
  padding: 0.313em 1.5em 0.313em 0.188em;
}
select[disabled], select[readonly] {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

select:not([multiple]) {
  height: 2.152em;
}

textarea {
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 0.99em;
  line-height: 1.4;
  padding: 0.313em 0.188em;
}
textarea:active, textarea:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
textarea[disabled], textarea[readonly] {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

/*
* ----------------------------------------------------------------------------------------------
* form > input[type="file"][class="rd-inputfile"]
*
* Reference:
* http://demo.rundiz.com/nice-form-plugins/
* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
* ----------------------------------------------------------------------------------------------
*/
.rd-inputfile {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.rd-inputfile:active, .rd-inputfile:focus {
  outline: 3px solid rgba(255, 182, 0, 0.35);
}
.rd-inputfile input[type=file] {
  display: block;
  filter: alpha(opacity=0);
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.rd-input-files-queue {
  vertical-align: middle;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.rd-input-files-queue > * {
  vertical-align: middle;
}
.rd-input-files-queue > button,
.rd-input-files-queue > input[type=button],
.rd-input-files-queue > .rd-button {
  margin-top: -2px;
  position: relative;
}

/*
* ----------------------------------------------------------------------------------------------
* form > input[type="range"]
*
* Input range CSS generators:
* http://danielstern.ca/range.css/
* http://www.cssportal.com/style-input-range/
* ----------------------------------------------------------------------------------------------
*/
input[type=range] {
  -webkit-appearance: none;
  height: 37px;
  margin: 10px 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input[type=range]::-moz-range-thumb {
  background: #eee;
  border: 1px solid #AAA;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  height: 30px;
  width: 15px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #eee;
  box-shadow: none;
  border: 1px solid #AAA;
  border-radius: 0px;
  cursor: pointer;
  height: 30px;
  margin-top: -14px;
  width: 15px;
}
input[type=range]::-moz-range-track {
  animate: 0.2s;
  background: #ddd;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  height: 3px;
}
input[type=range]::-webkit-slider-runnable-track {
  animate: 0.2s;
  background: #ddd;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  height: 3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ddd;
}
input[type=range]::-ms-track {
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  height: 3px;
}
input[type=range]::-ms-thumb {
  background: #eee;
  border: 1px solid #AAA;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  height: 30px;
  margin-top: 1px;
  top: 22px;
  width: 15px;
}
input[type=range]::-ms-fill-lower {
  background: #ddd;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: none;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: none;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ddd;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ddd;
}
/*# sourceMappingURL=typo-and-form.css.map */
