@charset "UTF-8";
/*!
 * Rundiz template for admin
 *
 * @version 1.0.6-20190529
 */
/*
* ----------------------------------------------------------------------------------------------
* rundiz template for admin - layout that is using display:grid; for styling grid, columns
* ----------------------------------------------------------------------------------------------
*/
html.rd-template-admin,
body {
  height: 100%;
}

.rd-template-admin body {
  -webkit-text-size-adjust: 100%;
}
@media (min-width: 1000px) {
  .rd-template-admin body {
    padding-top: 3.125rem;
  }
}

.rd-page-content {
  margin-bottom: 1.25rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

@media (min-width: 1000px) {
  .rd-sidebar-back {
    background-color: #222;
    bottom: 0;
    display: block;
    position: fixed;
    top: 0;
    transition: width 0s;
    width: 10rem;
    z-index: -1;
  }

  .rd-page-wrapper.is-collapsed .rd-sidebar-back {
    transition: width 0s;
    width: 3.75rem;
  }
}
.rd-page-wrapper {
  display: grid;
  grid-template-columns: 0px auto;
  grid-template-rows: auto;
  height: auto;
  min-height: 100%;
  position: relative;
}
.rd-page-wrapper > footer {
  background-color: transparent;
  color: #888;
  display: none;
  font-size: 0.688em;
  min-height: 1.25rem;
  padding: 0.313rem 0.625rem;
}
.rd-page-wrapper > footer a {
  color: inherit;
}
.rd-page-wrapper > footer .rd-page-footer-left {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0.625rem;
}
.rd-page-wrapper > footer .rd-page-footer-right {
  margin-left: auto;
  margin-right: 0;
  padding-left: 0.625rem;
}
.rd-page-wrapper > main {
  align-self: start;
  min-width: 0;
}
.rd-page-wrapper .rd-sidebar {
  background-color: #2e2e2e;
  color: #ccc;
  display: none;
  height: auto;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: absolute;
  width: 10rem;
}
.rd-page-wrapper .rd-sidebar a {
  color: inherit;
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list > li > a {
  display: block;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list > li > a > span.rd-sidebar-menu-text {
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list > li > a > .sidebar-icon {
  font-size: 1.25rem;
  transition: font-size 0s;
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list li.divider {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list li.divider a {
  display: none;
}
.rd-page-wrapper .rd-sidebar ul {
  list-style: none;
  margin: 0;
}
.rd-page-wrapper .rd-sidebar ul li {
  list-style: none;
}
.rd-page-wrapper.mini-screen-sidebar-visible {
  overflow-x: hidden;
}
.rd-page-wrapper.mini-screen-sidebar-visible > footer,
.rd-page-wrapper.mini-screen-sidebar-visible > main {
  transform: translateX(10rem);
}
.rd-page-wrapper.mini-screen-sidebar-visible .rd-sidebar {
  display: block;
}
@media (min-width: 1000px) {
  .rd-page-wrapper.mini-screen-sidebar-visible {
    overflow-x: visible;
  }
  .rd-page-wrapper.mini-screen-sidebar-visible > footer,
.rd-page-wrapper.mini-screen-sidebar-visible > main {
    transform: none;
  }
  .rd-page-wrapper.mini-screen-sidebar-visible .rd-sidebar {
    background-color: transparent;
    min-height: 0;
    position: static;
  }
}
@media (min-width: 1000px) {
  .rd-page-wrapper {
    grid-template-columns: 10rem auto;
    grid-template-rows: auto 1.656rem;
  }
  .rd-page-wrapper > footer {
    display: flex;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 2;
  }
  .rd-page-wrapper > main {
    grid-column-start: 2;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  .rd-page-wrapper .rd-sidebar {
    align-self: self-start;
    background-color: transparent;
    display: block;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 1;
    position: relative;
    transition: width 0s;
    width: 10rem;
  }
  .rd-page-wrapper.is-collapsed {
    grid-template-columns: 3.75rem auto;
  }
  .rd-page-wrapper.is-collapsed .rd-sidebar {
    width: 3.75rem;
  }
  .rd-page-wrapper.is-collapsed .rd-sidebar ul.rd-sidebar-item-list > li > a > span.rd-sidebar-menu-text {
    display: none;
  }
  .rd-page-wrapper.is-collapsed .rd-sidebar ul.rd-sidebar-item-list > li > a > .sidebar-icon {
    font-size: 1.875rem;
  }
  .rd-page-wrapper .rd-sidebar-inner {
    z-index: 3;
  }
}

ul.rd-sidebar-expand-collapse-controls,
.rd-sidebar-expand-collapse-controls {
  display: none;
}
@media (min-width: 1000px) {
  ul.rd-sidebar-expand-collapse-controls,
.rd-sidebar-expand-collapse-controls {
    display: block;
    position: relative;
  }
  ul.rd-sidebar-expand-collapse-controls a,
.rd-sidebar-expand-collapse-controls a {
    background-color: #222;
    cursor: pointer;
    margin-top: -2px;
    position: absolute;
    top: -1.25rem;
  }
  ul.rd-sidebar-expand-collapse-controls a .sidebar-icon,
ul.rd-sidebar-expand-collapse-controls a .icon,
.rd-sidebar-expand-collapse-controls a .sidebar-icon,
.rd-sidebar-expand-collapse-controls a .icon {
    color: #aaa;
  }
  ul.rd-sidebar-expand-collapse-controls hr,
.rd-sidebar-expand-collapse-controls hr {
    border-top-color: #444;
  }
  .rd-page-wrapper.is-collapsed .rd-sidebar-expand-collapse-controls a {
    box-shadow: none;
  }
}

/*
* ----------------------------------------------------------------------------------------------
* alert box
* ----------------------------------------------------------------------------------------------
*/
.rd-alertbox {
  background-color: #fff;
  border-left-color: #ddd;
  border-left-width: 5px;
  border-left-style: solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #333;
  font-size: 0.85em;
  margin-bottom: 1.25rem;
  padding: 0.625em;
  position: relative;
  width: 100%;
}
.rd-alertbox.alert-danger {
  border-left-color: #bc0000;
}
.rd-alertbox.alert-danger a {
  color: #bc0000;
}
.rd-alertbox.alert-info {
  border-left-color: #2481ad;
}
.rd-alertbox.alert-info a {
  color: #2481ad;
}
.rd-alertbox.alert-success {
  border-left-color: #007c00;
}
.rd-alertbox.alert-success a {
  color: #007c00;
}
.rd-alertbox.alert-warning {
  border-left-color: #e69200;
}
.rd-alertbox.alert-warning a {
  color: #e69200;
}
.rd-alertbox.is-dismissable {
  padding-right: 1.563em;
}
.rd-alertbox .close {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #aaa;
  cursor: pointer;
  float: right;
  font-size: 1.313em;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  opacity: 0.3;
  padding: 0;
  position: relative;
  right: -0.938rem;
  top: 0.1rem;
  transition: none;
}
.rd-alertbox .close::after {
  clear: both;
  content: "";
  display: table;
}
.rd-alertbox .close:active, .rd-alertbox .close:focus, .rd-alertbox .close:hover {
  box-shadow: none;
  color: #333;
  opacity: 0.8;
  top: 0.1rem;
}

/*
* ----------------------------------------------------------------------------------------------
* notification badge
* ----------------------------------------------------------------------------------------------
*/
.rd-notification-badge {
  background-color: #555;
  border-radius: 1.1em;
  color: #eee;
  display: inline-block;
  font-size: 0.813em;
  line-height: 1;
  margin: 0 0.2rem;
  min-width: 1.1em;
  padding: 0.2rem 0.425rem;
  text-align: center;
}
.rd-notification-badge.badge-danger {
  background-color: #bc0000;
}
.rd-notification-badge.badge-info {
  background-color: #2481ad;
}
.rd-notification-badge.badge-primary {
  background-color: #52A0E5;
}
.rd-notification-badge.badge-success {
  background-color: #007c00;
}
.rd-notification-badge.badge-warning {
  background-color: #e69200;
}
.rd-notification-badge.tiny {
  font-size: 0.625em;
  padding: 0.1rem 0.29rem;
}

/*
* ----------------------------------------------------------------------------------------------
* breadcrumb
* ----------------------------------------------------------------------------------------------
*/
.rd-breadcrumb {
  background-color: #eee;
  color: #777;
  display: flex;
  font-size: 0.75em;
  list-style: none;
  margin: 0 0 0.625rem 0;
  padding: 0.5rem 0.625rem;
}
.rd-breadcrumb li {
  margin-right: 0.625rem;
}
.rd-breadcrumb li::after {
  content: "/";
  margin-left: 0.625rem;
}
.rd-breadcrumb li:last-child {
  margin-right: 0;
}
.rd-breadcrumb li:last-child::after {
  content: "";
}
.rd-breadcrumb li.active a,
.rd-breadcrumb li.active span, .rd-breadcrumb li.current a,
.rd-breadcrumb li.current span {
  color: inherit;
  cursor: default;
}

/*
* ----------------------------------------------------------------------------------------------
* button
* ----------------------------------------------------------------------------------------------
*/
a.rd-button.danger, a.rd-button.info, a.rd-button.primary, a.rd-button.success, a.rd-button.warning,
.rd-button.danger,
.rd-button.info,
.rd-button.primary,
.rd-button.success,
.rd-button.warning {
  color: #FFF;
}
a.rd-button.danger[disabled], a.rd-button.danger.disabled, a.rd-button.info[disabled], a.rd-button.info.disabled, a.rd-button.primary[disabled], a.rd-button.primary.disabled, a.rd-button.success[disabled], a.rd-button.success.disabled, a.rd-button.warning[disabled], a.rd-button.warning.disabled,
.rd-button.danger[disabled],
.rd-button.danger.disabled,
.rd-button.info[disabled],
.rd-button.info.disabled,
.rd-button.primary[disabled],
.rd-button.primary.disabled,
.rd-button.success[disabled],
.rd-button.success.disabled,
.rd-button.warning[disabled],
.rd-button.warning.disabled {
  color: #FFF;
}
a.rd-button.danger,
.rd-button.danger {
  background-color: #bc0000;
  border-color: #980000;
  box-shadow: 0 2px 0 #a30000;
}
a.rd-button.danger:active, a.rd-button.danger.active,
.rd-button.danger:active,
.rd-button.danger.active {
  box-shadow: 0 1px 0 #a30000;
}
a.rd-button.danger[disabled], a.rd-button.danger.disabled,
.rd-button.danger[disabled],
.rd-button.danger.disabled {
  background-color: #cf6464;
  border-color: #c74949;
  box-shadow: 0 2px 0 #c95151;
}
a.rd-button.info,
.rd-button.info {
  background-color: #2481ad;
  border-color: #1e6b8f;
  box-shadow: 0 2px 0 #207198;
}
a.rd-button.info:active, a.rd-button.info.active,
.rd-button.info:active,
.rd-button.info.active {
  box-shadow: 0 1px 0 #207198;
}
a.rd-button.info[disabled], a.rd-button.info.disabled,
.rd-button.info[disabled],
.rd-button.info.disabled {
  background-color: #6da3bd;
  border-color: #5494b2;
  box-shadow: 0 2px 0 #5b98b5;
}
a.rd-button.primary,
.rd-button.primary {
  background-color: #52A0E5;
  border-color: #338fe0;
  box-shadow: 0 2px 0 #3c94e2;
}
a.rd-button.primary:active, a.rd-button.primary.active,
.rd-button.primary:active,
.rd-button.primary.active {
  box-shadow: 0 1px 0 #3c94e2;
}
a.rd-button.primary[disabled], a.rd-button.primary.disabled,
.rd-button.primary[disabled],
.rd-button.primary.disabled {
  background-color: #97c3ea;
  border-color: #79b2e4;
  box-shadow: 0 2px 0 #82b7e6;
}
a.rd-button.success,
.rd-button.success {
  background-color: #007c00;
  border-color: #005800;
  box-shadow: 0 2px 0 #006300;
}
a.rd-button.success:active, a.rd-button.success.active,
.rd-button.success:active,
.rd-button.success.active {
  box-shadow: 0 1px 0 #006300;
}
a.rd-button.success[disabled], a.rd-button.success.disabled,
.rd-button.success[disabled],
.rd-button.success.disabled {
  background-color: #65b065;
  border-color: #529f52;
  box-shadow: 0 2px 0 #55a655;
}
a.rd-button.warning,
.rd-button.warning {
  background-color: #e69200;
  border-color: #c27b00;
  box-shadow: 0 2px 0 #cd8200;
}
a.rd-button.warning:active, a.rd-button.warning.active,
.rd-button.warning:active,
.rd-button.warning.active {
  box-shadow: 0 1px 0 #cd8200;
}
a.rd-button.warning[disabled], a.rd-button.warning.disabled,
.rd-button.warning[disabled],
.rd-button.warning.disabled {
  background-color: #efb247;
  border-color: #eca426;
  box-shadow: 0 2px 0 #eda830;
}
a.rd-button.large,
.rd-button.large {
  font-size: 1.25em;
}
a.rd-button.small,
.rd-button.small {
  font-size: 0.75em;
}
a.rd-button.tiny,
.rd-button.tiny {
  font-size: 0.625em;
}

.rd-button-group {
  display: inline-flex;
  position: relative;
}
.rd-button-group ul {
  display: none;
}
.rd-button-group .rd-button + .rd-button {
  margin-left: -1px;
}

/*
* ----------------------------------------------------------------------------------------------
* data table.
* ----------------------------------------------------------------------------------------------
*/
.rd-datatable {
  width: 100%;
}
.rd-datatable tbody tr:hover {
  background-color: rgba(243, 243, 243, 0.5);
}
.rd-datatable tfoot td a,
.rd-datatable tfoot th a,
.rd-datatable thead td a,
.rd-datatable thead th a {
  color: #1280EF;
}
.rd-datatable td,
.rd-datatable th {
  vertical-align: top;
  white-space: normal;
  word-wrap: break-word;
}
.rd-datatable .column-checkbox {
  text-align: center;
  width: 32px;
}
.rd-datatable .filter-row td,
.rd-datatable .filter-row th {
  background-color: #f1f1f1;
  padding-bottom: 0;
  padding-top: 0;
}
.rd-datatable .filter-row td input[type=date],
.rd-datatable .filter-row td input[type=datetime-local],
.rd-datatable .filter-row td input[type=email],
.rd-datatable .filter-row td input[type=month],
.rd-datatable .filter-row td input[type=number],
.rd-datatable .filter-row td input[type=password],
.rd-datatable .filter-row td input[type=range],
.rd-datatable .filter-row td input[type=search],
.rd-datatable .filter-row td input[type=tel],
.rd-datatable .filter-row td input[type=text],
.rd-datatable .filter-row td input[type=time],
.rd-datatable .filter-row td input[type=url],
.rd-datatable .filter-row td input[type=week],
.rd-datatable .filter-row td select,
.rd-datatable .filter-row td textarea,
.rd-datatable .filter-row th input[type=date],
.rd-datatable .filter-row th input[type=datetime-local],
.rd-datatable .filter-row th input[type=email],
.rd-datatable .filter-row th input[type=month],
.rd-datatable .filter-row th input[type=number],
.rd-datatable .filter-row th input[type=password],
.rd-datatable .filter-row th input[type=range],
.rd-datatable .filter-row th input[type=search],
.rd-datatable .filter-row th input[type=tel],
.rd-datatable .filter-row th input[type=text],
.rd-datatable .filter-row th input[type=time],
.rd-datatable .filter-row th input[type=url],
.rd-datatable .filter-row th input[type=week],
.rd-datatable .filter-row th select,
.rd-datatable .filter-row th textarea {
  background-color: #fff;
  height: 2.45em;
  width: 100%;
}
.rd-datatable.h-border tfoot td,
.rd-datatable.h-border tfoot th,
.rd-datatable.h-border thead td,
.rd-datatable.h-border thead th {
  background-color: transparent;
}
.rd-datatable.h-border tfoot td,
.rd-datatable.h-border tfoot th {
  border-top-width: 2px;
}
.rd-datatable.h-border thead td,
.rd-datatable.h-border thead th {
  border-bottom-width: 2px;
}
.rd-datatable.h-border td,
.rd-datatable.h-border th {
  border-left-width: 0;
  border-right-width: 0;
}
.rd-datatable .table-cell-danger,
.rd-datatable .table-row-danger {
  background-color: #f4d0d0;
}
.rd-datatable .table-cell-danger:hover,
.rd-datatable .table-row-danger:hover {
  background-color: #eeb9b9;
}
.rd-datatable .table-cell-info,
.rd-datatable .table-row-info {
  background-color: #c4e3f2;
}
.rd-datatable .table-cell-info:hover,
.rd-datatable .table-row-info:hover {
  background-color: #abd7ec;
}
.rd-datatable .table-cell-primary,
.rd-datatable .table-row-primary {
  background-color: #a2ccf0;
}
.rd-datatable .table-cell-primary:hover,
.rd-datatable .table-row-primary:hover {
  background-color: #91c2ed;
}
.rd-datatable .table-cell-success,
.rd-datatable .table-row-success {
  background-color: #d1e6d1;
}
.rd-datatable .table-cell-success:hover,
.rd-datatable .table-row-success:hover {
  background-color: #c0dcc0;
}
.rd-datatable .table-cell-warning,
.rd-datatable .table-row-warning {
  background-color: #fbd38f;
}
.rd-datatable .table-cell-warning:hover,
.rd-datatable .table-row-warning:hover {
  background-color: #fac875;
}
.rd-datatable.responsive td,
.rd-datatable.responsive th {
  background-color: transparent;
  border: none;
}
.rd-datatable.responsive td.column-primary ~ td,
.rd-datatable.responsive th.column-primary ~ th {
  display: none;
}
@media (min-width: 1000px) {
  .rd-datatable.responsive td.column-primary ~ td,
.rd-datatable.responsive th.column-primary ~ th {
    display: table-cell;
  }
}
.rd-datatable.responsive thead tr {
  border-bottom: 2px solid #ddd;
}
.rd-datatable.responsive tfoot tr {
  border-top: 2px solid #ddd;
}
.rd-datatable.responsive tr {
  border-top: 1px solid #ddd;
}
.rd-datatable.responsive tr:hover .row-actions {
  opacity: 1;
}
.rd-datatable.responsive .column-primary {
  display: block;
  padding-right: 2.209rem;
  position: relative;
}
@media (min-width: 1000px) {
  .rd-datatable.responsive .column-primary {
    display: table-cell;
    padding-right: 0.313em;
  }
}
.rd-datatable.responsive .column-primary ~ td {
  clear: both;
  padding-left: 35%;
  position: relative;
  width: auto;
}
.rd-datatable.responsive .column-primary ~ td::before {
  content: attr(data-colname);
  display: block;
  left: 0.313em;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 32%;
}
@media (min-width: 1000px) {
  .rd-datatable.responsive .column-primary ~ td::before {
    display: none;
  }
}
@media (min-width: 1000px) {
  .rd-datatable.responsive .column-primary ~ td {
    clear: none;
    padding-left: 0.313em;
  }
}
.rd-datatable.responsive .is-expanded .column-primary ~ td {
  display: block;
  overflow: hidden;
}
.rd-datatable.responsive .row-actions {
  font-size: 0.75em;
  opacity: 0;
  transition: opacity 0.2s;
}
.rd-datatable.responsive .row-actions span + span::before {
  content: " | ";
}
.rd-datatable.responsive .toggle-row {
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  display: block;
  font-size: 1rem;
  height: 1.688rem;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  top: 0.375rem;
  transition: none;
  width: 1.688rem;
}
.rd-datatable.responsive .toggle-row:active, .rd-datatable.responsive .toggle-row:focus, .rd-datatable.responsive .toggle-row:hover {
  box-shadow: 0 0 0 1px #2481ad, 0 0 3px 2px #c4e3f2;
  outline: none;
}
@media (min-width: 1000px) {
  .rd-datatable.responsive .toggle-row {
    display: none;
  }
}
.rd-datatable .sortable-icon {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 0.75rem;
  font-style: normal;
  line-height: 1;
  visibility: hidden;
}
.rd-datatable .sortable-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.rd-datatable .sortable-icon.order-desc {
  transform: translateY(-29%);
}
.rd-datatable .sortable-icon.order-desc::before {
  content: "";
}
.rd-datatable .sortable-icon.order-asc {
  transform: translateY(9%);
}
.rd-datatable .sortable-icon.order-asc::before {
  content: "";
}
.rd-datatable td.sorted .sortable-icon, .rd-datatable td:hover .sortable-icon,
.rd-datatable th.sorted .sortable-icon,
.rd-datatable th:hover .sortable-icon {
  visibility: visible;
}

.rd-datatable-wrapper {
  display: block;
  overflow-x: auto;
  overflow-y: visible;
  width: 100%;
}

/*
* ----------------------------------------------------------------------------------------------
* dropdown. -- commonly use with dropdown button
* ----------------------------------------------------------------------------------------------
*/
.rd-dropdown {
  background-color: #FFF;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 0.875em;
  list-style: none;
  margin: 0;
  min-width: 150px;
  padding: 0;
  width: auto;
  z-index: 1;
}
.rd-dropdown li:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.rd-dropdown li a {
  background-color: transparent;
  color: #333;
  display: block;
  padding: 0.313rem 0.625rem;
  width: 100%;
}

/*
* ----------------------------------------------------------------------------------------------
* form styles (horizontal form, vertical form, etc)
* ----------------------------------------------------------------------------------------------
*/
input[type=date].input-large,
input[type=datetime-local].input-large,
input[type=email].input-large,
input[type=month].input-large,
input[type=number].input-large,
input[type=password].input-large,
input[type=range].input-large,
input[type=search].input-large,
input[type=tel].input-large,
input[type=text].input-large,
input[type=time].input-large,
input[type=url].input-large,
input[type=week].input-large,
select.input-large,
textarea.input-large {
  font-size: 1.25em;
}

input[type=date].input-small,
input[type=datetime-local].input-small,
input[type=email].input-small,
input[type=month].input-small,
input[type=number].input-small,
input[type=password].input-small,
input[type=range].input-small,
input[type=search].input-small,
input[type=tel].input-small,
input[type=text].input-small,
input[type=time].input-small,
input[type=url].input-small,
input[type=week].input-small,
select.input-small,
textarea.input-small {
  font-size: 0.75em;
}

.rd-form .disabled {
  color: #999;
  cursor: not-allowed;
}
.rd-form .form-group {
  margin-bottom: 0.625rem;
}
.rd-form .form-group .control-label {
  font-weight: 600;
}
.rd-form .form-group .control-label.large {
  font-size: 1.25em;
}
.rd-form .form-group .control-label.small {
  font-size: 0.75em;
}
.rd-form .form-group .control-wrapper input[type=date],
.rd-form .form-group .control-wrapper input[type=datetime-local],
.rd-form .form-group .control-wrapper input[type=email],
.rd-form .form-group .control-wrapper input[type=month],
.rd-form .form-group .control-wrapper input[type=number],
.rd-form .form-group .control-wrapper input[type=password],
.rd-form .form-group .control-wrapper input[type=range],
.rd-form .form-group .control-wrapper input[type=search],
.rd-form .form-group .control-wrapper input[type=tel],
.rd-form .form-group .control-wrapper input[type=text],
.rd-form .form-group .control-wrapper input[type=time],
.rd-form .form-group .control-wrapper input[type=url],
.rd-form .form-group .control-wrapper input[type=week],
.rd-form .form-group .control-wrapper select,
.rd-form .form-group .control-wrapper textarea {
  display: block;
  width: 100%;
}
@media (min-width: 1000px) {
  .rd-form.horizontal .form-group {
    display: flex;
  }
  .rd-form.horizontal .form-group .control-label {
    width: 180px;
  }
  .rd-form.horizontal .form-group .control-wrapper {
    flex-grow: 1;
  }
}

/*
* ----------------------------------------------------------------------------------------------
* navbar
* ----------------------------------------------------------------------------------------------
*/
.rd-navbar {
  background-color: #222;
  color: #aaa;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-height: none;
  min-height: 6.25rem;
  z-index: 4;
}
@media (min-width: 1000px) {
  .rd-navbar {
    height: 3.125rem;
    left: 0;
    margin-bottom: 1.25rem;
    min-height: 3.125rem;
    position: fixed;
    right: 0;
    top: 0;
  }
}
.rd-navbar .nav-right {
  flex-basis: 100%;
}
@media (min-width: 1000px) {
  .rd-navbar .nav-right {
    flex-basis: auto;
    margin-left: auto;
    margin-right: 0.625rem;
  }
}
.rd-navbar .nav-right > ul {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.055);
  display: flex;
  height: 3.125rem;
  justify-content: space-around;
  margin: 0;
  z-index: 4;
}
@media (min-width: 1000px) {
  .rd-navbar .nav-right > ul {
    background-color: transparent;
    height: 100%;
  }
}
.rd-navbar .nav-right > ul::before, .rd-navbar .nav-right > ul::after {
  display: none;
}
.rd-navbar .nav-right > ul > li {
  align-items: center;
  align-self: stretch;
  display: flex;
  position: relative;
}
.rd-navbar .nav-right > ul > li:last-child ul {
  left: auto;
  right: 0;
}
@media (min-width: 1000px) {
  .rd-navbar .nav-right > ul > li:nth-last-child(2) ul {
    left: auto;
    right: 0;
  }
}
.rd-navbar .nav-right > ul > li:hover > a {
  background-color: rgba(0, 0, 0, 0.2);
}
.rd-navbar .nav-right > ul > li.user > a {
  font-size: 1.875em;
}
.rd-navbar .nav-right > ul > li > a {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
  min-width: 50px;
  position: relative;
  text-align: center;
}
.rd-navbar .nav-right > ul > li > a .rd-notification-badge {
  bottom: 12px;
  position: absolute;
  right: 2px;
}
.rd-navbar .nav-right > ul ul li:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.rd-navbar .nav-right > ul ul li.is-active {
  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
}
.rd-navbar .nav-right a {
  color: inherit;
}
.rd-navbar .rd-sidebar-toggler {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  height: 3.125rem;
  margin: 0;
  min-width: 50px;
  padding: 0;
  transition: none;
}
.rd-navbar .rd-sidebar-toggler:active, .rd-navbar .rd-sidebar-toggler:focus, .rd-navbar .rd-sidebar-toggler:hover, .rd-navbar .rd-sidebar-toggler.is-active {
  background-color: rgba(255, 255, 255, 0.055);
  box-shadow: none;
  position: static;
  top: auto;
}
.rd-navbar .rd-sidebar-toggler.is-active {
  box-shadow: inset -2px 2px 3px -1px rgba(0, 0, 0, 0.6);
}
@media (min-width: 1000px) {
  .rd-navbar .rd-sidebar-toggler {
    display: none;
  }
}
.rd-navbar .rd-site-brand {
  align-items: center;
  display: flex;
  margin: 0 0 0 0.625rem;
}
.rd-navbar .rd-site-brand a {
  color: inherit;
  text-decoration: none;
}
@media (min-width: 1000px) {
  .rd-navbar .rd-site-brand {
    font-size: 1.188em;
    height: 3.125rem;
  }
}

/*
* ----------------------------------------------------------------------------------------------
* pagination
* ----------------------------------------------------------------------------------------------
*/
.rd-pagination {
  display: inline-flex;
  list-style: none;
  margin: 0;
}
.rd-pagination li {
  border: 1px solid #ddd;
  min-width: 2.063em;
}
.rd-pagination li + li {
  margin-left: -1px;
}
.rd-pagination li > a,
.rd-pagination li > button,
.rd-pagination li > span {
  color: #1280EF;
  display: block;
  line-height: 1;
  padding: 0.438em 0.313em;
  text-align: center;
}
.rd-pagination li > a:active, .rd-pagination li > a:focus, .rd-pagination li > a:hover,
.rd-pagination li > button:active,
.rd-pagination li > button:focus,
.rd-pagination li > button:hover,
.rd-pagination li > span:active,
.rd-pagination li > span:focus,
.rd-pagination li > span:hover {
  background-color: #eee;
}
.rd-pagination li > a,
.rd-pagination li > button {
  cursor: pointer;
}
.rd-pagination li > button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0;
  top: 0;
}
.rd-pagination li > button:active, .rd-pagination li > button:focus, .rd-pagination li > button:hover {
  background-color: #eee;
}
.rd-pagination li > span {
  cursor: default;
}
.rd-pagination li.current {
  background-color: #52A0E5;
}
.rd-pagination li.current > a,
.rd-pagination li.current > button,
.rd-pagination li.current > span {
  color: #f1f1f1;
}
.rd-pagination li.current > a:active, .rd-pagination li.current > a:focus, .rd-pagination li.current > a:hover,
.rd-pagination li.current > button:active,
.rd-pagination li.current > button:focus,
.rd-pagination li.current > button:hover,
.rd-pagination li.current > span:active,
.rd-pagination li.current > span:focus,
.rd-pagination li.current > span:hover {
  background-color: inherit;
}
.rd-pagination.advanced input,
.rd-pagination.advanced select {
  border: none;
  height: 100%;
}
.rd-pagination.advanced input {
  padding: 0;
  width: 3.125em;
}
.rd-pagination.advanced select {
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0;
  width: 4.375em;
}
.rd-pagination.advanced .break-space {
  min-width: 0;
  width: 0.625em;
}
.rd-pagination.space-edge {
  display: flex;
  justify-content: space-between;
}
.rd-pagination.space-edge li + li {
  margin-left: 0;
}
.rd-pagination.space-loose li:first-child {
  margin-right: 0.313rem;
}
.rd-pagination.space-loose li + li {
  margin-left: 0.313rem;
  margin-right: 0.313rem;
}

/*
* ----------------------------------------------------------------------------------------------
* helper classes with typo or layout
* ----------------------------------------------------------------------------------------------
*/
.rd-block-level-margin-bottom {
  margin-bottom: 1.25rem;
}

.clearfix {
  clear: both;
}

.hidden,
.hide {
  display: none;
}

@media (min-width: 0) and (max-width: 767px) {
  .hidden-only-xs,
.hidden-under-sm,
.hidden-under-equal-xs {
    display: none;
  }
}
@media (max-width: 767px) {
  .visible-only-sm,
.visible-over-equal-sm,
.visible-over-xs {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .hidden-only-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .hidden-over-equal-sm,
.hidden-over-xs,
.visible-only-xs,
.visible-under-equal-xs,
.visible-under-sm {
    display: none;
  }
}
@media (max-width: 999px) {
  .hidden-under-md,
.hidden-under-equal-sm,
.visible-only-md,
.visible-over-equal-md,
.visible-over-sm {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .hidden-only-md {
    display: none;
  }
}
@media (min-width: 1000px) {
  .hidden-over-equal-md,
.hidden-over-sm,
.visible-only-sm,
.visible-under-equal-sm,
.visible-under-md {
    display: none;
  }
}
@media (max-width: 1199px) {
  .hidden-under-lg,
.hidden-under-equal-md,
.visible-only-lg,
.visible-over-equal-lg,
.visible-over-md {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .hidden-only-lg {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hidden-over-equal-lg,
.hidden-over-md,
.visible-only-md,
.visible-under-equal-md,
.visible-under-lg {
    display: none;
  }
}
@media (max-width: 1399px) {
  .hidden-under-xl,
.hidden-under-equal-lg,
.visible-only-xl,
.visible-over-equal-xl,
.visible-over-lg {
    display: none;
  }
}
@media (min-width: 1400px) {
  .hidden-only-xl,
.hidden-over-equal-xl,
.hidden-over-lg,
.visible-only-lg,
.visible-under-equal-lg,
.visible-under-xl {
    display: none;
  }
}
.hidden-over-equal-xs,
.hidden-over-xl,
.hidden-under-equal-xl,
.visible-over-xl,
.visible-under-xs {
  display: none;
}

.rd-helpers-screen-size-xs-max::after {
  content: "767px";
}

.rd-helpers-screen-size-sm-min::before {
  content: "768px";
}

.rd-helpers-screen-size-sm-max::before {
  content: "999px";
}

.rd-helpers-screen-size-md-min::before {
  content: "1000px";
}

.rd-helpers-screen-size-md-max::before {
  content: "1199px";
}

.rd-helpers-screen-size-lg-min::before {
  content: "1200px";
}

.rd-helpers-screen-size-lg-max::before {
  content: "1399px";
}

.rd-helpers-screen-size-xl-min::after {
  content: "1400px";
}

.screenreader-only,
.screen-reader-only,
.sr-only {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*# sourceMappingURL=rundiz-template-admin.css.map */
