/*!
 * Rundiz template for admin V.2.4.7dev-20250520
 */
/* Auto generate by Sass. */
:root {
  --rdta-background-danger-disabled-color: #cf6464;
  --rdta-background-danger-hover-color: #eeb9b9;
  --rdta-background-danger-color: #f4d0d0;
  --rdta-background-info-disabled-color: #64abb8;
  --rdta-background-info-hover-color: #afdfe7;
  --rdta-background-info-color: #c4ebf2;
  --rdta-background-primary-disabled-color: #97c3ea;
  --rdta-background-primary-hover-color: #91c2ed;
  --rdta-background-primary-color: #52A0E5;
  --rdta-background-success-disabled-color: #65b065;
  --rdta-background-success-hover-color: #c0dcc0;
  --rdta-background-success-color: #d1e6d1;
  --rdta-background-warning-disabled-color: #efb247;
  --rdta-background-warning-hover-color: #fac875;
  --rdta-background-warning-color: #fbd38f;
  --rdta-block-element-margin-horizontal: 0.625rem;
  --rdta-block-element-margin-vertical: 1.25rem;
  --rdta-block-element-padding-horizontal: 0.625rem;
  --rdta-block-element-padding-vertical: 0.625rem;
  --rdta-content-block-element-margin-vertical: calc(var(--rdta-block-element-margin-vertical) / 2);
  --rdta-navbar-height_mobilescreen: 6.25rem;
  --rdta-sidebar-collapsed-width: 3.75rem;
  --rdta-sidebar-expanded-width: 11.625rem;
  --rdta-text-danger-color: #bc0000;
  --rdta-text-info-color: #09a0bb;
  --rdta-text-primary-color: #52A0E5;
  --rdta-text-success-color: #007c00;
  --rdta-text-warning-color: #e69200;
  --rdta-text-white-color: #fff;
  --rdta-sm-min-width: 768px;
  --rdta-md-min-width: 1000px;
}
/* Auto generate by Sass. */
.rd-navbar,
.rd-sidebar,
.rd-sidebar-back,
.sm-rdta {
  --rdta-navbar-height: 3.125rem;
  --rdta-navbar-z-index: 4;
  --rdta-navbar-sidebar-background-color: #222;
  --rdta-sidebar-transition-seconds: 0s;
  --rdta-sidebar-z-index: 2;
}
.sm-rdta {
  --sm-rdta-submenu-item-wrapper-font-size: 0.875rem;
}
/*! layout/_layout-display-grid.css */
/*! layout/_layout-common.css */
html.rd-template-admin {
  height: 100%;
}
.rd-template-admin body {
  -webkit-text-size-adjust: 100%;/* fix ios orientation bug ( https://stackoverflow.com/a/27311443/128761 ). */
  
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-template-admin body {
    padding-top: calc(var(--rdta-navbar-height_mobilescreen) / 2);
  }
}
.rd-page-content {
  margin-bottom: var(--rdta-block-element-margin-vertical);
  margin-left: var(--rdta-block-element-margin-horizontal);
  margin-right: var(--rdta-block-element-margin-horizontal);
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-sidebar-back {
    background-color: var(--rdta-navbar-sidebar-background-color);
    bottom: 0;
    display: block;
    position: fixed;
    top: 0;
    transition: width var(--rdta-sidebar-transition-seconds);
    width: var(--rdta-sidebar-expanded-width);
    z-index: -1;
  }
  .rd-page-wrapper.is-collapsed .rd-sidebar-back {
    transition: width var(--rdta-sidebar-transition-seconds);
    width: var(--rdta-sidebar-collapsed-width);
  }
}
/*! layout/_layout-display-grid-begins.css */
.rd-page-wrapper {
  display: grid;
  grid-template-columns: 0px auto;
  grid-template-rows: auto;
  min-height: calc(100vh - var(--rdta-navbar-height_mobilescreen));
  position: relative;
}
.rd-page-wrapper > footer {
  background-color: transparent;
  color: #888;
  display: none;
  /* when visible in the larger screen size, use flex */
  font-size: 0.688em;
  min-height: 1.25rem;
  padding: 0.313rem var(--rdta-block-element-padding-horizontal);
}
.rd-page-wrapper > footer a {
  color: inherit;
}
.rd-page-wrapper > footer .rd-page-footer-left {
  margin-left: 0;
  margin-right: 0;
  padding-right: var(--rdta-block-element-padding-horizontal);
}
.rd-page-wrapper > footer .rd-page-footer-right {
  margin-left: auto;
  margin-right: 0;
  padding-left: var(--rdta-block-element-padding-horizontal);
}
.rd-page-wrapper > main {
  align-self: start;
  min-width: 0;/* // fix table push this element over screen width ( https://stackoverflow.com/questions/43311943/prevent-grid-items-from-stretching-in-css-grid-layout ) */
  
}
/*! layout/_layout-display-grid-sidebar.css */
.rd-page-wrapper .rd-sidebar {
  background-color: rgb(46, 46, 46);
  color: #ccc;
  display: none;
  height: auto;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: absolute;
  width: var(--rdta-sidebar-expanded-width);
}
.rd-page-wrapper .rd-sidebar a {
  color: inherit;
  text-decoration: none;
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list > li > a {
  display: block;
  overflow-wrap: break-word;
  padding: var(--rdta-block-element-padding-vertical) 2.125rem var(--rdta-block-element-padding-vertical) var(--rdta-block-element-padding-horizontal);
  word-break: break-all;
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list > li > a > span.rd-sidebar-menu-text {
  overflow-wrap: break-word;
  word-break: break-all;
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list > li > a .sidebar-icon {
  font-size: 1.25rem;
  transition: font-size var(--rdta-sidebar-transition-seconds);
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list li.divider {
  border-bottom: 1px solid var(--rdta-tpf-block-border-color);
  margin-bottom: var(--rdta-content-block-element-margin-vertical);
  margin-top: var(--rdta-content-block-element-margin-vertical);
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list li.divider a {
  display: none;
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list li.sub-menu-heading {
  font-weight: 700;
}
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list li.sub-menu-heading > a,
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list li.sub-menu-heading > div,
.rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list li.sub-menu-heading > span {
  color: inherit;
  font-size: 1rem;
}
.rd-page-wrapper .rd-sidebar ul {
  list-style: none;
  margin: 0;
}
.rd-page-wrapper .rd-sidebar ul li {
  list-style: none;
}
/* @include rd-page-wrapperMini-screen-sidebar-visible */
.rd-page-wrapper.mini-screen-sidebar-visible {
  overflow-x: hidden;
}
.rd-page-wrapper.mini-screen-sidebar-visible > footer,
.rd-page-wrapper.mini-screen-sidebar-visible > main {
  transform: translateX(var(--rdta-sidebar-expanded-width));
}
.rd-page-wrapper.mini-screen-sidebar-visible .rd-sidebar {
  display: block;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-page-wrapper.mini-screen-sidebar-visible {
    overflow-x: visible;
  }
  .rd-page-wrapper.mini-screen-sidebar-visible > footer,
  .rd-page-wrapper.mini-screen-sidebar-visible > main {
    transform: none;
  }
  .rd-page-wrapper.mini-screen-sidebar-visible .rd-sidebar {
    background-color: transparent;
    min-height: 0;
    position: static;
  }
}
/* end @include rd-page-wrapperMini-screen-sidebar-visible */
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-page-wrapper {
    grid-template-columns: var(--rdta-sidebar-expanded-width) auto;
    grid-template-rows: auto 1.656rem;
    min-height: calc(100vh - var(--rdta-navbar-height_mobilescreen) / 2);
  }
  .rd-page-wrapper > footer {
    display: flex;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 2;
  }
  .rd-page-wrapper > main {
    grid-column-start: 2;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  .rd-page-wrapper .rd-sidebar {
    align-self: self-start;
    background-color: transparent;
    display: block;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 1;
    position: relative;
    transition: width var(--rdta-sidebar-transition-seconds);
    width: var(--rdta-sidebar-expanded-width);
  }
  .rd-page-wrapper .rd-sidebar ul.rd-sidebar-item-list > li > a {
    padding: var(--rdta-block-element-padding-vertical) 1.125rem var(--rdta-block-element-padding-vertical) var(--rdta-block-element-padding-horizontal);
  }
  .rd-page-wrapper.is-collapsed {
    grid-template-columns: var(--rdta-sidebar-collapsed-width) auto;
  }
  /* @include rd-page-wrapperIs-collapsed_rd-sidebar */
  .rd-page-wrapper.is-collapsed .rd-sidebar {
    width: var(--rdta-sidebar-collapsed-width);
  }
  .rd-page-wrapper.is-collapsed .rd-sidebar ul.rd-sidebar-item-list > li > a > span.rd-sidebar-menu-text {
    display: none;
  }
  .rd-page-wrapper.is-collapsed .rd-sidebar ul.rd-sidebar-item-list > li > a > .sidebar-icon {
    font-size: 1.563rem;
  }
  /* end @include rd-page-wrapperIs-collapsed_rd-sidebar */
  /* @include rd-sidebar-inner */
  .rd-page-wrapper .rd-sidebar-inner {
    z-index: calc(var(--rdta-sidebar-z-index) + 1);
  }
}
/*! layout/_layout-common-sidebar-expand-collapse-controls.css */
ul.rd-sidebar-expand-collapse-controls,
.rd-sidebar-expand-collapse-controls {
  display: none;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  ul.rd-sidebar-expand-collapse-controls,
  .rd-sidebar-expand-collapse-controls {
    display: block;
    position: relative;
  }
  ul.rd-sidebar-expand-collapse-controls a,
  .rd-sidebar-expand-collapse-controls a {
    background-color: var(--rdta-navbar-sidebar-background-color);
    cursor: pointer;
    margin-top: -2px;
    position: absolute;
    top: -1.25rem;/* -(hr margin top) */
    
  }
  ul.rd-sidebar-expand-collapse-controls a .sidebar-icon,
  ul.rd-sidebar-expand-collapse-controls a .icon,
  .rd-sidebar-expand-collapse-controls a .sidebar-icon,
  .rd-sidebar-expand-collapse-controls a .icon {
    color: #aaa;
  }
  ul.rd-sidebar-expand-collapse-controls hr,
  .rd-sidebar-expand-collapse-controls hr {
    border-top-color: #444;
  }
  .rd-page-wrapper.is-collapsed .rd-sidebar-expand-collapse-controls a {
    box-shadow: none;
  }
}
/*!
* ----------------------------------------------------------------------------------------------
* _alert-box.css
* ----------------------------------------------------------------------------------------------
*/
/* Auto generate by Sass. */
.rd-alertbox {
  --rdta-alert-danger-active: hsl(from var(--rdta-text-danger-color) h s calc(l - 15));
  --rdta-alert-danger-hover: hsl(from var(--rdta-text-danger-color) h s calc(l + 15));
  --rdta-alert-fixfloat-danger-background-color: hsl(from var(--rdta-background-danger-color) h s calc(l + 7));
  --rdta-alert-info-active: hsl(from var(--rdta-text-info-color) h s calc(l - 15));
  --rdta-alert-info-hover: hsl(from var(--rdta-text-info-color) h s calc(l + 15));
  --rdta-alert-fixfloat-info-background-color: hsl(from var(--rdta-background-info-color) h s calc(l + 7));
  --rdta-alert-success-active: hsl(from var(--rdta-text-success-color) h s calc(l - 15));
  --rdta-alert-success-hover: hsl(from var(--rdta-text-success-color) h s calc(l + 15));
  --rdta-alert-fixfloat-success-background-color: hsl(from var(--rdta-background-success-color) h s calc(l + 7));
  --rdta-alert-warning-active: hsl(from var(--rdta-text-warning-color) h s calc(l - 15));
  --rdta-alert-warning-hover: hsl(from var(--rdta-text-warning-color) h s calc(l + 15));
  --rdta-alert-fixfloat-warning-background-color: hsl(from var(--rdta-background-warning-color) h s calc(l + 7));
  --rdta-alert-box-z-index: 101;
}
.rd-alertbox {
  background-color: #fff;
  border-left-color: var(--rdta-tpf-block-border-color);
  border-left-width: 5px;
  border-left-style: solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: inherit;
  font-size: 0.85em;
  margin-bottom: var(--rdta-block-element-margin-vertical);
  padding: 0.625em;
  position: relative;
  width: 100%;
}
.rd-alertbox.alert-danger {
  border-left-color: var(--rdta-text-danger-color);
}
.rd-alertbox.alert-danger a {
  color: var(--rdta-text-danger-color);
}
.rd-alertbox.alert-danger a:active {
  color: var(--rdta-alert-danger-active);
}
.rd-alertbox.alert-danger a:focus,
.rd-alertbox.alert-danger a:hover {
  color: var(--rdta-alert-danger-hover);
}
.rd-alertbox.alert-danger a:visited {
  color: var(--rdta-text-danger-color);
}
.rd-alertbox.alert-info {
  border-left-color: var(--rdta-text-info-color);
}
.rd-alertbox.alert-info a {
  color: var(--rdta-text-info-color);
}
.rd-alertbox.alert-info a:active {
  color: var(--rdta-alert-info-active);
}
.rd-alertbox.alert-info a:focus,
.rd-alertbox.alert-info a:hover {
  color: var(--rdta-alert-info-hover);
}
.rd-alertbox.alert-info a:visited {
  color: var(--rdta-text-info-color);
}
.rd-alertbox.alert-success {
  border-left-color: var(--rdta-text-success-color);
}
.rd-alertbox.alert-success a {
  color: var(--rdta-text-success-color);
}
.rd-alertbox.alert-success a:active {
  color: var(--rdta-alert-success-active);
}
.rd-alertbox.alert-success a:focus,
.rd-alertbox.alert-success a:hover {
  color: var(--rdta-alert-success-hover);
}
.rd-alertbox.alert-success a:visited {
  color: var(--rdta-text-success-color);
}
.rd-alertbox.alert-warning {
  border-left-color: var(--rdta-text-warning-color);
}
.rd-alertbox.alert-warning a {
  color: var(--rdta-text-warning-color);
}
.rd-alertbox.alert-warning a:active {
  color: var(--rdta-alert-warning-active);
}
.rd-alertbox.alert-warning a:focus,
.rd-alertbox.alert-warning a:hover {
  color: var(--rdta-alert-warning-hover);
}
.rd-alertbox.alert-warning a:visited {
  color: var(--rdta-text-warning-color);
}
/* position fixed and float */
.rd-alertbox.fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
}
.rd-alertbox.fixed-top {
  top: 0;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint`$minimum-sidebar-breakpoint` */
  .rd-alertbox.fixed-top {
    min-height: calc(var(--rdta-navbar-height_mobilescreen) / 2);
  }
}
.rd-alertbox.fixed-bottom,
.rd-alertbox.fixed-top {
  left: 0;
  right: 0;
}
.rd-alertbox.float-bottom {
  bottom: 0.625rem;
  margin-bottom: 0;
}
.rd-alertbox.float-top {
  top: 0.625rem;
}
.rd-alertbox.float-bottom,
.rd-alertbox.float-top {
  display: inline-block;
  left: 0.625rem;
  margin-right: var(--rdta-block-element-margin-horizontal);
  width: auto;
}
.rd-alertbox.fixed-bottom,
.rd-alertbox.fixed-top,
.rd-alertbox.float-bottom,
.rd-alertbox.float-top {
  position: fixed;
  z-index: var(--rdta-alert-box-z-index);
}
.rd-alertbox.fixed-bottom.alert-danger,
.rd-alertbox.fixed-top.alert-danger,
.rd-alertbox.float-bottom.alert-danger,
.rd-alertbox.float-top.alert-danger {
  background-color: var(--rdta-alert-fixfloat-danger-background-color);
  border-left-width: 10px;
  box-shadow: 0 0 10px 2px color-mix(in srgb, var(--rdta-text-danger-color), transparent 40%);
}
.rd-alertbox.fixed-bottom.alert-info,
.rd-alertbox.fixed-top.alert-info,
.rd-alertbox.float-bottom.alert-info,
.rd-alertbox.float-top.alert-info {
  background-color: var(--rdta-alert-fixfloat-info-background-color);
  border-left-width: 10px;
  box-shadow: 0 0 10px 2px color-mix(in srgb, var(--rdta-text-info-color), transparent 40%);
}
.rd-alertbox.fixed-bottom.alert-success,
.rd-alertbox.fixed-top.alert-success,
.rd-alertbox.float-bottom.alert-success,
.rd-alertbox.float-top.alert-success {
  background-color: var(--rdta-alert-fixfloat-success-background-color);
  border-left-width: 10px;
  box-shadow: 0 0 10px 2px color-mix(in srgb, var(--rdta-text-success-color), transparent 40%);
}
.rd-alertbox.fixed-bottom.alert-warning,
.rd-alertbox.fixed-top.alert-warning,
.rd-alertbox.float-bottom.alert-warning,
.rd-alertbox.float-top.alert-warning {
  background-color: var(--rdta-alert-fixfloat-warning-background-color);
  border-left-width: 10px;
  box-shadow: 0 0 10px 2px color-mix(in srgb, var(--rdta-text-warning-color), transparent 40%);
}
/* end position fixed and float */
/* alert dismissable */
.rd-alertbox.is-dismissable {
  padding-right: 1.563em;
}
.rd-alertbox .close {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #aaa;
  cursor: pointer;
  float: right;
  font-size: 1.313em;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  opacity: 0.3;
  padding: 0;
  position: relative;
  right: -0.938rem;
  top: 0.1rem;
  transition: none;
}
.rd-alertbox .close::after {
  clear: both;
  content: "";
  display: table;
}
.rd-alertbox .close:active,
.rd-alertbox .close:focus,
.rd-alertbox .close:hover {
  box-shadow: none;
  color: inherit;
  opacity: 0.8;
  top: 0.1rem;
}
/* end alert dismissable */
.rd-alertbox .rd-alert-list {
  margin-bottom: 0;
}
/*!
* ----------------------------------------------------------------------------------------------
* _badge.css
* ----------------------------------------------------------------------------------------------
*/
.rd-notification-badge {
  --rdta-badge-basic-background-color: hsl(from var(--rdta-tpf-page-text-color) h s calc(l + 13.5));
  --rdta-badge-basic-color: var(--rdta-tpf-block-background-color);
}
.rd-notification-badge {
  background-color: var(--rdta-badge-basic-background-color);
  border-radius: 1.1em;
  color: var(--rdta-badge-basic-color);
  display: inline-block;
  font-size: 0.813em;
  line-height: 1;
  margin: 0 0.2rem;
  min-width: 1.1em;
  padding: 0.2rem 0.425rem;
  text-align: center;
}
.rd-notification-badge.badge-danger {
  background-color: var(--rdta-text-danger-color);
}
.rd-notification-badge.badge-info {
  background-color: var(--rdta-text-info-color);
}
.rd-notification-badge.badge-primary {
  background-color: var(--rdta-text-primary-color);
}
.rd-notification-badge.badge-success {
  background-color: var(--rdta-text-success-color);
}
.rd-notification-badge.badge-warning {
  background-color: var(--rdta-text-warning-color);
}
.rd-notification-badge.tiny {
  font-size: 0.625em;
  padding: 0.1rem 0.29rem;
}
/*!
* ----------------------------------------------------------------------------------------------
* _breadcrumb.css
* ----------------------------------------------------------------------------------------------
*/
/* Auto generate by Sass. */
.rd-breadcrumb {
  --rdta-breadcrumb-text-color: #777;
}
.rd-breadcrumb {
  background-color: var(--rdta-tpf-block-background-color);
  color: var(--rdta-breadcrumb-text-color);
  display: flex;
  font-size: 0.75em;
  list-style: none;
  margin: 0 0 var(--rdta-content-block-element-margin-vertical) 0;
  padding: 0.5rem var(--rdta-block-element-padding-horizontal);
}
.rd-breadcrumb a {
  text-decoration: none;
}
.rd-breadcrumb li {
  margin-right: var(--rdta-block-element-margin-horizontal);
}
.rd-breadcrumb li::after {
  content: "/";
  margin-left: var(--rdta-block-element-margin-horizontal);
}
.rd-breadcrumb li:last-child {
  margin-right: 0;
}
.rd-breadcrumb li:last-child::after {
  content: "";
}
.rd-breadcrumb li.active a,
.rd-breadcrumb li.active span,
.rd-breadcrumb li.current a,
.rd-breadcrumb li.current span {
  color: inherit;
  cursor: default;
}
/*!
* ----------------------------------------------------------------------------------------------
* _button.css
* ----------------------------------------------------------------------------------------------
*/
/* Auto generate by Sass. */
.rd-form,
.rd-button {
  --rdta-form-large-font-size: 1.25em;
  --rdta-form-small-font-size: 0.75em;
  --rdta-form-tiny-font-size: 0.625em;
}
/* Auto generate by Sass. */
.rd-button {
  --rdta-button-disabled-styled-text-color: #fff;
  --rdta-button-styled-text-color: #fff;
  --rdta-button-danger-disabled-border-color: hsl(from var(--rdta-background-danger-disabled-color) h s calc(l - 7));
  --rdta-button-danger-disabled-3d-edge-color: hsl(from var(--rdta-background-danger-disabled-color) h s calc(l - 5));
  --rdta-button-danger-border-color: hsl(from var(--rdta-text-danger-color) h s calc(l - 7));
  --rdta-button-danger-3d-edge-color: hsl(from var(--rdta-text-danger-color) h s calc(l - 5));
  --rdta-button-info-disabled-border-color: hsl(from var(--rdta-background-info-disabled-color) h s calc(l - 7));
  --rdta-button-info-disabled-3d-edge-color: hsl(from var(--rdta-background-info-disabled-color) h s calc(l - 5));
  --rdta-button-info-border-color: hsl(from var(--rdta-text-info-color) h s calc(l - 7));
  --rdta-button-info-3d-edge-color: hsl(from var(--rdta-text-info-color) h s calc(l - 5));
  --rdta-button-primary-disabled-border-color: hsl(from var(--rdta-background-primary-disabled-color) h s calc(l - 7));
  --rdta-button-primary-disabled-3d-edge-color: hsl(from var(--rdta-background-primary-disabled-color) h s calc(l - 5));
  --rdta-button-primary-border-color: hsl(from var(--rdta-text-primary-color) h s calc(l - 7));
  --rdta-button-primary-3d-edge-color: hsl(from var(--rdta-text-primary-color) h s calc(l - 5));
  --rdta-button-success-disabled-border-color: hsl(from var(--rdta-background-success-disabled-color) h s calc(l - 7));
  --rdta-button-success-disabled-3d-edge-color: hsl(from var(--rdta-background-success-disabled-color) h s calc(l - 5));
  --rdta-button-success-border-color: hsl(from var(--rdta-text-success-color) h s calc(l - 7));
  --rdta-button-success-3d-edge-color: hsl(from var(--rdta-text-success-color) h s calc(l - 5));
  --rdta-button-warning-disabled-border-color: hsl(from var(--rdta-background-warning-disabled-color) h s calc(l - 7));
  --rdta-button-warning-disabled-3d-edge-color: hsl(from var(--rdta-background-warning-disabled-color) h s calc(l - 5));
  --rdta-button-warning-border-color: hsl(from var(--rdta-text-warning-color) h s calc(l - 7));
  --rdta-button-warning-3d-edge-color: hsl(from var(--rdta-text-warning-color) h s calc(l - 5));
}
a.rd-button,
.rd-button {
  text-decoration: none;
}
a.rd-button.danger,
a.rd-button.info,
a.rd-button.primary,
a.rd-button.success,
a.rd-button.warning,
.rd-button.danger,
.rd-button.info,
.rd-button.primary,
.rd-button.success,
.rd-button.warning {
  color: var(--rdta-button-styled-text-color);
}
a.rd-button.danger:disabled,
a.rd-button.danger.disabled,
a.rd-button.info:disabled,
a.rd-button.info.disabled,
a.rd-button.primary:disabled,
a.rd-button.primary.disabled,
a.rd-button.success:disabled,
a.rd-button.success.disabled,
a.rd-button.warning:disabled,
a.rd-button.warning.disabled,
.rd-button.danger:disabled,
.rd-button.danger.disabled,
.rd-button.info:disabled,
.rd-button.info.disabled,
.rd-button.primary:disabled,
.rd-button.primary.disabled,
.rd-button.success:disabled,
.rd-button.success.disabled,
.rd-button.warning:disabled,
.rd-button.warning.disabled {
  color: var(--rdta-button-disabled-styled-text-color);
}
/* button styles */
a.rd-button.danger,
.rd-button.danger {
  background-color: var(--rdta-text-danger-color);
  border-color: var(--rdta-button-danger-border-color);
  box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-danger-3d-edge-color);
}
a.rd-button.danger:active,
a.rd-button.danger.active,
.rd-button.danger:active,
.rd-button.danger.active {
  box-shadow: 0 var(--rdta-tpf-button-3d-pressed-height) 0 var(--rdta-button-danger-3d-edge-color);
}
a.rd-button.danger:disabled,
a.rd-button.danger.disabled,
.rd-button.danger:disabled,
.rd-button.danger.disabled {
  background-color: var(--rdta-background-danger-disabled-color);
  border-color: var(--rdta-button-danger-disabled-border-color);
  box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-danger-disabled-3d-edge-color);
}
a.rd-button.info,
.rd-button.info {
  background-color: var(--rdta-text-info-color);
  border-color: var(--rdta-button-info-border-color);
  box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-info-3d-edge-color);
}
a.rd-button.info:active,
a.rd-button.info.active,
.rd-button.info:active,
.rd-button.info.active {
  box-shadow: 0 var(--rdta-tpf-button-3d-pressed-height) 0 var(--rdta-button-info-3d-edge-color);
}
a.rd-button.info:disabled,
a.rd-button.info.disabled,
.rd-button.info:disabled,
.rd-button.info.disabled {
  background-color: var(--rdta-background-info-disabled-color);
  border-color: var(--rdta-button-info-disabled-border-color);
  box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-info-disabled-3d-edge-color);
}
a.rd-button.primary,
.rd-button.primary {
  background-color: var(--rdta-text-primary-color);
  border-color: var(--rdta-button-primary-border-color);
  box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-primary-3d-edge-color);
}
a.rd-button.primary:active,
a.rd-button.primary.active,
.rd-button.primary:active,
.rd-button.primary.active {
  box-shadow: 0 var(--rdta-tpf-button-3d-pressed-height) 0 var(--rdta-button-primary-3d-edge-color);
}
a.rd-button.primary:disabled,
a.rd-button.primary.disabled,
.rd-button.primary:disabled,
.rd-button.primary.disabled {
  background-color: var(--rdta-background-primary-disabled-color);
  border-color: var(--rdta-button-primary-disabled-border-color);
  box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-primary-disabled-3d-edge-color);
}
a.rd-button.success,
.rd-button.success {
  background-color: var(--rdta-text-success-color);
  border-color: var(--rdta-button-success-border-color);
  box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-success-3d-edge-color);
}
a.rd-button.success:active,
a.rd-button.success.active,
.rd-button.success:active,
.rd-button.success.active {
  box-shadow: 0 var(--rdta-tpf-button-3d-pressed-height) 0 var(--rdta-button-success-3d-edge-color);
}
a.rd-button.success:disabled,
a.rd-button.success.disabled,
.rd-button.success:disabled,
.rd-button.success.disabled {
  background-color: var(--rdta-background-success-disabled-color);
  border-color: var(--rdta-button-success-disabled-border-color);
  box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-success-disabled-3d-edge-color);
}
a.rd-button.warning,
.rd-button.warning {
  background-color: var(--rdta-text-warning-color);
  border-color: var(--rdta-button-warning-border-color);
  box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-warning-3d-edge-color);
}
a.rd-button.warning:active,
a.rd-button.warning.active,
.rd-button.warning:active,
.rd-button.warning.active {
  box-shadow: 0 var(--rdta-tpf-button-3d-pressed-height) 0 var(--rdta-button-warning-3d-edge-color);
}
a.rd-button.warning:disabled,
a.rd-button.warning.disabled,
.rd-button.warning:disabled,
.rd-button.warning.disabled {
  background-color: var(--rdta-background-warning-disabled-color);
  border-color: var(--rdta-button-warning-disabled-border-color);
  box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-warning-disabled-3d-edge-color);
}
/* end button styles */
/* button sizes */
a.rd-button.large,
.rd-button.large {
  font-size: var(--rdta-form-large-font-size);
}
a.rd-button.small,
.rd-button.small {
  font-size: var(--rdta-form-small-font-size);
}
a.rd-button.tiny,
.rd-button.tiny {
  font-size: var(--rdta-form-tiny-font-size);
}
/* end button sizes */
/* button group */
.rd-button-group {
  display: inline-flex;
  position: relative;
}
.rd-button-group menu,
.rd-button-group ul {
  display: none;
}
.rd-button-group .rd-button + .rd-button {
  margin-left: -1px;
}
/* end button group */
/*!
* ----------------------------------------------------------------------------------------------
* _data-table.css
* ----------------------------------------------------------------------------------------------
*/
.rd-datatable {
  width: 100%;
}
.rd-datatable tbody tr:hover {
  background-color: rgba(243, 243, 243, 0.5);
}
.rd-datatable tfoot td a,
.rd-datatable tfoot th a,
.rd-datatable thead td a,
.rd-datatable thead th a {
  color: var(--rdta-tpf-text-link-color);
}
.rd-datatable td,
.rd-datatable th {
  vertical-align: top;
  white-space: normal;
  word-wrap: break-word;
}
.rd-datatable .column-checkbox {
  text-align: center;
  width: 32px;
}
.rd-datatable .filter-row td,
.rd-datatable .filter-row th {
  background-color: #f1f1f1;
  padding-bottom: 0;
  padding-top: 0;
}
/* all inputs, select, textarea in filter row */
/* below are `inputbox-like`. */
.rd-datatable .filter-row td input[type="date"],
.rd-datatable .filter-row td input[type="datetime-local"],
.rd-datatable .filter-row td input[type="email"],
.rd-datatable .filter-row td input[type="month"],
.rd-datatable .filter-row td input[type="number"],
.rd-datatable .filter-row td input[type="password"],
.rd-datatable .filter-row td input[type="range"],
.rd-datatable .filter-row td input[type="search"],
.rd-datatable .filter-row td input[type="tel"],
.rd-datatable .filter-row td input[type="text"],
.rd-datatable .filter-row td input[type="time"],
.rd-datatable .filter-row td input[type="url"],
.rd-datatable .filter-row td input[type="week"],
.rd-datatable .filter-row td select,
.rd-datatable .filter-row td textarea,
.rd-datatable .filter-row th input[type="date"],
.rd-datatable .filter-row th input[type="datetime-local"],
.rd-datatable .filter-row th input[type="email"],
.rd-datatable .filter-row th input[type="month"],
.rd-datatable .filter-row th input[type="number"],
.rd-datatable .filter-row th input[type="password"],
.rd-datatable .filter-row th input[type="range"],
.rd-datatable .filter-row th input[type="search"],
.rd-datatable .filter-row th input[type="tel"],
.rd-datatable .filter-row th input[type="text"],
.rd-datatable .filter-row th input[type="time"],
.rd-datatable .filter-row th input[type="url"],
.rd-datatable .filter-row th input[type="week"],
.rd-datatable .filter-row th select,
.rd-datatable .filter-row th textarea {
  background-color: #fff;
  height: 2.45em;
  width: 100%;
}
/* end all inputs, select, textarea in filter row */
.rd-datatable.h-border tfoot td,
.rd-datatable.h-border tfoot th,
.rd-datatable.h-border thead td,
.rd-datatable.h-border thead th {
  background-color: transparent;
}
.rd-datatable.h-border tfoot td,
.rd-datatable.h-border tfoot th {
  border-top-width: 2px;
}
.rd-datatable.h-border thead td,
.rd-datatable.h-border thead th {
  border-bottom-width: 2px;
}
.rd-datatable.h-border td,
.rd-datatable.h-border th {
  border-left-width: 0;
  border-right-width: 0;
}
/* table cell styles */
.rd-datatable .table-cell-danger,
.rd-datatable .table-row-danger {
  background-color: var(--rdta-background-danger-color);
}
.rd-datatable .table-cell-danger:hover,
.rd-datatable .table-row-danger:hover {
  background-color: var(--rdta-background-danger-hover-color);
}
.rd-datatable .table-cell-info,
.rd-datatable .table-row-info {
  background-color: var(--rdta-background-info-color);
}
.rd-datatable .table-cell-info:hover,
.rd-datatable .table-row-info:hover {
  background-color: var(--rdta-background-info-hover-color);
}
.rd-datatable .table-cell-primary,
.rd-datatable .table-row-primary {
  background-color: var(--rdta-background-primary-color);
}
.rd-datatable .table-cell-primary:hover,
.rd-datatable .table-row-primary:hover {
  background-color: var(--rdta-background-primary-hover-color);
}
.rd-datatable .table-cell-success,
.rd-datatable .table-row-success {
  background-color: var(--rdta-background-success-color);
}
.rd-datatable .table-cell-success:hover,
.rd-datatable .table-row-success:hover {
  background-color: var(--rdta-background-success-hover-color);
}
.rd-datatable .table-cell-warning,
.rd-datatable .table-row-warning {
  background-color: var(--rdta-background-warning-color);
}
.rd-datatable .table-cell-warning:hover,
.rd-datatable .table-row-warning:hover {
  background-color: var(--rdta-background-warning-hover-color);
}
/* end table cell styles */
/* 
responsive table by using expand/collapse
`~` selector, see reference here https://www.w3schools.com/cssref/sel_gen_sibling.asp
*/
.rd-datatable.responsive td,
.rd-datatable.responsive th {
  background-color: transparent;
  border: none;
}
.rd-datatable.responsive td.column-primary ~ td,
.rd-datatable.responsive th.column-primary ~ th {
  display: none;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-datatable.responsive td.column-primary ~ td,
  .rd-datatable.responsive th.column-primary ~ th {
    display: table-cell;
  }
}
.rd-datatable.responsive thead tr {
  border-bottom: 2px solid var(--rdta-tpf-block-border-color);
}
.rd-datatable.responsive tfoot tr {
  border-top: 2px solid var(--rdta-tpf-block-border-color);
}
.rd-datatable.responsive tr {
  border-top: 1px solid var(--rdta-tpf-block-border-color);
}
.rd-datatable.responsive tr:hover .row-actions {
  opacity: 1;
}
.rd-datatable.responsive .column-primary {
  display: block;
  padding-right: 2.209rem;
  /* must related to the .toggle-row button width. */
  position: relative;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-datatable.responsive .column-primary {
    display: table-cell;
    padding-right: var(--rdta-tpf-table-cell-padding);
  }
}
.rd-datatable.responsive .column-primary ~ td {
  clear: both;
  padding-left: 35%;
  position: relative;
  width: auto;
}
.rd-datatable.responsive .column-primary ~ td::before {
  content: attr(data-colname);
  display: block;
  left: var(--rdta-tpf-table-cell-padding);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 32%;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-datatable.responsive .column-primary ~ td::before {
    display: none;
  }
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-datatable.responsive .column-primary ~ td {
    clear: none;
    padding-left: var(--rdta-tpf-table-cell-padding);
  }
}
.rd-datatable.responsive .is-expanded .column-primary ~ td {
  display: block;
  overflow: hidden;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-datatable.responsive .is-expanded .column-primary ~ td {
    display: table-cell;
    overflow: visible;
  }
}
.rd-datatable.responsive .row-actions {
  font-size: 0.75em;
  opacity: 0;
  transition: opacity 0.2s;
}
.rd-datatable.responsive .row-actions span + span::before {
  /* must use `<span>` to wrap `<a>` because if it is `a + a::before` then the | text will becomes link. */
  content: " | ";
}
.rd-datatable.responsive .toggle-row {
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  display: block;
  font-size: 1rem;
  height: 1.688rem;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  top: 0.375rem;
  transition: none;
  width: 1.688rem;
}
.rd-datatable.responsive .toggle-row:active,
.rd-datatable.responsive .toggle-row:focus,
.rd-datatable.responsive .toggle-row:hover {
  box-shadow: 0 0 0 1px var(--rdta-text-info-color),0 0 3px 2px color-mix(in srgb, var(--rdta-background-info-color), transparent 20%);
  outline: none;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-datatable.responsive .toggle-row {
    display: none;
  }
}
/* end responsive table by using expand/collapse */
/* table sortable */
.rd-datatable .sortable-icon {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 0.75rem;
  font-style: normal;
  line-height: 1;
  visibility: hidden;
}
.rd-datatable .sortable-icon::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.rd-datatable .sortable-icon.order-desc {
  transform: translateY(-29%);
}
.rd-datatable .sortable-icon.order-desc::before {
  content: "\f0dd";/* down arrow. */
  
}
.rd-datatable .sortable-icon.order-asc {
  transform: translateY(9%);
}
.rd-datatable .sortable-icon.order-asc::before {
  content: "\f0de";/* up arrow. */
  
}
.rd-datatable td.sorted .sortable-icon,
.rd-datatable td:hover .sortable-icon,
.rd-datatable th.sorted .sortable-icon,
.rd-datatable th:hover .sortable-icon {
  visibility: visible;
}
/* end table sortable */
/* responsive table using slide left and right */
.rd-datatable-wrapper {
  display: block;
  overflow-x: auto;
  overflow-y: visible;
  width: 100%;
}
/* end responsive table using slide left and right */
/*!
* ----------------------------------------------------------------------------------------------
* _dropdown.css
* ----------------------------------------------------------------------------------------------
* commonly use with button (dropdown button).
*/
.rd-dropdown {
  background-color: #FFF;
  border: 1px solid var(--rdta-tpf-block-border-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 0.875em;
  list-style: none;
  margin: 0;
  min-width: 150px;
  padding: 0;
  width: auto;
  z-index: 1;
}
.rd-dropdown li:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.rd-dropdown li.divider {
  border-bottom: 1px solid var(--rdta-tpf-block-border-color);
  margin-bottom: var(--rdta-content-block-element-margin-vertical);
  margin-top: var(--rdta-content-block-element-margin-vertical);
}
.rd-dropdown li.divider a {
  display: none;
}
.rd-dropdown li a,
.rd-dropdown li button,
.rd-dropdown li input[type="button"],
.rd-dropdown li input[type="reset"],
.rd-dropdown li input[type="submit"] {
  background-color: transparent;
  color: inherit;
  display: block;
  padding: 0.313rem var(--rdta-block-element-padding-horizontal);
  width: 100%;
}
.rd-dropdown li button,
.rd-dropdown li input[type="button"],
.rd-dropdown li input[type="reset"],
.rd-dropdown li input[type="submit"] {
  border: none;
  box-shadow: none;
  margin: 0;
  text-align: left;
}
.rd-dropdown li button:active,
.rd-dropdown li input[type="button"]:active,
.rd-dropdown li input[type="reset"]:active,
.rd-dropdown li input[type="submit"]:active {
  box-shadow: none;
  top: auto;
}
/*!
* ----------------------------------------------------------------------------------------------
* _form.css
* ----------------------------------------------------------------------------------------------
*/
/* input sizes */
/* below are `inputbox-like`. */
input[type="date"].input-large,
input[type="datetime-local"].input-large,
input[type="email"].input-large,
input[type="month"].input-large,
input[type="number"].input-large,
input[type="password"].input-large,
input[type="range"].input-large,
input[type="search"].input-large,
input[type="tel"].input-large,
input[type="text"].input-large,
input[type="time"].input-large,
input[type="url"].input-large,
input[type="week"].input-large,
select.input-large,
textarea.input-large {
  font-size: var(--rdta-form-large-font-size);
}
/* below are `inputbox-like`. */
input[type="date"].input-small,
input[type="datetime-local"].input-small,
input[type="email"].input-small,
input[type="month"].input-small,
input[type="number"].input-small,
input[type="password"].input-small,
input[type="range"].input-small,
input[type="search"].input-small,
input[type="tel"].input-small,
input[type="text"].input-small,
input[type="time"].input-small,
input[type="url"].input-small,
input[type="week"].input-small,
select.input-small,
textarea.input-small {
  font-size: var(--rdta-form-small-font-size);
}
/* end input sizes */
.rd-form .disabled {
  color: var(--rdta-tpf-text-disabled-color);
  cursor: not-allowed;
}
/* form group */
.rd-form .form-group {
  margin-bottom: var(--rdta-content-block-element-margin-vertical);
}
.rd-form .form-group .control-label {
  font-weight: 600;
}
.rd-form .form-group .control-label.large {
  font-size: var(--rdta-form-large-font-size);
}
.rd-form .form-group .control-label.small {
  font-size: var(--rdta-form-small-font-size);
}
/* below are `inputbox-like`. */
.rd-form .form-group .control-wrapper input[type="date"],
.rd-form .form-group .control-wrapper input[type="datetime-local"],
.rd-form .form-group .control-wrapper input[type="email"],
.rd-form .form-group .control-wrapper input[type="month"],
.rd-form .form-group .control-wrapper input[type="number"],
.rd-form .form-group .control-wrapper input[type="password"],
.rd-form .form-group .control-wrapper input[type="range"],
.rd-form .form-group .control-wrapper input[type="search"],
.rd-form .form-group .control-wrapper input[type="tel"],
.rd-form .form-group .control-wrapper input[type="text"],
.rd-form .form-group .control-wrapper input[type="time"],
.rd-form .form-group .control-wrapper input[type="url"],
.rd-form .form-group .control-wrapper input[type="week"],
.rd-form .form-group .control-wrapper select,
.rd-form .form-group .control-wrapper textarea {
  display: block;
  width: 100%;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-form.horizontal .form-group {
    display: flex;
  }
  .rd-form.horizontal .form-group .control-label {
    flex: 0 0 180px;
    margin-right: var(--rdta-block-element-margin-horizontal);
  }
  .rd-form.horizontal .form-group .control-wrapper {
    flex-grow: 1;
  }
}
/* end form group */
.rd-form .form-description {
  color: #777;
  font-size: 0.875em;
  font-style: italic;
}
/*!
* ----------------------------------------------------------------------------------------------
* _form-input-file.css
* ----------------------------------------------------------------------------------------------
* form > input[type="file"][class="rd-inputfile"]
*
* Reference:
* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
*/
.rd-inputfile {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.rd-inputfile:active,
.rd-inputfile:focus {
  outline: 3px solid var(--rdta-tpf-form-focus-color);
}
.rd-inputfile.rd-input-invalid {
  border-color: var(--rdta-tpf-form-invalid-border-color) !important;
}
.rd-inputfile input[type="file"] {
  display: block;
  filter: alpha(opacity=0);
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.rd-input-files-queue {
  vertical-align: middle;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.rd-input-files-queue > * {
  vertical-align: middle;
}
.rd-input-files-queue > button,
.rd-input-files-queue > input[type="button"],
.rd-input-files-queue > .rd-button {
  margin-top: calc(var(--rdta-tpf-button-3d-height) * -1);
  position: relative;
}
/*!
* ----------------------------------------------------------------------------------------------
* _input-group.css
* ----------------------------------------------------------------------------------------------
*/
.rd-form .form-group .control-wrapper .rd-input-group {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}
.rd-form .form-group .control-wrapper .rd-input-group .rd-input-control {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  height: auto;
  width: 1%;
}
.rd-form .form-group .control-wrapper .rd-input-group .rd-input-group-block {
  display: flex;
}
.rd-form .form-group .control-wrapper .rd-input-group .rd-input-group-block.append {
  margin-left: -1px;
}
.rd-form .form-group .control-wrapper .rd-input-group .rd-input-group-block.prepend {
  margin-right: -1px;
}
.rd-form .form-group .control-wrapper .rd-input-group .rd-input-group-block .rd-input-group-block-text {
  align-items: center;
  display: flex;
  background-color: var(--rdta-tpf-block-background-color);
  border: 1px solid var(--rdta-tpf-block-border-color);
  line-height: 1.4;
  padding: 0.313rem var(--rdta-block-element-padding-horizontal);
}
.rd-form .form-group .control-wrapper .rd-input-group.rd-input-group-lg {
  font-size: var(--rdta-form-large-font-size);
}
.rd-form .form-group .control-wrapper .rd-input-group.rd-input-group-sm {
  font-size: var(--rdta-form-small-font-size);
}
/*!
* ----------------------------------------------------------------------------------------------
* _navbar.css
* ----------------------------------------------------------------------------------------------
*/
.rd-navbar {
  background-color: var(--rdta-navbar-sidebar-background-color);
  color: #aaa;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-height: none;
  min-height: var(--rdta-navbar-height_mobilescreen);
  z-index: var(--rdta-navbar-z-index);/* must higher than .sm (.sm-rdta in this theme). */
  
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-navbar {
    height: calc(var(--rdta-navbar-height_mobilescreen) / 2);
    left: 0;
    margin-bottom: var(--rdta-block-element-margin-vertical);
    min-height: calc(var(--rdta-navbar-height_mobilescreen) / 2);
    position: fixed;
    right: 0;
    top: 0;
  }
}
.rd-navbar .nav-right {
  flex-basis: 100%;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-navbar .nav-right {
    flex-basis: auto;
    margin-left: auto;
    margin-right: var(--rdta-block-element-margin-horizontal);
  }
}
.rd-navbar .nav-right > ul {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.055);
  display: flex;
  height: calc(var(--rdta-navbar-height_mobilescreen) / 2);
  justify-content: space-around;
  margin: 0;
  z-index: var(--rdta-navbar-z-index);/* must higher than .sm (.sm-rdta in this theme). */
  
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-navbar .nav-right > ul {
    background-color: transparent;
    height: 100%;
  }
}
.rd-navbar .nav-right > ul::before,
.rd-navbar .nav-right > ul::after {
  display: none;
}
.rd-navbar .nav-right > ul > li {
  align-items: center;
  align-self: stretch;
  display: flex;
  position: relative;
}
.rd-navbar .nav-right > ul > li:last-child ul {
  left: auto;
  right: 0;
}
@media (min-width: 1000px) {
  .rd-navbar .nav-right > ul > li:nth-last-child(2) ul {
    left: auto;
    right: 0;
  }
}
.rd-navbar .nav-right > ul > li:hover > a {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  background-color: rgba(0, 0, 0, 0.2);
}
.rd-navbar .nav-right > ul > li.user > a {
  font-size: 1.875em;
}
.rd-navbar .nav-right > ul > li.user > a .display-picture {
  border: 3px solid #aaa;
  border-radius: 50%;
  height: 30px;
  /* must be px because its size is related to parent `a`. */
  object-fit: cover;
  width: 30px;/* must be px, same reason as height. */
  
}
.rd-navbar .nav-right > ul > li > a {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
  min-width: 50px;
  /* must be px because it is a button and it is minimum width so it should be fixed size. */
  position: relative;
  text-align: center;
}
.rd-navbar .nav-right > ul > li > a .rd-notification-badge {
  bottom: 12px;
  /* should be non-relative unit */
  position: absolute;
  right: 2px;/* should be non-relative unit */
  
}
.rd-navbar .nav-right > ul ul li:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.rd-navbar .nav-right > ul ul li.is-active {
  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
}
.rd-navbar .nav-right a {
  color: inherit;
}
.rd-navbar .rd-sidebar-toggler {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  height: calc(var(--rdta-navbar-height_mobilescreen) / 2);
  margin: 0;
  min-width: 50px;
  /* must be px because it is a button and it is minimum width so it should be fixed size. */
  padding: 0;
  transition: none;
}
.rd-navbar .rd-sidebar-toggler:active,
.rd-navbar .rd-sidebar-toggler:focus,
.rd-navbar .rd-sidebar-toggler:hover,
.rd-navbar .rd-sidebar-toggler.is-active {
  background-color: rgba(255, 255, 255, 0.055);
  box-shadow: none;
  position: static;
  top: auto;
}
.rd-navbar .rd-sidebar-toggler.is-active {
  box-shadow: inset -2px 2px 3px -1px rgba(0, 0, 0, 0.6);
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-navbar .rd-sidebar-toggler {
    display: none;
  }
}
.rd-navbar .rd-site-brand {
  align-items: center;
  display: flex;
  margin: 0 0 0 var(--rdta-block-element-margin-horizontal);
}
.rd-navbar .rd-site-brand a {
  color: inherit;
  text-decoration: none;
}
@media (min-width: 1000px) {
  /* use sidebar breakpoint `$minimum-sidebar-breakpoint` */
  .rd-navbar .rd-site-brand {
    font-size: 1.188em;
    height: var(--rdta-navbar-height);
  }
}
/*!
* ----------------------------------------------------------------------------------------------
* _pagination.css
* ----------------------------------------------------------------------------------------------
*/
.rd-pagination {
  display: inline-flex;
  list-style: none;
  margin: 0;
}
.rd-pagination li {
  border: 1px solid var(--rdta-tpf-block-border-color);
  min-width: 2.063em;
}
.rd-pagination li + li {
  margin-left: -1px;/* -1 for collapsed border. */
  
}
/* pagination button element */
.rd-pagination li > a,
.rd-pagination li > button,
.rd-pagination li > span {
  color: var(--rdta-tpf-text-link-color);
  display: block;
  line-height: 1;
  padding: 0.438em 0.313em;
  text-align: center;
}
.rd-pagination li > a:active,
.rd-pagination li > a:focus,
.rd-pagination li > a:hover,
.rd-pagination li > button:active,
.rd-pagination li > button:focus,
.rd-pagination li > button:hover,
.rd-pagination li > span:active,
.rd-pagination li > span:focus,
.rd-pagination li > span:hover {
  background-color: var(--rdta-tpf-block-background-color);
}
.rd-pagination li > a,
.rd-pagination li > button {
  cursor: pointer;
}
.rd-pagination li > button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0;
  top: 0;
}
.rd-pagination li > button:active,
.rd-pagination li > button:focus,
.rd-pagination li > button:hover {
  background-color: var(--rdta-tpf-block-background-color);
}
.rd-pagination li > span {
  cursor: default;
}
/* end pagination button element */
/* current page */
.rd-pagination li.current {
  background-color: var(--rdta-background-primary-color);
}
.rd-pagination li.current > a,
.rd-pagination li.current > button,
.rd-pagination li.current > span {
  color: #f1f1f1;
}
.rd-pagination li.current > a:active,
.rd-pagination li.current > a:focus,
.rd-pagination li.current > a:hover,
.rd-pagination li.current > button:active,
.rd-pagination li.current > button:focus,
.rd-pagination li.current > button:hover,
.rd-pagination li.current > span:active,
.rd-pagination li.current > span:focus,
.rd-pagination li.current > span:hover {
  background-color: inherit;
}
/* end current page */
/* advanced pagination */
.rd-pagination.advanced input,
.rd-pagination.advanced select {
  border: none;
  height: 100%;
}
.rd-pagination.advanced input {
  padding: 0;
  width: 3.125em;
}
.rd-pagination.advanced select {
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0;
  width: 4.375em;
}
.rd-pagination.advanced .break-space {
  min-width: 0;
  width: 0.625em;
}
/* end advanced pagination */
/* pagination spaces (edge, loose) */
.rd-pagination.space-edge {
  display: flex;
  justify-content: space-between;
}
.rd-pagination.space-edge li + li {
  margin-left: 0;
}
.rd-pagination.space-loose li:first-child {
  margin-right: 0.313rem;
}
.rd-pagination.space-loose li + li {
  margin-left: 0.313rem;
  margin-right: 0.313rem;
}
/* end pagination spaces (edge, loose) */
/* Auto generate by Sass. */
/*!
* ----------------------------------------------------------------------------------------------
* _helper.scss
* ----------------------------------------------------------------------------------------------
*/
.rd-block-level-margin-bottom {
  margin-bottom: var(--rdta-block-element-margin-vertical);
}
.rd-content-level-margin-bottom {
  margin-bottom: var(--rdta-content-block-element-margin-vertical);
}
.clearfix {
  clear: both;
}
.rd-hidden {
  display: none !important;
}
/* animation helper */
.rd-animation.fade {
  transition: opacity 300ms;
}
.rd-animation.fade-out {
  opacity: 0;
}
/* end animation helper */
/* responsive visibility helper */
@media (min-width: 0) and (max-width: 767px) {
  .hidden-only-xs,
  .hidden-under-sm,
  .hidden-under-equal-xs {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .visible-only-sm,
  .visible-over-equal-sm,
  .visible-over-xs {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .hidden-only-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .hidden-over-equal-sm,
  .hidden-over-xs,
  .visible-only-xs,
  .visible-under-equal-xs,
  .visible-under-sm {
    display: none !important;
  }
}
@media (max-width: 999px) {
  .hidden-under-md,
  .hidden-under-equal-sm,
  .visible-only-md,
  .visible-over-equal-md,
  .visible-over-sm {
    display: none !important;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .hidden-only-md {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hidden-over-equal-md,
  .hidden-over-sm,
  .visible-only-sm,
  .visible-under-equal-sm,
  .visible-under-md {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .hidden-under-lg,
  .hidden-under-equal-md,
  .visible-only-lg,
  .visible-over-equal-lg,
  .visible-over-md {
    display: none !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .hidden-only-lg {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-over-equal-lg,
  .hidden-over-md,
  .visible-only-md,
  .visible-under-equal-md,
  .visible-under-lg {
    display: none !important;
  }
}
@media (max-width: 1399px) {
  .hidden-under-xl,
  .hidden-under-equal-lg,
  .visible-only-xl,
  .visible-over-equal-xl,
  .visible-over-lg {
    display: none !important;
  }
}
@media (min-width: 1400px) {
  .hidden-only-xl,
  .hidden-over-equal-xl,
  .hidden-over-lg,
  .visible-only-lg,
  .visible-under-equal-lg,
  .visible-under-xl {
    display: none !important;
  }
}
.hidden-over-equal-xs,
.hidden-over-xl,
.hidden-under-equal-xl,
.visible-over-xl,
.visible-under-xs {
  display: none !important;
}
/* end responsive visibility helper */
/* display sizes number */
.rd-helpers-screen-size-xs-max::after {
  content: "767px";
}
.rd-helpers-screen-size-sm-min::before {
  content: "768px";
}
.rd-helpers-screen-size-sm-max::before {
  content: "999px";
}
.rd-helpers-screen-size-md-min::before {
  content: "1000px";
}
.rd-helpers-screen-size-md-max::before {
  content: "1199px";
}
.rd-helpers-screen-size-lg-min::before {
  content: "1200px";
}
.rd-helpers-screen-size-lg-max::before {
  content: "1399px";
}
.rd-helpers-screen-size-xl-min::after {
  content: "1400px";
}
/* end display sizes number */
.screenreader-only,
.screen-reader-only,
.sr-only {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*!
* ----------------------------------------------------------------------------------------------
* _text.css
* ----------------------------------------------------------------------------------------------
*/
/* text colors style */
.text-color-danger {
  color: var(--rdta-text-danger-color);
}
a.text-color-danger {
  color: var(--rdta-text-danger-color);
}
a.text-color-danger:active {
  color: hsl(from var(--rdta-text-danger-color) h s calc(l - 15));
}
a.text-color-danger:focus,
a.text-color-danger:hover {
  color: hsl(from var(--rdta-text-danger-color) h s calc(l + 15));
}
a.text-color-danger:visited {
  color: var(--rdta-text-danger-color);
}
.text-color-disabled {
  color: var(--rdta-tpf-text-disabled-color);
}
a.text-color-disabled {
  color: var(--rdta-tpf-text-disabled-color);
}
a.text-color-disabled:active {
  color: hsl(from var(--rdta-tpf-text-disabled-color) h s calc(l - 15));
}
a.text-color-disabled:focus,
a.text-color-disabled:hover {
  color: hsl(from var(--rdta-tpf-text-disabled-color) h s calc(l + 15));
}
a.text-color-disabled:visited {
  color: var(--rdta-tpf-text-disabled-color);
}
.text-color-info {
  color: var(--rdta-text-info-color);
}
a.text-color-info {
  color: var(--rdta-text-info-color);
}
a.text-color-info:active {
  color: hsl(from var(--rdta-text-info-color) h s calc(l - 15));
}
a.text-color-info:focus,
a.text-color-info:hover {
  color: hsl(from var(--rdta-text-info-color) h s calc(l + 15));
}
a.text-color-info:visited {
  color: var(--rdta-text-info-color);
}
.text-color-primary {
  color: var(--rdta-text-primary-color);
}
a.text-color-primary {
  color: var(--rdta-text-primary-color);
}
a.text-color-primary:active {
  color: hsl(from var(--rdta-text-primary-color) h s calc(l - 15));
}
a.text-color-primary:focus,
a.text-color-primary:hover {
  color: hsl(from var(--rdta-text-primary-color) h s calc(l + 15));
}
a.text-color-primary:visited {
  color: var(--rdta-text-primary-color);
}
.text-color-success {
  color: var(--rdta-text-success-color);
}
a.text-color-success {
  color: var(--rdta-text-success-color);
}
a.text-color-success:active {
  color: hsl(from var(--rdta-text-success-color) h s calc(l - 15));
}
a.text-color-success:focus,
a.text-color-success:hover {
  color: hsl(from var(--rdta-text-success-color) h s calc(l + 15));
}
a.text-color-success:visited {
  color: var(--rdta-text-success-color);
}
.text-color-warning {
  color: var(--rdta-text-warning-color);
}
a.text-color-warning {
  color: var(--rdta-text-warning-color);
}
a.text-color-warning:active {
  color: hsl(from var(--rdta-text-warning-color) h s calc(l - 15));
}
a.text-color-warning:focus,
a.text-color-warning:hover {
  color: hsl(from var(--rdta-text-warning-color) h s calc(l + 15));
}
a.text-color-warning:visited {
  color: var(--rdta-text-warning-color);
}
.text-color-white {
  color: var(--rdta-text-white-color);
}
a.text-color-white {
  color: var(--rdta-text-white-color);
}
a.text-color-white:active {
  color: hsl(from var(--rdta-text-white-color) h s calc(l - 15));
}
a.text-color-white:focus,
a.text-color-white:hover {
  color: hsl(from var(--rdta-text-white-color) h s calc(l + 15));
}
a.text-color-white:visited {
  color: var(--rdta-text-white-color);
}
/* text colors style */
/* text alignment */
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/* end text alignment */
/* text flow */
.text-flow-wrap {
  white-space: normal !important;
}
.text-flow-nowrap {
  white-space: nowrap !important;
}
.text-flow-breakword {
  /* @link https://stackoverflow.com/a/15137272/128761 Reference. */
  word-break: break-word !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}
/* end text flow */
/* text transform */
.text-transform-lowercase {
  text-transform: lowercase;
}
.text-transform-uppercase {
  text-transform: uppercase;
}
.text-transform-capitalize {
  text-transform: capitalize;
}
/* end text transform */

/*# sourceMappingURL=rundiz-template-admin.css.map */