/*!
* ----------------------------------------------------------------------------------------------
* Rundiz template columns flex -- for put columns layout inside the main page layout.
* ----------------------------------------------------------------------------------------------
*/
.rd-columns-flex-container {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}
.rd-columns-flex-container.fix-columns-container-edge {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}
.rd-columns-flex-container .column {
  align-self: flex-start;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  padding: 0 0.625rem;
}
.rd-columns-flex-container .column-break {
  flex-basis: 100%;
  page-break-after: always;
}
.rd-columns-flex-container [class*=col-]:nth-child(12) {
  page-break-after: always;
}
.rd-columns-flex-container [class*=col-sm-],
.rd-columns-flex-container [class*=col-md-],
.rd-columns-flex-container [class*=col-lg-],
.rd-columns-flex-container [class*=col-xl-] {
  flex: 0 0 100%;
  max-width: 100%;
}
.rd-columns-flex-container .col-xs-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.rd-columns-flex-container .col-xs-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.rd-columns-flex-container .col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.rd-columns-flex-container .col-xs-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.rd-columns-flex-container .col-xs-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.rd-columns-flex-container .col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.rd-columns-flex-container .col-xs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.rd-columns-flex-container .col-xs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.rd-columns-flex-container .col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.rd-columns-flex-container .col-xs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.rd-columns-flex-container .col-xs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.rd-columns-flex-container .col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .rd-columns-flex-container .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .rd-columns-flex-container .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .rd-columns-flex-container .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .rd-columns-flex-container .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .rd-columns-flex-container .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .rd-columns-flex-container .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .rd-columns-flex-container .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .rd-columns-flex-container .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .rd-columns-flex-container .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .rd-columns-flex-container .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .rd-columns-flex-container .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .rd-columns-flex-container .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1000px) {
  .rd-columns-flex-container .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .rd-columns-flex-container .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .rd-columns-flex-container .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .rd-columns-flex-container .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .rd-columns-flex-container .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .rd-columns-flex-container .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .rd-columns-flex-container .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .rd-columns-flex-container .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .rd-columns-flex-container .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .rd-columns-flex-container .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .rd-columns-flex-container .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .rd-columns-flex-container .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .rd-columns-flex-container .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .rd-columns-flex-container .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .rd-columns-flex-container .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .rd-columns-flex-container .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .rd-columns-flex-container .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .rd-columns-flex-container .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .rd-columns-flex-container .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .rd-columns-flex-container .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .rd-columns-flex-container .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .rd-columns-flex-container .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .rd-columns-flex-container .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .rd-columns-flex-container .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .rd-columns-flex-container .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .rd-columns-flex-container .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .rd-columns-flex-container .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .rd-columns-flex-container .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .rd-columns-flex-container .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .rd-columns-flex-container .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .rd-columns-flex-container .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .rd-columns-flex-container .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .rd-columns-flex-container .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .rd-columns-flex-container .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .rd-columns-flex-container .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .rd-columns-flex-container .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.rd-columns-flex-container .offset-xs-1 {
  margin-left: 8.3333333333%;
}
.rd-columns-flex-container .offset-xs-2 {
  margin-left: 16.6666666667%;
}
.rd-columns-flex-container .offset-xs-3 {
  margin-left: 25%;
}
.rd-columns-flex-container .offset-xs-4 {
  margin-left: 33.3333333333%;
}
.rd-columns-flex-container .offset-xs-5 {
  margin-left: 41.6666666667%;
}
.rd-columns-flex-container .offset-xs-6 {
  margin-left: 50%;
}
.rd-columns-flex-container .offset-xs-7 {
  margin-left: 58.3333333333%;
}
.rd-columns-flex-container .offset-xs-8 {
  margin-left: 66.6666666667%;
}
.rd-columns-flex-container .offset-xs-9 {
  margin-left: 75%;
}
.rd-columns-flex-container .offset-xs-10 {
  margin-left: 83.3333333333%;
}
.rd-columns-flex-container .offset-xs-11 {
  margin-left: 91.6666666667%;
}
.rd-columns-flex-container .offset-xs-12 {
  margin-left: 100%;
}
@media (min-width: 768px) {
  .rd-columns-flex-container .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .rd-columns-flex-container .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .rd-columns-flex-container .offset-sm-3 {
    margin-left: 25%;
  }
  .rd-columns-flex-container .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .rd-columns-flex-container .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .rd-columns-flex-container .offset-sm-6 {
    margin-left: 50%;
  }
  .rd-columns-flex-container .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .rd-columns-flex-container .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .rd-columns-flex-container .offset-sm-9 {
    margin-left: 75%;
  }
  .rd-columns-flex-container .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .rd-columns-flex-container .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .rd-columns-flex-container .offset-sm-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1000px) {
  .rd-columns-flex-container .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .rd-columns-flex-container .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .rd-columns-flex-container .offset-md-3 {
    margin-left: 25%;
  }
  .rd-columns-flex-container .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .rd-columns-flex-container .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .rd-columns-flex-container .offset-md-6 {
    margin-left: 50%;
  }
  .rd-columns-flex-container .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .rd-columns-flex-container .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .rd-columns-flex-container .offset-md-9 {
    margin-left: 75%;
  }
  .rd-columns-flex-container .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .rd-columns-flex-container .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .rd-columns-flex-container .offset-md-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .rd-columns-flex-container .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .rd-columns-flex-container .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .rd-columns-flex-container .offset-lg-3 {
    margin-left: 25%;
  }
  .rd-columns-flex-container .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .rd-columns-flex-container .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .rd-columns-flex-container .offset-lg-6 {
    margin-left: 50%;
  }
  .rd-columns-flex-container .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .rd-columns-flex-container .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .rd-columns-flex-container .offset-lg-9 {
    margin-left: 75%;
  }
  .rd-columns-flex-container .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .rd-columns-flex-container .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .rd-columns-flex-container .offset-lg-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1400px) {
  .rd-columns-flex-container .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .rd-columns-flex-container .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .rd-columns-flex-container .offset-xl-3 {
    margin-left: 25%;
  }
  .rd-columns-flex-container .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .rd-columns-flex-container .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .rd-columns-flex-container .offset-xl-6 {
    margin-left: 50%;
  }
  .rd-columns-flex-container .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .rd-columns-flex-container .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .rd-columns-flex-container .offset-xl-9 {
    margin-left: 75%;
  }
  .rd-columns-flex-container .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .rd-columns-flex-container .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .rd-columns-flex-container .offset-xl-12 {
    margin-left: 100%;
  }
}

/*# sourceMappingURL=columns-flex.css.map */