@use 'sass:math';


//mixins for columns flex only.


@mixin columns-flex-12($size) {
    @for $i from 1 through 12 {
        .col-#{$size}-#{$i} {
            flex: 0 0 math.div(100%, 12) * $i;
            max-width: math.div(100%, 12) * $i;
        }
    }
}


@mixin offset-flex-12($size) {
    @for $i from 1 through 12 {
        .offset-#{$size}-#{$i} {
            margin-left: math.div(100%, 12) * $i;
        }
    }
}