/*!
* ----------------------------------------------------------------------------------------------
* Rundiz template columns flex -- for put columns layout inside the main page layout.
* ----------------------------------------------------------------------------------------------
*/


@import '../global-common/_common-variables';
@import '_mixins';


.rd-columns-flex-container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;

    // .rd-columns-flex-container.fix-columns-container-edge
    &.fix-columns-container-edge {
        margin-left: -$block-element-margin-sides;
        margin-right: -$block-element-margin-sides;
    }

    // .rd-columns-flex-container .column(flexible columns)
    .column {
        align-self: flex-start;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 0;// fix table push column over screen.
        padding: 0 $block-element-margin-sides;
    }

    // .rd-columns-flex-container .column-break
    .column-break {
        flex-basis: 100%;
        page-break-after: always;
    }

    // fixed columns (12 max) --------------------------------------------------------------
    // .rd-columns-flex-container [class*="col-"]
    [class*="col-"] {
        // .rd-columns-flex-container [class*="col-"]:nth-child(12)
        &:nth-child(12) {
            page-break-after: always;
        }
    }

    // .rd-columns-flex-container [class*="col-sm"],
    // .rd-columns-flex-container [class*="col-md"],
    // .rd-columns-flex-container [class*="col-lg"],
    // .rd-columns-flex-container [class*="col-xl"]
    // break all other sizes than xs to full column and then let it size in @media query.
    [class*="col-sm-"],
    [class*="col-md-"],
    [class*="col-lg-"],
    [class*="col-xl-"] {
        flex: 0 0 100%;
        max-width: 100%;
    }

    // .rd-columns-flex-container .col-xs-[1-12]
    @include columns-flex-12('xs');

    @media (min-width: $sm-min-width) {
        // .rd-columns-flex-container .col-sm-[1-12]
        @include columns-flex-12('sm');
    }
    @media (min-width: $md-min-width) {
        // .rd-columns-flex-container .col-md-[1-12]
        @include columns-flex-12('md');
    }
    @media (min-width: $lg-min-width) {
        // .rd-columns-flex-container .col-lg-[1-12]
        @include columns-flex-12('lg');
    }
    @media (min-width: $xl-min-width) {
        // .rd-columns-flex-container .col-xl-[1-12]
        @include columns-flex-12('xl');
    }

    // .rd-columns-flex-container .offset-xs-[1-12]
    @include offset-flex-12('xs');
    
    @media (min-width: $sm-min-width) {
        // .rd-columns-flex-container .offset-sm-[1-12]
        @include offset-flex-12('sm');
    }
    @media (min-width: $md-min-width) {
        // .rd-columns-flex-container .offset-md-[1-12]
        @include offset-flex-12('md');
    }
    @media (min-width: $lg-min-width) {
        // .rd-columns-flex-container .offset-lg-[1-12]
        @include offset-flex-12('lg');
    }
    @media (min-width: $xl-min-width) {
        // .rd-columns-flex-container .offset-xl-[1-12]
        @include offset-flex-12('xl');
    }
    // end fixed columns --------------------------------------------------------------------
}