/*
* ----------------------------------------------------------------------------------------------
* notification badge
* ----------------------------------------------------------------------------------------------
*/


.rd-notification-badge {
    background-color: #555;
    border-radius: 1.1em;
    color: #eee;
    display: inline-block;
    font-size: 0.813em;
    line-height: 1;
    margin: 0 0.2rem;
    min-width: 1.1em;
    padding: 0.2rem 0.425rem;// use rem because it is already affect by font-size.
    text-align: center;
    &.badge-danger {
        background-color: $danger-color;
    }
    &.badge-info {
        background-color: $info-color;
    }
    &.badge-primary {
        background-color: $primary-color;
    }
    &.badge-success {
        background-color: $success-color;
    }
    &.badge-warning {
        background-color: $warning-color;
    }

    &.tiny {
        font-size: 0.625em;
        padding: 0.1rem 0.29rem;// use rem because it is already affect by font-size.
    }
}