@charset "UTF-8";
/*!
 * Smartmenus style in Rundiz template for admin
 * 
 * Recommended use with rundiz-template-admin.css file.
 */
.sm-rdta {
  z-index: 2;
}
.sm-rdta > li > a.current {
  background-color: #52A0E5;
  color: #FFF;
}
.sm-rdta > li > a > .sub-arrow {
  display: inline-block;
}
.sm-rdta a span.sub-arrow {
  background-color: rgba(0, 0, 0, 0.08);
  color: #ccc;
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
  overflow: hidden;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 50%;
  width: 30px;
}
.sm-rdta a span.sub-arrow::before {
  content: "+";
}
.sm-rdta a:hover, .sm-rdta a.highlighted {
  background-color: rgba(0, 0, 0, 0.2);
}
.sm-rdta a:hover span.sub-arrow {
  color: #ccc;
}
.sm-rdta a.highlighted span.sub-arrow::before {
  display: block;
  content: "-";
}
@media (min-width: 1000px) {
  .sm-rdta a span.sub-arrow {
    background-color: transparent;
    color: #888;
    width: 12px;
  }
  .sm-rdta a span.sub-arrow::before {
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
  }
  .sm-rdta a.highlighted span.sub-arrow::before {
    content: "";
  }
}
.sm-rdta ul {
  background-color: rgba(255, 255, 255, 0.03);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
.sm-rdta ul a {
  font-size: 0.875rem;
  overflow-wrap: break-word;
  padding: 0.625rem 35px 0.625rem 0.625rem;
  word-break: break-all;
  word-wrap: break-word;
}
.sm-rdta ul a:hover, .sm-rdta ul a.highlighted {
  background-color: transparent;
  color: #52A0E5;
}
.sm-rdta ul a.current {
  font-weight: 700;
}
.sm-rdta ul ul {
  background-color: transparent;
}
@media (min-width: 1000px) {
  .sm-rdta ul {
    background-color: #FFF;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #333;
  }
  .sm-rdta ul a {
    color: #333;
    padding-right: 18px;
  }
  .sm-rdta ul a:hover span.sub-arrow {
    color: #333;
  }
  .sm-rdta ul a:hover, .sm-rdta ul a.highlighted {
    background-color: #eee;
  }
  .sm-rdta ul ul {
    background-color: #FFF;
  }
}
@media (min-width: 1000px) {
  .sm-rdta span.scroll-up,
.sm-rdta span.scroll-down {
    background-color: #FFF;
    display: none;
    height: 20px;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
  }
  .sm-rdta span.scroll-up:hover,
.sm-rdta span.scroll-down:hover {
    background-color: #eee;
  }
  .sm-rdta span.scroll-up:hover span.scroll-up-arrow {
    border-color: transparent transparent #333 transparent;
  }
  .sm-rdta span.scroll-down:hover span.scroll-down-arrow {
    border-color: #333 transparent transparent transparent;
  }
  .sm-rdta span.scroll-down-arrow, .sm-rdta span.scroll-up-arrow {
    border-color: transparent transparent #ddd transparent;
    border-style: dashed dashed solid dashed;
    border-width: 6px;
    height: 0;
    left: 50%;
    margin-left: -6px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
  }
  .sm-rdta span.scroll-down-arrow {
    border-color: #ddd transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    top: 8px;
  }
}

.sm-rdta.navbar ul {
  background-color: #FFF;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 80%;
  height: auto;
  min-width: 150px;
  top: 3.125rem;
  transition: none;
  width: auto;
}
@media (min-width: 1000px) {
  .sm-rdta.navbar ul {
    position: absolute;
  }
}
.sm-rdta.navbar ul a {
  color: inherit;
  font-size: inherit;
  padding: 0.625rem 0.313rem;
}
.sm-rdta.navbar ul a:hover, .sm-rdta.navbar ul a.highlighted {
  background-color: transparent;
  color: inherit;
}

@media (min-width: 1000px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-rdta ul {
    position: absolute;
    width: 12em;
  }

  .sm-rdta li {
    float: left;
  }

  .sm-rdta.sm-rtl li {
    float: right;
  }

  .sm-rdta ul li, .sm-rdta.sm-rtl ul li, .sm-rdta.sm-vertical li {
    float: none;
  }

  .sm-rdta a {
    white-space: nowrap;
  }

  .sm-rdta ul a, .sm-rdta.sm-vertical a {
    white-space: normal;
  }

  .sm-rdta .sm-nowrap > li > a, .sm-rdta .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
}
/*# sourceMappingURL=sm-rdta.css.map */
