// these variables for set once and use in common components.


// based colors and settings.
$background-color: #eee !default;
$border-color: #ddd !default;
$disabled-font-color: #999 !default;
$font-color: #333 !default;
$link-color: #1280EF !default;
$max-z-index: 10000 !default;

// navbar settings.
// header and sidebar (medium screen size up) background color
$navbar-sidebar-background-color: #222 !default;
$navbar-height: 3.125rem !default;// must use rem because it should relate to the root only.
// for mobile screen - the header (including navbar height).
// unit must be rem because it is page top header and navbar init. so, it is root header and navbar then use rem.
$mobile-screen-navbar-height: 6.250rem !default;


// margin for block level element.
$block-element-margin-bottom: 1.250rem !default;
$block-element-margin-sides: 0.625rem !default;


// form font sizes
$form-large-font-size: 1.250em !default;
$form-small-font-size: 0.75em !default;
$form-tiny-font-size: 0.625em !default;// currently only available to button.


// the z-indexes
$z-index-sidebar: 2 !default;
$z-index-navbar: 4 !default;// navbar (top) must higher than sidebar to prevent scroll page and sidebar visible on top of navbar.
$z-index-dialogbackdrop: 1010 !default;// modal dialog.
$z-index-alertdialogbackgrop: 2000 !default;// alert dialog.
$z-index-tooltips: 2001 !default;// tooltips.


// colors for alert box, buttons, badge, table
$primary-background-color: #a2ccf0 !default;
$primary-hover-background-color: #91c2ed !default;
$primary-color: #52A0E5 !default;
$primary-disabled-color: #97c3ea !default;
$danger-background-color: #f4d0d0 !default;
$danger-hover-background-color: #eeb9b9 !default;
$danger-color: #bc0000 !default;
$danger-disabled-color: #cf6464 !default;
$info-background-color: #c4e3f2 !default;
$info-hover-background-color: #abd7ec !default;
$info-color: #2481ad !default;
$info-disabled-color: #6da3bd !default;
$success-background-color: #d1e6d1 !default;
$success-hover-background-color: #c0dcc0 !default;
$success-color: #007c00 !default;
$success-disabled-color: #65b065 !default;
$warning-background-color: #fbd38f !default;
$warning-hover-background-color: #fac875 !default;
$warning-color: #e69200 !default;
$warning-disabled-color: #efb247 !default;


// common screen sizes. use pixel unit.
$xs-max-width: 767px !default;
$sm-min-width: ($xs-max-width+1);
$sm-max-width: 999px !default;
$md-min-width: ($sm-max-width+1);
$md-max-width: 1199px !default;
$lg-min-width: ($md-max-width+1);
$lg-max-width: 1399px !default;
$xl-min-width: ($lg-max-width+1);
$minimum-sidebar-breakpoint: $md-min-width;