/*!
* ----------------------------------------------------------------------------------------------
* Rundiz template tooltips -- styling tooltips elements.
* ----------------------------------------------------------------------------------------------
* @todo [rdta] remove this in version 3. this file is for tooltip.js which is deprecated any use JS+CSS from tippy.js instead.
* @todo [rdta] (version 3) delete variables in global-common/_common-variables.scss, components/_variables.scss files when remove/delete this file.
*/


@import '../global-common/_common-variables';
@import '_variables';


.rd-tooltips {
    --tooltips-arrow-size: #{$tooltips-arrow-size};
    --tooltips-background-color: #{$tooltips-background-color};
    --tooltips-text-color: #{$tooltips-text-color};
    --tooltips-z-index: #{$z-index-tooltips};// this variable is from global-common/_common-variables.scss.
}


.rd-tooltips {
    background-color: var(--tooltips-background-color);
    font-size: 80%;
    padding: var(--tooltips-arrow-size);
    z-index: var(--tooltips-z-index);

    // .rd-tooltips[x-placement="top"]
    &[x-placement="top"] {
        margin-bottom: var(--tooltips-arrow-size);
        // .rd-tooltips[x-placement="top"] .tooltip-arrow
        .tooltip-arrow {
            border-width: var(--tooltips-arrow-size) var(--tooltips-arrow-size) 0 var(--tooltips-arrow-size);
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            bottom: calc(var(--tooltips-arrow-size) * (-1));
            left: calc(50% - var(--tooltips-arrow-size));
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    // .rd-tooltips[x-placement="right"]
    &[x-placement="right"] {
        margin-left: var(--tooltips-arrow-size);
        // .rd-tooltips[x-placement="right"] .tooltip-arrow
        .tooltip-arrow {
            border-width: var(--tooltips-arrow-size) var(--tooltips-arrow-size) var(--tooltips-arrow-size) 0;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-top-color: transparent;
            left: calc(var(--tooltips-arrow-size) * (-1));
            top: calc(50% - var(--tooltips-arrow-size));
            margin-left: 0;
            margin-right: 0;
        }
    }

    // .rd-tooltips[x-placement="bottom"]
    &[x-placement="bottom"] {
        margin-top: var(--tooltips-arrow-size);
        // .rd-tooltips[x-placement="bottom"] .tooltip-arrow
        .tooltip-arrow {
            border-width: 0 var(--tooltips-arrow-size) var(--tooltips-arrow-size) var(--tooltips-arrow-size);
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            top: calc(var(--tooltips-arrow-size) * (-1));
            left: calc(50% - var(--tooltips-arrow-size));
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    // .rd-tooltips[x-placement="left"]
    &[x-placement="left"] {
        margin-right: var(--tooltips-arrow-size);
        // .rd-tooltips[x-placement="left"] .tooltip-arrow
        .tooltip-arrow {
            border-width: var(--tooltips-arrow-size) 0 var(--tooltips-arrow-size) var(--tooltips-arrow-size);
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            right: calc(var(--tooltips-arrow-size) * (-1));
            top: calc(50% - var(--tooltips-arrow-size));
            margin-left: 0;
            margin-right: 0;
        }
    }

    // .rd-tooltips .tooltip-arrow,
    .tooltip-arrow {
        border-color: var(--tooltips-background-color);
        border-style: solid;
        margin: var(--tooltips-arrow-size);
        position: absolute;
    }

    // .rd-tooltips .tooltip-inner
    .tooltip-inner {
        color: var(--tooltips-text-color);
    }
}