// RDTA components variables.


// common use variables for additional components.


// dialog
$dialog-normal-breakpoint: 550px !default;


// tooltips
// @todo [rdta] this is deprecated, read more in rdta-tooltips.scss file.
$tooltips-background-color: #000 !default;
$tooltips-text-color: #fff !default;
$tooltips-arrow-size: 5px !default;