// RDTA components variables.


// common use variables for additional components.


// dialog
$dialog-normal-breakpoint: 550px !default;


// tooltip
$tooltip-background-color: #000 !default;
$tooltip-font-color: #fff !default;
$tooltip-arrow-size: 5px !default;