/*!
* ----------------------------------------------------------------------------------------------
* Rundiz template DataTables JS (by datatables.net) -- styling DataTables elements.
* ----------------------------------------------------------------------------------------------
*/


@import '../global-common/_common-variables';
@import '../typo-and-form/_mixins';
@import '../global-common/_common-datatable.scss';


.dataTables_wrapper {
    table {
        &.dataTable {
            border-collapse: collapse;

            tbody,
            thead,
            tfoot {
                td,
                th {
                    // default based on "no style".
                    border: none;
                    vertical-align: top;// reset position to top.
                }
            }

            tfoot,
            thead {
                td,
                th {
                    background-color: transparent;
                    input {
                        font-weight: normal;
                    }
                }
            }

            tfoot {
                td,
                th {
                    border-top: 1px solid rgba(0, 0, 0, 0.3);// copy from datatables itself.
                }
            }

            thead {
                td,
                th {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);// copy from datatables itself.
                }
            }

            tr {
                &:hover {
                    .row-actions {
                        opacity: 1;
                    }
                }
            }

            // combined .dataTable.[style]. --------------------
            &.cell-border {
                tfoot {
                    td,
                    th {
                        border-bottom: 1px solid var(--block-border-color);
                        border-left: 1px solid var(--block-border-color);
                        border-right: 1px solid var(--block-border-color);
                    }
                }

                thead {
                    td,
                    th {
                        border-left: 1px solid var(--block-border-color);
                        border-right: 1px solid var(--block-border-color);
                        border-top: 1px solid var(--block-border-color);
                    }
                }

                tbody {
                    td {
                        border-top: 1px solid var(--block-border-color);
                        border-right: 1px solid var(--block-border-color);
                    }
                }
            }// .dataTable.cell-border

            &.display,
            &.row-border {
                tbody {
                    td {
                        border-top: 1px solid var(--block-border-color);
                    }
                }
            }// .dataTable.display, .dataTable.row-border classes
            // end combined .dataTable.[style]. ----------------

            // .dataTable responsive classes. -------------------
            &.dtr-column,
            &.dtr-inline {
                &.collapsed {
                    > tbody {
                        > tr {
                            > td,
                            > th {
                                &.dtr-control {
                                    &:active,
                                    &:focus,
                                    &:hover {
                                        &::before {
                                            box-shadow: 0 0 0 1px $info-color, 0 0 3px 2px $info-background-color;
                                        }
                                    }

                                    &::before {
                                        background-color: transparent;
                                        background-image: none;
                                        border: none;
                                        border-radius: 50%;
                                        box-shadow: none;
                                        color: inherit;
                                        content: '\f0d7';
                                        font-family: 'Font Awesome 5 Free';
                                        font-size: 1rem;
                                        font-weight: 900;
                                        height: 1.3em;
                                        line-height: 1.3em;
                                        margin-top: 0;
                                        top: 10px;// make sure top of button's border (box-shadow) is aligned to top with other columns.
                                        width: 1.3em;
                                    }
                                }
                            }

                            &.parent {
                                > td,
                                > th {
                                    &.dtr-control {
                                        &::before {
                                            content: '\f0d8';
                                        }
                                    }
                                }
                            }// tr.parent
                        }// tr
                    }// tbody
                }// .dataTable.dtr-inline.collapsed
            }//  .dataTable.dtr-inline, .dataTable.dtr-column

            &.dtr-column {
                > tbody {
                    > tr {
                        td,
                        th {
                            &.dtr-control {
                                width: 1.3em;// should match expand button width of DataTables.
                            }
                        }
                    }
                }
            }

            &.dtr-inline {
                > tbody {
                    > tr {
                        td {
                            &.dtr-control {
                                padding-left: 32px;
                            }
                        }
                    }
                }
            }
            // end .dataTable responsive classes. --------------

            // .dataTable cell and row colors. ------------------
            // .dataTable .table-cell-xxx,
            // .dataTable .table-row-xxx
            .table-cell-danger,
            .table-row-danger {
                background-color: $danger-background-color;
                // .dataTable .table-cell-danger:hover
                &:hover {
                    background-color: var(--background-danger-hover-color);
                }
            }
            .table-cell-info,
            .table-row-info {
                background-color: $info-background-color;
                // .dataTable .table-cell-info:hover
                &:hover {
                    background-color: var(--background-info-hover-color);
                }
            }
            .table-cell-primary,
            .table-row-primary {
                background-color: $primary-background-color;
                // .dataTable .table-cell-primary:hover
                &:hover {
                    background-color: var(--background-primary-hover-color);
                }
            }
            .table-cell-success,
            .table-row-success {
                background-color: $success-background-color;
                // .dataTable .table-cell-success:hover
                &:hover {
                    background-color: var(--background-success-hover-color);
                }
            }
            .table-cell-warning,
            .table-row-warning {
                background-color: $warning-background-color;
                // .dataTable .table-cell-warning:hover
                &:hover {
                    background-color: var(--background-warning-hover-color);
                }
            }
            // end .dataTable cell and row colors. --------------

            // .dataTable .column-checkbox
            .column-checkbox {
                @include datatable-column-checkbox;
            }

            // .dataTable .row-actions
            .row-actions {
                @include datatable-row-actions;
            }
        }// .dataTable class
    }// table selector

    .dataTables_info,
    .dataTables_paginate {
        margin-top: var(--block-element-padding-vertical);
        padding-top: 0;
    }
    .dataTables_length,
    .dataTables_filter {
        margin-bottom: var(--block-element-padding-vertical);
    }

    .dataTables_filter {
        input {
            @include form-inputbox {
                height: 1.750em;
            }
        }
    }

    .dataTables_length {
        select {
            // copy values from typo-and-form/_form.scss
            @include form-selectbox {
                height: 1.750em;
                line-height: normal;
                padding-bottom: .125em;
                padding-top: .125em;
            }
        }
    }

    .dataTables_paginate {
        .paginate_button {
            border-radius: 0;
            // copy values from _pagination.scss
            line-height: 1;
            min-width: 2.063em;
            padding: 0.438em 0.313em;

            &:active,
            &:hover {
                background-color: var(--block-background-color);// copy from _pagination.scss
                background-image: none;
                border: 1px solid var(--block-border-color);
                color: var(--text-link-color) !important;// copy from _pagination.scss
            }

            &.current,
            &.current:hover {
                background-color: $primary-color;
                background-image: none;
                border: 1px solid var(--block-border-color);
                color: #f1f1f1 !important;
            }
        }
    }
}