/*!
* ----------------------------------------------------------------------------------------------
* Rundiz template alert dialog -- styling alert dialog elements.
* ----------------------------------------------------------------------------------------------
*/


@import '../global-common/_common-variables';
@import '_variables';

@import '_dialog-mixins';


@include dialog-modal-open('.rd-alertdialog-modal-open');


@include dialog-element('.rd-alertdialog');


.rd-alertdialog {
    // .rd-alertdialog.alert-xxx
    &.alert-info {
        border: 5px solid $info-color;
        .rd-alertdialog-icon {
            color: $info-background-color;
        }
    }
    &.alert-warning {
        border: 5px solid $warning-color;
        .rd-alertdialog-icon {
            color: $warning-background-color;
        }
    }
    &.alert-success {
        border: 5px solid $success-color;
        .rd-alertdialog-icon {
            color: $success-background-color;
        }
    }
    &.alert-danger {
        border: 5px solid $danger-color;
        .rd-alertdialog-icon {
            color: $danger-background-color;
        }
    }

    // .rd-alertdialog .rd-dialog-buttons
    .rd-dialog-buttons {
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
    }

    // .rd-alertdialog .rd-alertdialog-icon
    .rd-alertdialog-icon {
        color: #999;
    }
}


@include dialog-modal('.rd-alertdialog-modal', '.rd-alertdialog', $z-index-alertdialogbackdrop);