/*!
* ----------------------------------------------------------------------------------------------
* Rundiz template embeds -- styling responsive embeds elements.
* ----------------------------------------------------------------------------------------------
*/


@import '../global-common/_common-variables';
@import '_variables';

// @link https://www.w3schools.com/howto/howto_css_responsive_iframes.asp code reference.
.rd-embed-responsive {
    display: block;
    position: relative;
    width: 100%;

    // .rd-embed-responsive::before
    &::before {
        content: '';
        display: block;
        padding-top: var(--aspect-ratio);
    }

    > * {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    // .rd-embed-responsive .rd-embed-responsive-item
    .rd-embed-responsive-item {
        border: none;
    }
}

@each $width, $height in (21, 9),
                                    (16, 9),
                                    (8, 5),
                                    (4, 3),
                                    (3, 2),
                                    (1, 1) {
    .rd-embed-responsive#{$width}by#{$height} {
        --aspect-ratio: calc((#{$height} / #{$width}) * 100%);
    }
}