/*
* ----------------------------------------------------------------------------------------------
* alert box
* ----------------------------------------------------------------------------------------------
*/


.rd-alertbox {
    background-color: #fff;
    border-left-color: $border-color;
    border-left-width: 5px;
    border-left-style: solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: $font-color;
    font-size: 0.85em;
    margin-bottom: $block-element-margin-bottom;
    padding: 0.625em;
    position: relative;
    width: 100%;
    &.alert-danger {
        border-left-color: $danger-color;
        a {
            color: $danger-color;
            @include link-actions-color($danger-color);
        }
    }
    &.alert-info {
        border-left-color: $info-color;
        a {
            color: $info-color;
            @include link-actions-color($info-color);
        }
    }
    &.alert-success {
        border-left-color: $success-color;
        a {
            color: $success-color;
            @include link-actions-color($success-color);
        }
    }
    &.alert-warning {
        border-left-color: $warning-color;
        a {
            color: $warning-color;
            @include link-actions-color($warning-color);
        }
    }
    // .rd-alertbox.fixed-xxx
    &.fixed-bottom {
        bottom: 0;
        margin-bottom: 0;
    }
    &.fixed-top {
        top: 0;
        @media (min-width: $minimum-sidebar-breakpoint) {
            min-height: ($mobile-screen-navbar-height/2);
        }
    }
    &.fixed-bottom,
    &.fixed-top {
        left: 0;
        position: fixed;
        right: 0;
        z-index: $z-index-alertboxfixed;
        @each $colorName, $colorValue in ("danger", $danger-color), 
                        ("info", $info-color), 
                        ("success", $success-color), 
                        ("warning", $warning-color) {
            &.alert-#{$colorName} {
                border-left-width: 10px;
                box-shadow: 0 0 10px 2px rgba($colorValue, 0.6);
            }
        }
    }
    &.is-dismissable {
        padding-right: 1.563em;
    }

    // close button
    .close {
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: #aaa;
        cursor: pointer;
        float: right;
        font-size: 1.313em;
        font-weight: 700;
        line-height: 1;
        margin: 0;
        opacity: 0.3;
        padding: 0;
        position: relative;
        right: -0.938rem;
        top: 0.1rem;
        transition: none;
        &::after {
            clear: both;
            content: '';
            display: table;
        }
        &:active,
        &:focus,
        &:hover {
            box-shadow: none;
            color: $font-color;
            opacity: 0.8;
            top: 0.1rem;
        }
    }

    // ol, ul li
    .rd-alert-list {
        margin-bottom: 0;
    }
}