/*
* ----------------------------------------------------------------------------------------------
* breadcrumb
* ----------------------------------------------------------------------------------------------
*/


.rd-breadcrumb {
    background-color: var(--block-background-color);
    color: #777;
    display: flex;
    font-size: 0.750em;
    list-style: none;
    margin: 0 0 var(--content-block-element-margin-vertical) 0;
    padding: 0.500rem var(--block-element-padding-horizontal);

    li {
        margin-right: var(--block-element-margin-horizontal);
        // .rd-breadcrumb li::after
        &::after {
            content: '/';
            margin-left: var(--block-element-margin-horizontal);
        }
        // .rd-breadcrumb li:last-child
        &:last-child {
            margin-right: 0;
            // .rd-breadcrumb li:last-child::after
            &::after {
                content: '';
            }
        }
        &.active,
        &.current {
            a,
            span {
                color: inherit;
                cursor: default;
            }
        }
    }
}