/*
CSS 3 variables

These variables will be work with components and parts of RDTA.
*/


:root {
    // scss variables below are from from global-common/_common-variables.scss

    --background-primary-disabled-color: #{$primary-background-disabled-color};
    --background-primary-hover-color: #{$primary-background-hover-color};
    --background-danger-disabled-color: #{$danger-disabled-background-color};
    --background-danger-hover-color: #{$danger-background-hover-color};
    --background-info-disabled-color: #{$info-disabled-background-color};
    --background-info-hover-color: #{$info-background-hover-color};
    --background-success-disabled-color: #{$success-background-disabled-color};
    --background-success-hover-color: #{$success-background-hover-color};
    --background-warning-disabled-color: #{$warning-background-disabled-color};
    --background-warning-hover-color: #{$warning-background-hover-color};

    --block-element-margin-horizontal: #{$block-element-margin-horizontal};
    --block-element-margin-vertical: #{$block-element-margin-vertical};
    --block-element-padding-horizontal: #{$block-element-padding-horizontal};
    --block-element-padding-vertical: #{$block-element-padding-vertical};

    // navbar height based on mobile screen.
    // this variable must be here because it will be use in many classes, not just .rd-navbar.
    --navbar-height_mobilescreen: #{$navbar-height_mobilescreen};

    // these variables must be here because it will be use in many classes, not just .rd-sidebar[xxx].
    --sidebar-expanded-width: #{$sidebar-expanded-width};
    --sidebar-collapsed-width: #{$sidebar-collapsed-width};
    --sidebar-transition-seconds: #{$sidebar-transition-seconds};

    --text-danger-color: #{$danger-color};
    --text-disabled-color: #{$text-disabled-color};
    --text-info-color: #{$info-color};
    --text-primary-color: #{$primary-color};
    --text-success-color: #{$success-color};
    --text-warning-color: #{$warning-color};
    --text-white-color: #{$white-color};
}


.rd-button,
.rd-form {
    --form-large-font-size: #{$form-large-font-size};
    --form-small-font-size: #{$form-small-font-size};
    --form-tiny-font-size: #{$form-tiny-font-size};
}


.rd-navbar,
.rd-sidebar,
.rd-sidebar-back {
    --navbar-height: #{$navbar-height};
    --navbar-z-index: #{$z-index-navbar};

    --navbarsidebar-background-color: #{$navbarsidebar-background-color};

    --sidebar-z-index: #{$z-index-sidebar};
}