/*
* ----------------------------------------------------------------------------------------------
* data table.
* ----------------------------------------------------------------------------------------------
*/


@import 'global-common/_common-datatable.scss';


// .rd-datatable
.rd-datatable {
    width: 100%;

    // .rd-datatable tbody
    tbody {
        // .rd-datatable tbody tr
        tr {
            // .rd-datatable tbody tr:hover
            &:hover {
                background-color: rgba(243, 243, 243, 0.5);
            }
        }
    }

    // .rd-datatable tfoot,
    // .rd-datatable thead
    tfoot,
    thead {
        td,
        th {
            a {
                color: var(--text-link-color);
            }
        }
    }

    // .rd-datatable td,
    // .rd-datatable th
    td,
    th {
        vertical-align: top;
        white-space: normal;
        word-wrap: break-word;
    }

    // .rd-datatable .column-checkbox
    .column-checkbox {
        @include datatable-column-checkbox;
    }

    // .rd-datatable .filter-row
    .filter-row {
        // .rd-datatable .filter-row td,
        // .rd-datatable .filter-row th
        td,
        th {
            background-color: #f1f1f1;
            padding-bottom: 0;
            padding-top: 0;

            // all inputs, select, textarea in filterrow
            @include inputbox-like {
                background-color: #fff;
                height: 2.45em;
                width: 100%;
            }
        }
    }

    // .rd-datatable.h-border
    &.h-border {
        // .rd-datatable.h-border tfoot,
        // .rd-datatable.h-border thead
        tfoot,
        thead {
            td,
            th {
                background-color: transparent;
            }
        }

        // .rd-datatable.h-border tfoot
        tfoot {
            td,
            th {
                border-top-width: 2px;
            }
        }

        // .rd-datatable.h-border thead
        thead {
            td,
            th {
                border-bottom-width: 2px;
            }
        }

        // .rd-datatable.h-border td,
        // .rd-datatable.h-border th
        td,
        th {
            border-left-width: 0;
            border-right-width: 0;
        }
    }// .rd-datatable.h-border

    // .rd-datatable .table-cell-xxx,
    // .rd-datatable .table-row-xxx
    .table-cell-danger,
    .table-row-danger {
        background-color: $danger-background-color;
        // .rd-datatable .table-cell-danger:hover
        &:hover {
            background-color: var(--background-danger-hover-color);
        }
    }
    .table-cell-info,
    .table-row-info {
        background-color: $info-background-color;
        // .rd-datatable .table-cell-info:hover
        &:hover {
            background-color: var(--background-info-hover-color);
        }
    }
    .table-cell-primary,
    .table-row-primary {
        background-color: $primary-background-color;
        // .rd-datatable .table-cell-primary:hover
        &:hover {
            background-color: var(--background-primary-hover-color);
        }
    }
    .table-cell-success,
    .table-row-success {
        background-color: $success-background-color;
        // .rd-datatable .table-cell-success:hover
        &:hover {
            background-color: var(--background-success-hover-color);
        }
    }
    .table-cell-warning,
    .table-row-warning {
        background-color: $warning-background-color;
        // .rd-datatable .table-cell-warning:hover
        &:hover {
            background-color: var(--background-warning-hover-color);
        }
    }

    // for fully responsive table or expand/collapse table. --------------------------------
    // this style use a lot of "~" selector. see more description at https://www.w3schools.com/cssref/sel_gen_sibling.asp web page.
    // .rd-datatable.responsive
    &.responsive {
        // .rd-datatable.responsive td,
        // .rd-datatable.responsive th
        td,
        th {
            background-color: transparent;
            border: none;
        }

        // .rd-datatable.responsive td.column-primary ~ td,
        // .rd-datatable.responsive th.column-primary ~ th
        td.column-primary ~ td,
        th.column-primary ~ th {
            display: none;

            // for sidebar breakpoint
            @media (min-width: $minimum-sidebar-breakpoint) {
                display: table-cell;
            }
        }

        // .rd-datatable.responsive thead
        thead {
            // .rd-datatable.responsive thead tr
            tr {
                border-bottom: 2px solid var(--block-border-color);
            }
        }

        // .rd-datatable.responsive tfoot
        tfoot {
            // .rd-datatable.responsive tfoot tr
            tr {
                border-top: 2px solid var(--block-border-color);
            }
        }

        // .rd-datatable.responsive tr
        tr {
            border-top: 1px solid var(--block-border-color);

            // .rd-datatable.responsive tr:hover
            &:hover {
                // .rd-datatable.responsive tr:hover .row-actions
                .row-actions {
                    opacity: 1;
                }
            }
        }

        // .rd-datatable.responsive .column-primary
        .column-primary {
            display: block;
            padding-right: 2.209rem;// must related to the .toggle-row button width.
            position: relative;

            // for sidebar breakpoint or medium screen size
            // .rd-datatable.responsive .column-primary
            @media (min-width: $minimum-sidebar-breakpoint) {
                display: table-cell;
                padding-right: 0.313em;// return value to table cell padding value in _typography.scss.
            }

            // .rd-datatable.responsive .column-primary ~ td
            ~ td {
                clear: both;
                padding-left: 35%;
                position: relative;
                width: auto;

                // .rd-datatable.responsive .column-primary ~ td::before
                &::before {
                    content: attr(data-colname);
                    display: block;
                    left: 0.313em;// same value as padding-left of normal table cell in _typography.scss.
                    overflow: hidden;
                    position: absolute;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 32%;

                    // for sidebar breakpoint
                    // .rd-datatable.responsive .column-primary ~ td::before
                    @media (min-width: $minimum-sidebar-breakpoint) {
                        display: none;
                    }
                }

                // for sidebar breakpoint
                // .rd-datatable.responsive .column-primary ~ td
                @media (min-width: $minimum-sidebar-breakpoint) {
                    clear: none;
                    padding-left: 0.313em;// return value to table cell padding value in _typography.scss.
                }
            }
        }

        // .rd-datatable.responsive .is-expanded
        .is-expanded {
            // .rd-datatable.responsive .is-expanded .column-primary ~ td
            .column-primary ~ td {
                display: block;
                overflow: hidden;
            }
        }

        // .rd-datatable.responsive .row-actions
        .row-actions {
            @include datatable-row-actions;
        }

        // .rd-datatable.responsive .toggle-row(button)
        .toggle-row {
            background-color: transparent;
            background-image: none;
            border: none;
            border-radius: 50%;
            box-shadow: none;
            display: block;
            font-size: 1rem;
            height: 1.688rem;
            padding: 0;
            position: absolute;
            right: 0.5rem;
            top: 0.375rem;
            transition: none;
            width: 1.688rem;

            // .rd-datatable.responsive .toggle-row:active,
            // .rd-datatable.responsive .toggle-row:focus,
            // .rd-datatable.responsive .toggle-row:hover
            &:active,
            &:focus,
            &:hover {
                box-shadow: 0 0 0 1px $info-color, 0 0 3px 2px $info-background-color;
                outline: none;
            }

            // for sidebar breakpoint
            // .rd-datatable.responsive .toggle-row
            @media (min-width: $minimum-sidebar-breakpoint) {
                display: none;
            }
        }
    }// .rd-datatable.responsive

    // .rd-datatable .sortable-icon
    .sortable-icon {
        display: inline-block;
        font-family: FontAwesome;
        font-size: 0.75rem;
        font-style: normal;
        line-height: 1;
        visibility: hidden;
        &::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;// required for font awesome 5.
        }
        &.order-desc {
            transform: translateY(-29%);
            &::before {
                content: '\f0dd';// down arrow.
            }
        }
        &.order-asc {
            transform: translateY(9%);
            &::before {
                content: '\f0de';// up arrow.
            }
        }
    }

    // .rd-datatable td.sorted .sortable-icon, 
    // .rd-datatable td:hover .sortable-icon,
    // .rd-datatable th.sorted .sortable-icon,
    // .rd-datatable th:hover .sortable-icon
    td,
    th {
        &.sorted,
        &:hover {
            .sortable-icon {
                visibility: visible;
            }
        }
    }
}


// .rd-datatable-wrapper
.rd-datatable-wrapper {
    display: block;
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
}