/*
* ----------------------------------------------------------------------------------------------
* form styles (horizontal form, vertical form, etc)
* ----------------------------------------------------------------------------------------------
*/


@import 'typo-and-form/_variables';


%input-large {
    font-size: $form-large-font-size;
}


%input-small {
    font-size: $form-small-font-size;
}


@include inputbox-like {
    &.input-large {
        @extend %input-large;
    }
    &.input-small {
        @extend %input-small;
    }
}


.rd-form {
    .disabled {
        color: $disabled-font-color;
        cursor: not-allowed;
    }

    .form-group {
        margin-bottom: $content-block-element-margin-bottom;
        .control-label {
            font-weight: 600;
            &.large {
                font-size: $form-large-font-size;
            }
            &.small {
                font-size: $form-small-font-size;
            }
        }
        .control-wrapper {
            @include inputbox-like {
                display: block;
                width: 100%;
            }
        }
    }

    .form-description {
        color: #777;
        font-size: .875em;
        font-style: italic;
    }

    @media (min-width: $minimum-sidebar-breakpoint) {
        &.horizontal {
            // .rd-form.horizontal .form-group
            .form-group {
                display: flex;
                // .rd-form.horizontal .form-group .control-label
                .control-label {
                    width: 180px;
                }
                // .rd-form.horizontal .form-group .control-wrapper
                .control-wrapper {
                    flex-grow: 1;
                }
            }
        }
    }
}