/*
* ----------------------------------------------------------------------------------------------
* helper classes with typo or layout
* ----------------------------------------------------------------------------------------------
*/


.rd-block-level-margin-bottom {
    margin-bottom: $block-element-margin-bottom;
}


.clearfix {
    clear: both;
}


.hidden,
.hide {
    display: none !important;
}


// animation helper -------------------------------------------------------------------------
.rd-animation {
    &.fade {
        transition: opacity 300ms;
    }
    &.fade-out {
        opacity: 0;
    }
}


// responsive visibility helper ---------------------------------------------------------------
// xs screen
@media (min-width: 0) and (max-width: $xs-max-width) {
    .hidden-only-xs,
    .hidden-under-sm,
    .hidden-under-equal-xs {
        display: none !important;
    }
}
@media (max-width: $xs-max-width) {
    .visible-only-sm,
    .visible-over-equal-sm,
    .visible-over-xs {
        display: none;
    }
}
// sm screen
@media (min-width: $sm-min-width) and (max-width: $sm-max-width) {
    .hidden-only-sm {
        display: none;
    }
}
@media (min-width: $sm-min-width) {
    .hidden-over-equal-sm,
    .hidden-over-xs,
    .visible-only-xs,
    .visible-under-equal-xs,
    .visible-under-sm {
        display: none !important;
    }
}
@media (max-width: $sm-max-width) {
    .hidden-under-md,
    .hidden-under-equal-sm,
    .visible-only-md,
    .visible-over-equal-md,
    .visible-over-sm {
        display: none !important;
    }
}
// md screen
@media (min-width: $md-min-width) and (max-width: $md-max-width) {
    .hidden-only-md {
        display: none !important;
    }
}
@media (min-width: $md-min-width) {
    .hidden-over-equal-md,
    .hidden-over-sm,
    .visible-only-sm,
    .visible-under-equal-sm,
    .visible-under-md {
        display: none !important;
    }
}
@media (max-width: $md-max-width) {
    .hidden-under-lg,
    .hidden-under-equal-md,
    .visible-only-lg,
    .visible-over-equal-lg,
    .visible-over-md {
        display: none !important;
    }
}
// lg screen
@media (min-width: $lg-min-width) and (max-width: $lg-max-width) {
    .hidden-only-lg {
        display: none !important;
    }
}
@media (min-width: $lg-min-width) {
    .hidden-over-equal-lg,
    .hidden-over-md,
    .visible-only-md,
    .visible-under-equal-md,
    .visible-under-lg {
        display: none !important;
    }
}
@media (max-width: $lg-max-width) {
    .hidden-under-xl,
    .hidden-under-equal-lg,
    .visible-only-xl,
    .visible-over-equal-xl,
    .visible-over-lg {
        display: none !important;
    }
}
// xl screen
@media (min-width: $xl-min-width) {
    .hidden-only-xl,
    .hidden-over-equal-xl,
    .hidden-over-lg,
    .visible-only-lg,
    .visible-under-equal-lg,
    .visible-under-xl {
        display: none !important;
    }
}
.hidden-over-equal-xs,
.hidden-over-xl,
.hidden-under-equal-xl,
.visible-over-xl,
.visible-under-xs {
    display: none !important;
}
// end responsive visibility helper ----------------------------------------------------------


.rd-helpers-screen-size-xs-max::after {
    content: '#{$xs-max-width}';
}
.rd-helpers-screen-size-sm-min::before {
    content: '#{$sm-min-width}';
}
.rd-helpers-screen-size-sm-max::before {
    content: '#{$sm-max-width}';
}
.rd-helpers-screen-size-md-min::before {
    content: '#{$md-min-width}';
}
.rd-helpers-screen-size-md-max::before {
    content: '#{$md-max-width}';
}
.rd-helpers-screen-size-lg-min::before {
    content: '#{$lg-min-width}';
}
.rd-helpers-screen-size-lg-max::before {
    content: '#{$lg-max-width}';
}
.rd-helpers-screen-size-xl-min::after {
    content: '#{$xl-min-width}';
}


.screenreader-only,
.screen-reader-only,
.sr-only {
    // from https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}