/**
* ----------------------------------------------------------------------------------------------
* Input group.
* ----------------------------------------------------------------------------------------------
*/


.rd-form {
    .form-group {
        .control-wrapper {
            .rd-input-group {
                align-items: stretch;
                display: flex;
                flex-wrap: wrap;

                .rd-input-control {
                    flex-basis: auto;
                    flex-grow: 1;
                    flex-shrink: 1;
                    height: auto;
                    width: 1%;
                }

                .rd-input-group-block {
                    display: flex;
                    &.append {
                        margin-left: -1px;
                    }
                    &.prepend {
                        margin-right: -1px;
                    }

                    .rd-input-group-block-text {
                        align-items: center;
                        display: flex;
                        background-color: $background-color;
                        border: 1px solid $border-color;
                        line-height: 1.4;
                        padding: .313rem $block-element-margin-sides;
                    }
                }

                &.rd-input-group-lg {
                    font-size: $form-large-font-size;
                }
                &.rd-input-group-sm {
                    font-size: $form-small-font-size;
                }
            }
        }
    }
}