/*
* ----------------------------------------------------------------------------------------------
* navbar
* ----------------------------------------------------------------------------------------------
*/


@use 'sass:math';


.rd-navbar {
    background-color: var(--navbarsidebar-background-color);
    color: #aaa;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-height: none;
    min-height: var(--navbar-height_mobilescreen);
    z-index: var(--navbar-z-index);// must higher than .sm (.sm-rdta in this theme).
    @media (min-width: $minimum-sidebar-breakpoint) {
        height: calc(var(--navbar-height_mobilescreen) / 2);
        left: 0;
        margin-bottom: var(--block-element-margin-vertical);
        min-height: calc(var(--navbar-height_mobilescreen) / 2);
        position: fixed;
        right: 0;
        top: 0;
    }

    // .rd-navbar .nav-right
    .nav-right {
        flex-basis: 100%;
        @media (min-width: $minimum-sidebar-breakpoint) {
            flex-basis: auto;
            margin-left: auto;
            margin-right: var(--block-element-margin-horizontal);
        }

        // .rd-navbar .nav-right > ul
        > ul {
            align-items: center;
            background-color: rgba(255, 255, 255, 0.055);
            display: flex;
            height: calc(var(--navbar-height_mobilescreen) / 2);
            justify-content: space-around;
            margin: 0;
            z-index: var(--navbar-z-index);// must higher than .sm (.sm-rdta in this theme).
            @media (min-width: $minimum-sidebar-breakpoint) {
                background-color: transparent;
                height: 100%;
            }
            &::before,
            &::after {
                display: none;
            }

            // .rd-navbar .nav-right > ul > li
            > li {
                align-items: center;
                align-self: stretch;
                display: flex;
                position: relative;
                // .rd-navbar .nav-right > ul > li:last-child ul
                &:last-child ul {
                    left: auto;
                    right: 0;
                }
                @media (min-width: $minimum-sidebar-breakpoint) {
                    // .rd-navbar .nav-right > ul > li:nth-last-child(2) ul
                    &:nth-last-child(2) ul {
                        left: auto;
                        right: 0;
                    }
                }
                // .rd-navbar .nav-right > ul > li:hover > a
                &:hover > a {
                    background-color: rgba(0, 0, 0, 0.2);
                }
                // .rd-navbar .nav-right > ul > li.user
                &.user {
                    // .rd-navbar .nav-right > ul > li.user > a
                    > a {
                        font-size: 1.875em;
                        .display-picture {
                            // .rd-navbar .nav-right > ul > li.user > a .display-picture
                            border: 3px solid #aaa;
                            border-radius: 50%;
                            height: 30px;// must be px because its size is related to parent `a`.
                            object-fit: cover;
                            width: 30px; // must be px, same reason as height.
                        }
                    }
                }

                // .rd-navbar .nav-right > ul > li > a
                > a {
                    align-items: center;
                    align-self: stretch;
                    display: flex;
                    justify-content: center;
                    min-width: 50px;// must be px because it is a button and it is minimum width so it should be fixed size.
                    position: relative;
                    text-align: center;

                    // .rd-navbar .nav-right > ul > li > a .rd-notification-badge
                    .rd-notification-badge {
                        bottom: 12px;// should be non-relative unit
                        position: absolute;
                        right: 2px;// should be non-relative unit
                    }
                }
            }

            // .rd-navbar .nav-right > ul ul
            ul {
                // .rd-navbar .nav-right > ul ul li
                li {
                    // .rd-navbar .nav-right > ul ul li:hover
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.08);
                    }
                    &.is-active {
                        background-color: rgba(0, 0, 0, 0.6);
                        color: #eee;
                    }
                }
            }
        }

        // .rd-navbar .nav-right a
        a {
            color: inherit;
        }
    }

    // .rd-navbar .rd-sidebar-toggler
    .rd-sidebar-toggler {
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: inherit;
        height: calc(var(--navbar-height_mobilescreen) / 2);
        margin: 0;
        min-width: 50px;// must be px because it is a button and it is minimum width so it should be fixed size.
        padding: 0;
        transition: none;
        &:active,
        &:focus,
        &:hover,
        &.is-active {
            background-color: rgba(255, 255, 255, 0.055);
            box-shadow: none;
            position: static;
            top: auto;
        }
        &.is-active {
            box-shadow: inset -2px 2px 3px -1px rgba(0, 0, 0, 0.6);
        }
        @media (min-width: $minimum-sidebar-breakpoint) {
            display: none;
        }
    }

    // .rd-navbar .rd-site-brand
    .rd-site-brand {
        align-items: center;
        display: flex;
        margin: 0 0 0 var(--block-element-margin-horizontal);
        a {
            color: inherit;
            text-decoration: none;
        }
        @media (min-width: $minimum-sidebar-breakpoint) {
            font-size: 1.188em;
            height: var(--navbar-height);
        }
    }
}