/*
* ----------------------------------------------------------------------------------------------
* pagination
* ----------------------------------------------------------------------------------------------
*/


// .rd-pagination
.rd-pagination {
    display: inline-flex;
    list-style: none;
    margin: 0;

    // .rd-pagination li
    li {
        border: 1px solid $border-color;
        min-width: 2.063em;

        // .rd-pagination li + li
        + li {
            margin-left: -1px;// for collapsed border.
        }

        // .rd-pagination li > a,
        // .rd-pagination li > span
        > a,
        > button,
        > span {
            color: $link-color;
            display: block;
            line-height: 1;
            padding: 0.438em 0.313em;
            text-align: center;

            &:active,
            &:focus,
            &:hover {
                background-color: $background-color;
            }
        }

        // .rd-pagination li > a
        > a,
        > button {
            cursor: pointer;
        }

        // .rd-pagination li > button
        > button {
            background-color: transparent;
            border: none;
            box-shadow: none;
            margin: 0;
            top: 0;

            &:active,
            &:focus,
            &:hover {
                background-color: $background-color;
            }
        }

        // .rd-pagination li > span
        > span {
            cursor: default;
        }

        // .rd-pagination li.current
        &.current {
            background-color: $primary-color;

            // .rd-pagination li.current > a,
            // .rd-pagination li.current > span
            > a,
            > button,
            > span {
                color: #f1f1f1;

                &:active,
                &:focus,
                &:hover {
                    background-color: inherit;
                }
            }
        }
    }

    // .rd-pagination.advanced
    &.advanced {
        // .rd-pagination.advanced input,
        // .rd-pagination.advanced select
        input,
        select {
            border: none;
            height: 100%;
        }

        // .rd-pagination.advanced input
        input {
            padding: 0;
            width: 3.125em;
        }

        // .rd-pagination.advanced select
        select {
            padding-bottom: 0;
            padding-left: 0;
            padding-top: 0;
            width: 4.375em;
        }

        // .rd-pagination.advanced .break-space
        .break-space {
            min-width: 0;
            width: 0.625em;
        }
    }

    // .rd-pagination.space-edge
    &.space-edge {
        display: flex;
        justify-content: space-between;

        // .rd-pagination.space-edge li + li
        li + li {
            margin-left: 0;
        }
    }

    // .rd-pagination.space-loose
    &.space-loose {
        // .rd-pagination.space-edge li
        li {
            // .rd-pagination.space-edge li:first-child
            &:first-child {
                margin-right: 0.313rem;
            }

            // .rd-pagination.space-edge li + li
            + li {
                margin-left: 0.313rem;
                margin-right: 0.313rem;
            }
        }
    }
}