/*
* ----------------------------------------------------------------------------------------------
* text classes
* ----------------------------------------------------------------------------------------------
*/


// text colors.
@each $colorName, $colorValue in ("danger", $danger-color), 
                        ("disabled", $disabled-font-color), 
                        ("info", $info-color), 
                        ("primary", $primary-color), 
                        ("success", $success-color), 
                        ("warning", $warning-color), 
                        ("white", $white-color) {
    .text-color-#{$colorName} {
        color: $colorValue;
    }
    a.text-color-#{$colorName} {
        color: $colorValue;
        @include link-actions-color($colorValue);
    }
}


// text alignment.
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}


// text flow.
.text-flow-wrap {
    white-space: normal !important;
}
.text-flow-nowrap {
    white-space: nowrap !important;
}
.text-flow-breakword {
    // @link https://stackoverflow.com/a/15137272/128761 Reference.
    word-break: break-word !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}


// text transform.
.text-transform-lowercase {
    text-transform: lowercase;
}
.text-transform-uppercase {
    text-transform: uppercase;
}
.text-transform-capitalize {
    text-transform: capitalize;
}