/*!
* ----------------------------------------------------------------------------------------------
* Rundiz template DataTables JS (by datatables.net) -- styling DataTables elements.
* ----------------------------------------------------------------------------------------------
*/
.dataTables_wrapper table.dataTable {
  border-collapse: collapse;
}
.dataTables_wrapper table.dataTable tbody td,
.dataTables_wrapper table.dataTable tbody th,
.dataTables_wrapper table.dataTable thead td,
.dataTables_wrapper table.dataTable thead th,
.dataTables_wrapper table.dataTable tfoot td,
.dataTables_wrapper table.dataTable tfoot th {
  /* default based on "no style". */
  border: none;
  vertical-align: top;/* reset position to top. */
  
}
.dataTables_wrapper table.dataTable tfoot td,
.dataTables_wrapper table.dataTable tfoot th,
.dataTables_wrapper table.dataTable thead td,
.dataTables_wrapper table.dataTable thead th {
  background-color: transparent;
}
.dataTables_wrapper table.dataTable tfoot td input,
.dataTables_wrapper table.dataTable tfoot th input,
.dataTables_wrapper table.dataTable thead td input,
.dataTables_wrapper table.dataTable thead th input {
  font-weight: normal;
}
.dataTables_wrapper table.dataTable tfoot td,
.dataTables_wrapper table.dataTable tfoot th {
  border-top: 1px solid rgba(0, 0, 0, 0.3);/* copy from datatables.js */
  
}
.dataTables_wrapper table.dataTable thead td,
.dataTables_wrapper table.dataTable thead th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);/* copy from datatables.js */
  
}
.dataTables_wrapper table.dataTable tr:hover .row-actions {
  opacity: 1;
}
/* cell borders */
.dataTables_wrapper table.dataTable.cell-border tfoot td,
.dataTables_wrapper table.dataTable.cell-border tfoot th {
  border-bottom: 1px solid var(--rdta-tpf-block-border-color);
  border-left: 1px solid var(--rdta-tpf-block-border-color);
  border-right: 1px solid var(--rdta-tpf-block-border-color);
}
.dataTables_wrapper table.dataTable.cell-border thead td,
.dataTables_wrapper table.dataTable.cell-border thead th {
  border-left: 1px solid var(--rdta-tpf-block-border-color);
  border-right: 1px solid var(--rdta-tpf-block-border-color);
  border-top: 1px solid var(--rdta-tpf-block-border-color);
}
.dataTables_wrapper table.dataTable.cell-border tbody td {
  border-top: 1px solid var(--rdta-tpf-block-border-color);
  border-right: 1px solid var(--rdta-tpf-block-border-color);
}
/* end cell borders */
.dataTables_wrapper table.dataTable.display tbody td,
.dataTables_wrapper table.dataTable.row-border tbody td {
  border-top: 1px solid var(--rdta-tpf-block-border-color);
}
/* .dataTable responsive classes. */
.dataTables_wrapper table.dataTable.dtr-column.collapsed > tbody > tr > td.dtr-control:active::before,
.dataTables_wrapper table.dataTable.dtr-column.collapsed > tbody > tr > td.dtr-control:focus::before,
.dataTables_wrapper table.dataTable.dtr-column.collapsed > tbody > tr > td.dtr-control:hover::before,
.dataTables_wrapper table.dataTable.dtr-column.collapsed > tbody > tr > th.dtr-control:active::before,
.dataTables_wrapper table.dataTable.dtr-column.collapsed > tbody > tr > th.dtr-control:focus::before,
.dataTables_wrapper table.dataTable.dtr-column.collapsed > tbody > tr > th.dtr-control:hover::before,
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:active::before,
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:focus::before,
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:hover::before,
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:active::before,
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:focus::before,
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:hover::before {
  box-shadow: 0 0 0 1px var(--rdta-text-info-color),0 0 3px 2px color-mix(in srgb, var(--rdta-background-info-color), transparent 20%);
}
.dataTables_wrapper table.dataTable.dtr-column.collapsed > tbody > tr > td.dtr-control::before,
.dataTables_wrapper table.dataTable.dtr-column.collapsed > tbody > tr > th.dtr-control::before,
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before,
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  color: inherit;
  content: "\f0d7";
  font-family: "Font Awesome 6 Free";
  font-size: 1rem;
  font-weight: 900;
  height: 1.3em;
  line-height: 1.3em;
  margin-top: 0;
  top: 10px;
  /* make sure top of button's border (box-shadow) is aligned to top with other columns. */
  width: 1.3em;/* expand/collapse button width */
  
}
.dataTables_wrapper table.dataTable.dtr-column.collapsed > tbody > tr.parent > td.dtr-control::before,
.dataTables_wrapper table.dataTable.dtr-column.collapsed > tbody > tr.parent > th.dtr-control::before,
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control::before,
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control::before {
  content: "\f0d8";
}
.dataTables_wrapper table.dataTable.dtr-column > tbody > tr td.dtr-control,
.dataTables_wrapper table.dataTable.dtr-column > tbody > tr th.dtr-control {
  width: 1.3em;/* should match expand/collapse button width on the line above. */
  
}
.dataTables_wrapper table.dataTable.dtr-inline > tbody > tr td.dtr-control {
  padding-left: 32px;
}
/* end .dataTable responsive classes. */
/* cell and row color styles */
.dataTables_wrapper table.dataTable .table-cell-danger,
.dataTables_wrapper table.dataTable .table-row-danger {
  background-color: var(--rdta-background-danger-color);
}
.dataTables_wrapper table.dataTable .table-cell-danger:hover,
.dataTables_wrapper table.dataTable .table-row-danger:hover {
  background-color: var(--rdta-background-danger-hover-color);
}
.dataTables_wrapper table.dataTable .table-cell-info,
.dataTables_wrapper table.dataTable .table-row-info {
  background-color: var(--rdta-background-info-color);
}
.dataTables_wrapper table.dataTable .table-cell-info:hover,
.dataTables_wrapper table.dataTable .table-row-info:hover {
  background-color: var(--rdta-background-info-hover-color);
}
.dataTables_wrapper table.dataTable .table-cell-primary,
.dataTables_wrapper table.dataTable .table-row-primary {
  background-color: var(--rdta-background-primary-color);
}
.dataTables_wrapper table.dataTable .table-cell-primary:hover,
.dataTables_wrapper table.dataTable .table-row-primary:hover {
  background-color: var(--rdta-background-primary-hover-color);
}
.dataTables_wrapper table.dataTable .table-cell-success,
.dataTables_wrapper table.dataTable .table-row-success {
  background-color: var(--rdta-background-success-color);
}
.dataTables_wrapper table.dataTable .table-cell-success:hover,
.dataTables_wrapper table.dataTable .table-row-success:hover {
  background-color: var(--rdta-background-success-hover-color);
}
.dataTables_wrapper table.dataTable .table-cell-warning,
.dataTables_wrapper table.dataTable .table-row-warning {
  background-color: var(--rdta-background-warning-color);
}
.dataTables_wrapper table.dataTable .table-cell-warning:hover,
.dataTables_wrapper table.dataTable .table-row-warning:hover {
  background-color: var(--rdta-background-warning-hover-color);
}
/* end cell and row color styles */
.dataTables_wrapper table.dataTable .column-checkbox {
  text-align: center;
  width: 32px;
}
.dataTables_wrapper table.dataTable .row-actions {
  font-size: 0.75em;
  opacity: 0;
  transition: opacity 0.2s;
}
.dataTables_wrapper table.dataTable .row-actions span + span::before {
  /* must use `<span>` to wrap `<a>` because if it is `a + a::before` then the | text will becomes link. */
  content: " | ";
}
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  margin-top: var(--rdta-block-element-padding-vertical);
  padding-top: 0;
}
/* length select box, filter, search row above data table. */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  margin-bottom: var(--rdta-block-element-padding-vertical);
}
.dataTables_wrapper .dataTables_filter input {
  border: 1px solid var(--rdta-tpf-block-border-color);
  border-radius: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 0.99em;
  line-height: 1.4;
  padding: 0.313em 0.188em;
  height: 1.75em;
}
.dataTables_wrapper .dataTables_filter input:active,
.dataTables_wrapper .dataTables_filter input:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.dataTables_wrapper .dataTables_filter input[disabled],
.dataTables_wrapper .dataTables_filter input[readonly] {
  background-color: var(--rdta-tpf-block-background-color);
  color: var(--rdta-tpf-text-disabled-color);
  cursor: not-allowed;
}
.dataTables_wrapper .dataTables_filter input:invalid,
.dataTables_wrapper .dataTables_filter input.rd-input-invalid {
  border-color: var(--rdta-tpf-form-invalid-border-color);
}
.dataTables_wrapper .dataTables_length select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--rdta-tpf-page-background-color);
  border: 1px solid var(--rdta-tpf-block-border-color);
  border-radius: 0;
  font-family: inherit;
  font-size: 0.99em;
  line-height: 1.4;
  padding: 0.313em 1.5em 0.313em 0.188em;
  height: 1.75em;
  line-height: normal;
  padding-bottom: 0.125em;
  padding-top: 0.125em;
}
.dataTables_wrapper .dataTables_length select[disabled],
.dataTables_wrapper .dataTables_length select[readonly] {
  background-color: var(--rdta-tpf-block-background-color);
  color: var(--rdta-tpf-text-disabled-color);
  cursor: not-allowed;
}
.dataTables_wrapper .dataTables_length select:invalid,
.dataTables_wrapper .dataTables_length select.rd-input-invalid {
  border-color: var(--rdta-tpf-form-invalid-border-color);
}
/* end length select box, filter, search row above data table. */
/* data table's' pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 0;
  line-height: 1;
  min-width: 2.063em;
  padding: 0.438em 0.313em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: var(--rdta-tpf-block-background-color);
  background-image: none;
  border: 1px solid var(--rdta-tpf-block-border-color);
  color: var(--rdta-tpf-text-link-color) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: var(--rdta-background-primary-color);
  background-image: none;
  border: 1px solid var(--rdta-tpf-block-border-color);
  color: #f1f1f1 !important;
}
/* end data table's' pagination */

/*# sourceMappingURL=rdta-datatables-js.css.map */