/*!
 * Smartmenus style in Rundiz template for admin
 * 
 * Recommended use with rundiz-template-admin.css file.
 */


@import '../../rdta/global-common/_common-variables';
@import '_variables';


.sm-rdta {
    z-index: $z-index-sidebar;
    > li {
        > a {
            &.current {
                background-color: $primary-color;
                color: #FFF;
            }
            // .sm-rdta > li > a > .sub-arrow
            > .sub-arrow {
                display: inline-block;
            }
        }
    }
    // .sm-rdta a
    a {
        // .sm-rdta a span.sub-arrow
        span.sub-arrow {
            background-color: rgba(0, 0, 0, 0.08);
            color: #ccc;
            height: 30px;
            line-height: 30px;
            margin-top: -15px;
            overflow: hidden;
            position: absolute;
            right: 5px;
            text-align: center;
            top: 50%;
            width: 30px;
            // .sm-rdta a span.sub-arrow::before
            &::before {
                content: '+';
            }
        }
        // .sm-rdta a:hover, .sm-rdta a.highlighted
        &:hover,
        &.highlighted {
            background-color: rgba(0, 0, 0, 0.2);
        }
        &:hover {
            // .sm-rdta a:hover span.sub-arrow
            span.sub-arrow {
                color: #ccc;
            }
        }
        // .sm-rdta a.highlighted
        &.highlighted {
            // .sm-rdta a.highlighted span.sub-arrow::before
            span.sub-arrow::before {
                display: block;
                content: '-';
            }
        }
        
        @media (min-width: $minimum-sidebar-breakpoint) {
            // .sm-rdta a span.sub-arrow
            span.sub-arrow {
                background-color: transparent;
                color: #888;
                width: 12px;
                // .sm-rdta a span.sub-arrow::before
                &::before {
                    display: block;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;// required for font awesome 5.
                    content: '\f0da';// right arrow.
                }
            }
            // .sm-rdta a.highlighted
            &.highlighted {
                // .sm-rdta a.highlighted span.sub-arrow::before
                span.sub-arrow::before {
                    content: '\f0da';// right arrow. required to prevent its content back to minus sign (-).
                }
            }
        }
    }
    // .sm-rdta ul (same as ul ul, for sub menu)
    ul {
        background-color: rgba(255, 255, 255, 0.03);
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        // .sm-rdta ul a
        a {
            font-size: $submenu-item-wrapper-fontsize;
            overflow-wrap: break-word;
            padding: $submenu-item-wrapper-padding;
            word-break: break-all;
            word-wrap: break-word;
            // .sm-rdta ul a:hover
            &:hover,
            &.highlighted {
                background-color: transparent;
                color: $primary-color;
            }
            // .sm-rdta ul a.current
            &.current {
                font-weight: 700;
            }
        }
        // .sm-rdta ul ul
        ul {
            background-color: transparent;
        }

        @media (min-width: $minimum-sidebar-breakpoint) {
            // .sm-rdta ul (in minimum sidebar breakpoint)
            background-color: #FFF;
            border: 1px solid $border-color;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            color: $font-color;
            // .sm-rdta ul a
            a {
                color: $font-color;
                padding-right: 18px;
                // .sm-rdta ul a:hover
                &:hover {
                    // .sm-rdta ul a:hover span.sub-arrow
                    span.sub-arrow {
                        color: $font-color;
                    }
                }
                // .sm-rdta ul a:hover,
                // .sm-rdta ul a.highlighted
                &:hover,
                &.highlighted {
                    background-color: $background-color;
                }
            }
            // .sm-rdta ul ul
            ul {
                background-color: #FFF;
            }
        }
    }
    @media (min-width: $minimum-sidebar-breakpoint) {
        span.scroll-up,
        span.scroll-down {
            background-color: #FFF;
            display: none;
            height: 20px;
            overflow: hidden;
            position: absolute;
            visibility: hidden;
            &:hover {
                background-color: $background-color;
            }
        }
        span.scroll-up:hover span.scroll-up-arrow {
            border-color: transparent transparent $font-color transparent;
        }
        span.scroll-down:hover span.scroll-down-arrow {
            border-color: $font-color transparent transparent transparent;
        }
        %scroll-up-arrow {
            border-color: transparent transparent $border-color transparent;
            border-style: dashed dashed solid dashed;
            border-width: 6px;
            height: 0;
            left: 50%;
            margin-left: -6px;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 0;
        }
        span.scroll-up-arrow {
            @extend %scroll-up-arrow;
        }
        span.scroll-down-arrow {
            @extend %scroll-up-arrow;
            border-color: $border-color transparent transparent transparent;
            border-style: solid dashed dashed dashed;
            top: 8px;
        }
    }
}


.sm-rdta.navbar {
    // .sm-rdta.navbar ul (same as ul ul)
    ul {
        background-color: #FFF;
        border: 1px solid $border-color;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        color: $font-color;
        font-size: 80%;
        height: auto;
        min-width: 150px;
        top: ($mobile-screen-navbar-height/2);
        transition: none;
        width: auto;
        @media (min-width: $minimum-sidebar-breakpoint) {
            // .sm-rdta ul (in minimum sidebar breakpoint)
            position: absolute;
        }

        // .sm-rdta.navbar ul a
        a {
            color: inherit;
            font-size: inherit;
            padding: 0.625rem 0.313rem;
            &:hover,
            &.highlighted {
                background-color: transparent;
                color: inherit;
            }
        }
    }
    ul,
    ol {
        li {
            &::before {
                content: '';// fix sanitize v.12 that mess up top navbar space.
            }
        }
    }
}


@media (min-width: $minimum-sidebar-breakpoint) {
    // copied from https://www.smartmenus.org/docs/#styling-menus
    /* Switch to desktop layout
    -----------------------------------------------
       These transform the menu tree from
       collapsible to desktop (navbar + dropdowns)
    -----------------------------------------------*/
    /* start... (it's not recommended editing these rules) */
    .sm-rdta ul{position:absolute;width:12em;}
    .sm-rdta li{float:left;}
    .sm-rdta.sm-rtl li{float:right;}
    .sm-rdta ul li,.sm-rdta.sm-rtl ul li,.sm-rdta.sm-vertical li{float:none;}
    .sm-rdta a{white-space:nowrap;}
    .sm-rdta ul a,.sm-rdta.sm-vertical a{white-space:normal;}
    .sm-rdta .sm-nowrap > li > a,.sm-rdta .sm-nowrap > li > :not(ul) a{white-space:nowrap;}
    /* ...end */
}