/*!
* ----------------------------------------------------------------------------------------------
* _button.css
* ----------------------------------------------------------------------------------------------
*/


@import '../global-vars/_form.css';
@import '../global-vars/_button.css';


a.rd-button,
.rd-button {
    text-decoration: none;
}

a.rd-button.danger, 
a.rd-button.info, 
a.rd-button.primary, 
a.rd-button.success, 
a.rd-button.warning,
.rd-button.danger,
.rd-button.info,
.rd-button.primary,
.rd-button.success,
.rd-button.warning {
    color: var(--rdta-button-styled-text-color);
}

a.rd-button.danger:disabled, 
a.rd-button.danger.disabled, 
a.rd-button.info:disabled, 
a.rd-button.info.disabled, 
a.rd-button.primary:disabled, 
a.rd-button.primary.disabled, 
a.rd-button.success:disabled, 
a.rd-button.success.disabled, 
a.rd-button.warning:disabled, 
a.rd-button.warning.disabled,
.rd-button.danger:disabled,
.rd-button.danger.disabled,
.rd-button.info:disabled,
.rd-button.info.disabled,
.rd-button.primary:disabled,
.rd-button.primary.disabled,
.rd-button.success:disabled,
.rd-button.success.disabled,
.rd-button.warning:disabled,
.rd-button.warning.disabled {
    color: var(--rdta-button-disabled-styled-text-color);
}


/* button styles */
a.rd-button.danger,
.rd-button.danger {
    background-color: var(--rdta-text-danger-color);
    border-color: var(--rdta-button-danger-border-color);
    box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-danger-3d-edge-color);
}
a.rd-button.danger:active, 
a.rd-button.danger.active,
.rd-button.danger:active,
.rd-button.danger.active {
    box-shadow: 0 var(--rdta-tpf-button-3d-pressed-height) 0 var(--rdta-button-danger-3d-edge-color);
}
a.rd-button.danger:disabled, 
a.rd-button.danger.disabled,
.rd-button.danger:disabled,
.rd-button.danger.disabled {
    background-color: var(--rdta-background-danger-disabled-color);
    border-color: var(--rdta-button-danger-disabled-border-color);
    box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-danger-disabled-3d-edge-color);
}

a.rd-button.info,
.rd-button.info {
    background-color: var(--rdta-text-info-color);
    border-color: var(--rdta-button-info-border-color);
    box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-info-3d-edge-color);
}
a.rd-button.info:active, 
a.rd-button.info.active,
.rd-button.info:active,
.rd-button.info.active {
    box-shadow: 0 var(--rdta-tpf-button-3d-pressed-height) 0 var(--rdta-button-info-3d-edge-color);
}
a.rd-button.info:disabled, 
a.rd-button.info.disabled,
.rd-button.info:disabled,
.rd-button.info.disabled {
    background-color: var(--rdta-background-info-disabled-color);
    border-color: var(--rdta-button-info-disabled-border-color);
    box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-info-disabled-3d-edge-color);
}

a.rd-button.primary,
.rd-button.primary {
    background-color: var(--rdta-text-primary-color);
    border-color: var(--rdta-button-primary-border-color);
    box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-primary-3d-edge-color);
}
a.rd-button.primary:active, 
a.rd-button.primary.active,
.rd-button.primary:active,
.rd-button.primary.active {
    box-shadow: 0 var(--rdta-tpf-button-3d-pressed-height) 0 var(--rdta-button-primary-3d-edge-color);
}
a.rd-button.primary:disabled, 
a.rd-button.primary.disabled,
.rd-button.primary:disabled,
.rd-button.primary.disabled {
    background-color: var(--rdta-background-primary-disabled-color);
    border-color: var(--rdta-button-primary-disabled-border-color);
    box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-primary-disabled-3d-edge-color);
}

a.rd-button.success,
.rd-button.success {
    background-color: var(--rdta-text-success-color);
    border-color: var(--rdta-button-success-border-color);
    box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-success-3d-edge-color);
}
a.rd-button.success:active, 
a.rd-button.success.active,
.rd-button.success:active,
.rd-button.success.active {
    box-shadow: 0 var(--rdta-tpf-button-3d-pressed-height) 0 var(--rdta-button-success-3d-edge-color);
}
a.rd-button.success:disabled, 
a.rd-button.success.disabled,
.rd-button.success:disabled,
.rd-button.success.disabled {
    background-color: var(--rdta-background-success-disabled-color);
    border-color: var(--rdta-button-success-disabled-border-color);
    box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-success-disabled-3d-edge-color);
}

a.rd-button.warning,
.rd-button.warning {
    background-color: var(--rdta-text-warning-color);
    border-color: var(--rdta-button-warning-border-color);
    box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-warning-3d-edge-color);
}
a.rd-button.warning:active, 
a.rd-button.warning.active,
.rd-button.warning:active,
.rd-button.warning.active {
    box-shadow: 0 var(--rdta-tpf-button-3d-pressed-height) 0 var(--rdta-button-warning-3d-edge-color);
}
a.rd-button.warning:disabled, 
a.rd-button.warning.disabled,
.rd-button.warning:disabled,
.rd-button.warning.disabled {
    background-color: var(--rdta-background-warning-disabled-color);
    border-color: var(--rdta-button-warning-disabled-border-color);
    box-shadow: 0 var(--rdta-tpf-button-3d-height) 0 var(--rdta-button-warning-disabled-3d-edge-color);
}
/* end button styles */


/* button sizes */
a.rd-button.large,
.rd-button.large {
    font-size: var(--rdta-form-large-font-size);
}
a.rd-button.small,
.rd-button.small {
    font-size: var(--rdta-form-small-font-size);
}
a.rd-button.tiny,
.rd-button.tiny {
    font-size: var(--rdta-form-tiny-font-size);
}
/* end button sizes */


/* button group */
.rd-button-group {
    display: inline-flex;
    position: relative;
}
.rd-button-group menu, .rd-button-group ul {
    display: none;
}
.rd-button-group .rd-button + .rd-button {
    margin-left: -1px;
}
/* end button group */