/*!
* ----------------------------------------------------------------------------------------------
* _form-input-range.css
* ----------------------------------------------------------------------------------------------
* form > input[type="range"]
*/


.rd-input-range-with-datalist {
    display: block;
}

.rd-input-range-with-datalist .rd-input-range-custom-ticks-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: calc(100% - (15px));/* 15 px is input range thumb size. refer from typo-and-form/_form-input-range.css file. */
}

.rd-input-range-with-datalist .rd-input-range-custom-ticks-container > .rd-input-range-custom-tick {
    padding: 0;
    position: absolute;
}
.rd-input-range-with-datalist .rd-input-range-custom-ticks-container > .rd-input-range-custom-tick::before {
    border-left: 1px solid var(--rdta-tpf-input-range-thumb-border-color);
    content: "";
    display: block;
    min-height: 10px;
}