/*!
RDTA tooltips.
*/


.rdta-tooltips {
    background: #222;
    border-radius: 4px;
    color: white;
    display: none;
    font-size: 90%;
    font-weight: normal;
    position: absolute;
    left: 0;
    padding: 5px;
    top: 0;
    width: max-content;
}


.rdta-tooltip-arrow {
    background: #222;
    height: 8px;
    position: absolute;
    transform: rotate(45deg);
    width: 8px;
}
