

.rd-columns-flex-container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
}

.rd-columns-flex-container.fix-columns-container-edge {
    margin-left: calc(var(--rdta-block-element-margin-horizontal) * -1);
    margin-right: calc(var(--rdta-block-element-margin-horizontal) * -1);
}

.rd-columns-flex-container .column {
    align-self: flex-start;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;/* fix table push column over screen. */
    padding: 0 var(--rdta-block-element-padding-horizontal);
}

.rd-columns-flex-container .column-break {
    flex-basis: 100%;
    page-break-after: always;
}

.rd-columns-flex-container [class*=col-]:nth-child(12) {
    page-break-after: always;
}

.rd-columns-flex-container [class*=col-sm-],
.rd-columns-flex-container [class*=col-md-],
.rd-columns-flex-container [class*=col-lg-],
.rd-columns-flex-container [class*=col-xl-] {
    flex: 0 0 100%;
    max-width: 100%;
}

